[2013-11-21 15:47] bermud opened #1 "Test Issue"

[2013-11-21 15:50] bermud opened #2 "Test Issue"

[2013-11-21 16:28] #1 closed, assigned to nobody

[2013-11-22 21:52] bermud opened #3 "Release WMS 1.1.1 in Beta"
Four new fixes are available in wms-1.1.1-r4-SNAPSHOT in trunk
- CITE-892: Invalid requests
- CITE-891: Color and alpha tests fail
- CITE-886: DTD does not match
- CITE-828: Broken SRS parameter in some tests

Need to verify with submitters and RI

[2013-11-22 22:01] bermud opened #4 "Release SOS 1.0.0 Hot Fix tag 10"

[2013-11-22 22:05] bermud opened #5 "Release WPS 1.0.0 r2 in Beta"
### Prepare revision in trunk
- [x] verify documentation
- [ ] verify release notes
- [ ] verify conformance classes an ATS
### Tag trunk
- [ ] Tag trunk
- [ ] Update/commit config file with new revision number

Needs a corrigendum. Waiting for the WG to finish 2.0.

[2013-12-02 18:09] bermud opened #6 "Release CSW 2.0.2 r9 in Beta"
Issue CITE-582

[2013-12-02 19:53] #6 closed, assigned to bermud

[2013-12-02 19:54] #4 closed, assigned to nobody

[2013-12-02 22:37] bermud opened #7 "Release CSW 2.0.2 r9 in Prod"

[2013-12-04 02:33] bermud opened #8 "Template for Test Releases"
Title: Release WWW rnn in Beta
### Fixes to be included:
- issue #..
### Release Tasks
- [ ] Release in Beta TE
- [ ] Update milestone
- [ ] Communicate release in forum
- [ ] Verify release with RI (if there is one)
- [ ] if problem, tag release as **release-status: failed** and **STOP** here
### Verify Issue is Fixed #..
- [ ] Verify fix with submitter - if problem, tag release as **release-stat

[2013-12-04 10:33] bermud opened #9 "test not checking version of the service"
service is only checking for 1.0 and not 2.0

[2013-12-04 12:00] #2 closed, assigned to nobody

[2013-12-04 19:45] #8 closed, assigned to nobody

[2013-12-04 19:49] #9 closed, assigned to bermud2

[2013-12-04 20:00] bermud opened #10 "Release SOS 1.0.0 r11 in Beta"
Issue 908

[2013-12-04 20:03] bermud opened #11 "Release WFS 1.1.0 r14 in Beta"
fix for:
- CITE-652
- CITE-794
- CITE-898 (BBOX in WGS84; affects wfs-1.1.0-Basic-GetFeature-tc8.2).

[2013-12-04 20:58] bermud opened #12 "Release GML 3.2.1 r12 in Beta"
### Summary
- Added tests for gml:Curve geometries containing the following types of curve segment: GeodesicString/Geodesic, ArcString/Arc/Circle, ArcByCenterPoint/CircleByCenterPoint.
- Added tests for gml:CompositeCurve, vml:OrientableCurve.
- Updated dependency: geomatics-geotk-1.4.
### Tasks
- [ ] Replace ets-gml-3.2.1-r12.jar
- [ ] Replace geomatics-geotk-1.4.jar
- [ ] Remove old jars
- [ ] U

[2013-12-04 21:38] #10 closed, assigned to nobody

[2013-12-04 21:38] #11 closed, assigned to nobody

[2013-12-04 21:38] #12 closed, assigned to bermud

[2013-12-05 16:06] bermud opened #13 "Release WMS 1.3 r8 in Beta"
Fixed 912 handling of queryable attribute in GFI requests.

[2013-12-05 16:15] bermud opened #14 "Release WMS 1.3 r7"

[2013-12-06 00:40] bermud opened #15 "Meeting 2013-12-09"
## Agenda
### Per Participant
- Any test ready for release in beta?
- What will you work on this week?
- Any issues?
### Discussion
- WMS 1.1 dtd  http://lists.opengeospatial.org/pipermail/cite-forum/2013-December/001170.html
- Issues workflow #16

[2013-12-06 00:41] bermud opened #16 "Issues Workflow"
![cite issue management workflow](https://f.cloud.github.com/assets/3738898/1688814/56822644-5e10-11e3-8f3f-045bf6e27d7a.png)

[2013-12-06 16:10] bermud opened #17 "Release CSW 2.0.2 r10 in Beta"
-  CITE-901: GetCapabilities, DescribeRecord schemaLanguage parameter value ambiguity

[2013-12-06 16:13] bermud opened #18 "Release WFS 1.1.0 r15 in Beta"
- CITE-915 - check if idgen is supported for transactions
- CITE 898 - Reversed fix for 898 until WG provides better guidance.

[2013-12-06 16:17] bermud opened #19 "Release WMS 1.1.1 r5 in Beta"
- Fixed CITE-913: Image parser for wms:wmsops-getmap-params-exceptions-5 and wms:wmsops-getmap-params-exceptions-6

[2013-12-09 15:33] bermud opened #20 "Relase WFS 2.0 r13 to Beta"
- CITE 890
-  latest release of GML test suite

[2013-12-09 15:34] bermud opened #21 "Release GML 3.2.1 r12 in Beta"
- support curve geometries

[2013-12-10 10:19] #21 closed, assigned to nobody

[2013-12-10 12:28] #13 closed, assigned to bermud

[2013-12-10 12:29] #17 closed, assigned to bermud

[2013-12-10 12:29] #18 closed, assigned to bermud

[2013-12-10 12:29] #19 closed, assigned to bermud

[2013-12-11 02:40] bermud opened #22 "Template for New Tests"
- [ ] Create an issue for a new release (New Test xyz in Beta)
- [ ] Mark at the end of the title "w#WeekNumber"
- [ ] Verify with reference implementation 1 (URL)
- [ ] Verify with reference implementation 2 (URL)
- [ ]  ..
- [ ]  Communicate with the CITE SC (Wait one week)
- [ ]  Create a vote to the TC ( Wait one month)
- [ ]  Check with OAB
- [ ] Move to production

[2013-12-11 02:49] bermud opened #23 "New SLD - w#51"

[2013-12-17 14:53] #20 closed, assigned to bermud

[2014-01-07 10:26] bermud opened #24 "Release CSW 2.0.2 ebRIM I15"

[2014-01-16 14:07] #3 closed, assigned to bermud

[2014-01-16 14:08] #14 closed, assigned to nobody

[2014-01-16 14:16] bermud opened #25 "Release WFS 1.1.0 r16 in Beta"
Resolved CITE-898 (BBOX in WGS84). Order of default request should be long, lat (x,y).

[2014-02-07 19:12] #25 closed, assigned to nobody

[2014-02-07 19:13] bermud opened #26 "Release WFS 1.1.0 r17 in Beta"
- Accepted 6215 commit  - Resolving CITE-898 issue (BBOX in WSG84).
- Fixed issue CITE 914, 916 - XSLT compile issue due to a text comment.
- Added a note in the welcome main form to the reference implementation page.

[2014-02-11 21:30] bermud opened #27 "Release WMS 1.3 Client - r4 in Beta"

[2014-02-11 22:37] #5 closed, assigned to bermud

[2014-02-11 22:37] #26 closed, assigned to nobody

[2014-02-11 22:37] #27 closed, assigned to nobody

[2014-02-12 18:05] bermud opened #28 "Release WFS 2.0 r14 in Beta"

[2014-02-12 18:05] bermud opened #29 "Release GML 3.2.1 r13 in Beta"

[2014-02-20 22:37] bermud opened #30 "Release WMS 1.1.1 r6 in Beta"
[CITE 923](https://portal.opengeospatial.org/?m=projects&a=view&project_id=85&tab=5&act=details&issue_id=923)

[2014-02-28 19:08] bermud opened #31 "Release WCS 1.0.0 r6 in beta"
- Fixed CITE-919: Added function wcs:coords-from-envelope to extract coordinates from gml:Envelope (wcs-functions.xml).
- Fixed VAR_WCS_COVERAGE_1_POSITION_FIRST and VAR_WCS_COVERAGE_1_POSITION_SECOND variables to allow for multiple occurrences of gml:Envelope (in wcs:spatialDomain context).
- Fixed CITE-778: Encode coverage names using XPath function encode-for-uri.
- Fixed type restriction error

[2014-02-28 22:08] #31 closed, assigned to nobody

[2014-04-11 16:56] bermud opened #32 "Update saxon library"
TE is using and old saxon library  Saxon-B  9.0.0.8. It should be update to use 9.2 or later.

[2014-04-18 10:38] bermud opened #33 "Assembly for integration testing"
- Should build TE_BASE
- Structure should not require to change the ITSuite.java code

![java_-_csw-2_0_pom_xml_-_eclipse_-__users_lbermudez_documents_workspace](https://cloud.githubusercontent.com/assets/3738898/2741308/fd321bf0-c6e5-11e3-864d-6c1ddc9375b5.png)

[2014-04-18 10:47] #29 closed, assigned to nobody

[2014-04-18 10:47] #28 closed, assigned to nobody

[2014-04-18 10:47] #23 closed, assigned to nobody

[2014-04-18 10:47] #15 closed, assigned to nobody

[2014-04-18 10:48] #7 closed, assigned to bermud

[2014-04-18 10:51] bermud opened #34 "Name of artifacts and versions for tests in maven"
The TEST suites name are like this: csw 2.0.2 r10
The artifactId can be csw-2.0.2 and version r10
Or
The artifactId can be csw and version 2.0.2-r10

What should be the name?

[2014-06-10 18:22] #24 closed, assigned to nobody

[2014-06-10 18:25] #30 closed, assigned to nobody

[2014-06-10 18:43] #22 closed, assigned to nobody

[2014-06-10 18:45] #34 closed, assigned to nobody

[2014-06-10 18:47] #16 closed, assigned to nobody

[2014-06-10 18:50] #33 closed, assigned to nobody

[2014-06-14 07:04] tanvi-shah opened #36 "In TEAM engine web application,the team engine config file entry for the namespace-uri and local-name elements must identify the ctl:suite element (@name) in the CTL script"
If the 'local-name' element of the config file, has a value different than the ctl:suite element (@name) in the CTL file, then the web application, cannot find the XHTML file that needs to be loaded (in Test.jsp page) after the session for a particular test is created (in CreateSession page).

[2014-06-18 10:10] bermud opened #37 "When TE_BASE is not setup properly"
If TE_BASE is not declared in setenv.sh as this:

export CATALINA_OPTS='-server -Xmx1024m -XX:MaxPermSize=128m -DTE_BASE=$TE_BASE'

It will throw an error like this:

SEVERE: Error initializing resources: The alias location '${TE_BASE}/resources/docs' does not exist
Jun 17, 2014 6:31:13 PM org.apache.catalina.core.StandardContext startInternal
SEVERE: Error getConfigured
Jun 17, 2014 6:31:13 PM or

[2014-06-19 14:06] bermud opened #38 "Session not starts properly in TE web service"
## Session not starts properly when:
 - user start a test
 - the form doesn't shows. Wheel spins forever.
 - And the user stops the process

## Version: 4.0.5

##  Console error
Jun 19, 2014 11:12:32 AM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [test] in context with path [/teamengine] threw exception [java.lang.NullPointerException] with root cause

[2014-06-19 14:08] bermud opened #39 "Improve reporting for consistency and profiles"
See the wiki:
https://github.com/opengeospatial/teamengine/wiki/Reporting-for-TEAM-Engine-5.0

[2014-06-19 17:05] bermud opened #40 "site from TE_BASE not reloading"
The site folder contatins the welcome.html and footer.html. It is usually located at TE_BASE/resources. But is not reloading and the information is not being used. TE is taking this information from the *site* folder located at the web application (teamengine/site).

[2014-06-24 18:35] bermud opened #41 "testng-report.xsl - Fail Icons"
scr -> teamengine / teamengine-spi / src / main / resources / testng-report.xsl

Paul D. reported this issue on June 24 2014

        <xsl:variable name="notSigHasFailCount" select="count(./class/test-method[@status='FAIL' and not(starts-with(@signature,'has'))])"/>

        <div class="{if ($notSigHasFailCount > 0)
          then 'testCaseFail'
          else if (($notSigHasFailCount = 0) and (co

[2014-06-26 14:20] bermud opened #42 "Add capability to better manage sessions, including deletion"
On the  viewSessions.jsp:

## Add capability to delete sessions
Add the delete button on the right, like another column, but not enclosed in cell

## Add date of the session
For every session add a date and time when the session was run (in UTM is ok)

## Add a better name
For every session provide a better name and version of the test, similar to the text in the Welcome page

## Suggestion Server

[2014-07-21 15:43] bermud opened #44 "Incorrect verdict count in console summary"
Need to check if the reported issue [1] is a TEAM Engine issue

[1] http://lists.opengeospatial.org/pipermail/cite-forum/2014-July/001319.html

[2014-07-24 21:11] bermud opened #45 "TE Log.xml need to clearly report conformance classes"
Logs should explictly report the confromance classes that have been tested and
the result. Currently is not easy to extract these information.
Maybe the results in the log.xml file should look something like:

[code]

This may also require to provide some extra documentation in the main ctl or
configuration file.
[Originally reported in the OGC CITE issue tracker: issue #851](https://portal.openge

[2014-07-24 21:22] bermud opened #46 "Enable TEAM Engine to access protected resources (authentication)"
Some servers are protected. And there are several scenarios.
- HTTP Authentication (requires username and password)
- certificate-based authentication (requires X.509 certificate)

**HTTP Authentication**
- Initially reported in the OGC CITE issue tracker: issue #852
  https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue issue_id=852
- Related to this issue:
  https://gi

[2014-07-24 21:25] bermud opened #47 "TestNG results includes reporter output for multiple test runs"
When using the REST API, the <reporter-output> element in the TestNG results contains info about multiple test runs, not just the most recent one. For example, upon executing the KML and GML test suites this appeared in the report:

[code]

It contains output from **both** test runs. So perhaps the TestNG Reporter API is not thread safe.
[Originally reported in the OGC CITE issue tracker: issue #9

[2014-08-20 13:53] bermud opened #50 "Update documentation"
http://opengeospatial.github.io/teamengine/installation.html
and
https://github.com/opengeospatial/teamengine/tree/new-te/doc/en
and
https://github.com/opengeospatial/teamengine/pull/49

[2014-09-12 19:54] jdeolive opened #51 "Add cite maven repository to root pom"
More of a question but I am curious as to why not just add the cite maven repository to the root pom rather than make the user set up a profile for it?

The new project structure is looking great btw guys!

[2014-09-12 22:01] aaime opened #52 "Saxon dependency cannot be found in maven central"
Build failure:

[code]

The only version I could find is:
http://search.maven.org/#artifactdetails%7Cnet.sourceforge.saxon%7Csaxon%7C9.1.0.8%7Cjar

[2014-09-13 17:19] #51 closed, assigned to nobody

[2014-09-13 17:19] #52 closed, assigned to nobody

[2014-09-17 15:29] bermud opened #56 "Remove the need to update the main config file"
The **config.xml** file under TE_BASE should be removed. TEAM Engine should be able to get these information from the config files under each test located under the **scripts** folder.

Is too much work to update this every time you are installing or making a new revision of the test.

If we don't want to make a test available in TEAM ENGINE, then maybe we can add an element in the config.xml, tha

[2014-09-19 13:08] tanvi-shah opened #57 "GML 3.2 reporting doesn't support multithreading"
When you run multiple GML tests simultaneously, the test report bleeds amongst the threads.
Also when you run a single GML test, the reporter-output appends the reporter-output of the earlier tests to GML tests's reporter-output

[2014-09-19 13:11] tanvi-shah opened #58 "KML 2.2 reporting doesn't support multi threading"
When you run multiple KML tests simultaneously, the test reports bleed. (Check reporter-output screen when multiple threads run simultaneously)

[2014-09-19 13:13] tanvi-shah opened #59 "In Teamengine Web-Application the 'stop' button in the header breaks the test rather than stopping it"

[2014-09-25 20:25] bermud opened #60 "error in createSession.jsp when installing default configuration"
When installing TEAM Engine  using the default configuration, without installing any additional tests the following error occurs:

[code]

[2014-09-25 20:26] #60 closed, assigned to bermud

[2014-09-30 18:54] bermud opened #62 "missing cite1-utils jar"
Some old tests (more than one WMS 111, WCS 100) require cite1-utils, which is available at
https://svn.opengeospatial.org/ogc-projects/cite/maven/org/opengis/cite/cite1-utils/

We need to make it available when teamengine gets build.

Please update pom.xml. Not sure which one? Maybe the pom at TE core?

[2014-10-15 16:22] rjmartell opened #63 "Mangled test names in TestNG report (acronyms not supported)"
Some test names displayed in TestNG reports are incomprehensible. Mangled names have been observed in at least two test suites (see screenshots below).

![report-gml32](https://cloud.githubusercontent.com/assets/1653506/4649039/1e7f6234-5487-11e4-8a0a-a71aa08e9697.png)

![report-wfs20](https://cloud.githubusercontent.com/assets/1653506/4649042/279d45ca-5487-11e4-87f8-e96de0b8db80.png)

[Recent mod

[2014-10-17 21:34] rjmartell opened #64 "XMLValidatingParser requires a schema reference"
According to the CTL Best Practices document ([OGC 06-126](http://portal.opengeospatial.org/files/?artifact_id=33085)), the parsers:schemas element is optional in `parsers:XMLValidatingParser`. However, when it is omitted an error arises ("Document is invalid: no grammar found").

The desired behavior is that if no schemas are provided then an attempt will be made to use the schema location hints

[2014-10-17 21:47] #62 closed, assigned to rjmartell

[2014-10-21 21:46] #58 closed, assigned to nobody

[2014-10-21 21:49] #57 closed, assigned to nobody

[2014-10-22 15:39] #36 closed, assigned to rjmartell

[2014-10-23 17:23] bermud opened #65 "One test with two concurrent users inconsistent results"
When I run jmeter one test (iso 19139 test suite) with the concurrent users, I get different results. See skipped, passed, failed values.

Maybe related to issue #47

![pastedgraphic-3](https://cloud.githubusercontent.com/assets/3738898/4757724/d3ef6a5e-5ad8-11e4-91e5-299d5177ea19.png)
![pastedgraphic-4](https://cloud.githubusercontent.com/assets/3738898/4757727/d856535a-5ad8-11e4-9cb6-b21705d5273

[2014-11-05 00:11] rjmartell opened #66 "Prohibit anonymous test execution using the REST API"
Authenticate all agents that submit requests to execute a test suite using the REST API. Perhaps this can be done preemptively using the HTTP "basic" authentication scheme (see [RFC 7235](http://tools.ietf.org/html/rfc7235)) over TLS (i.e. `https`).

[2014-11-21 08:08] bierett opened #68 "Overall test result is incorrect when subtest fails"
@rjmartell

Regarding to issue https://github.com/opengeospatial/ets-wms11/issues/14 of `ets-wms11` I get the same error for `ets-wmts10`.

The final result `log.xml` shows

[code]

the testlist.xml shows that at least some of them are not passing (`result !=1`)

[code]

I thought, that it is a Team Engine issue.

[2014-11-26 17:55] rjmartell opened #69 "Move register link to welcome page"
This link is currently found on the login page, but it makes more sense to place it alongside the "Login" link on the welcome page to make the choice more obvious:

"Login" or "Create an account"

Also, if the authentication mechanism is ever changed from form-based authentication there is an accessible link on the main page to create an account.

[2014-11-27 17:38] #68 closed, assigned to rjmartell

[2014-12-02 22:20] #69 closed, assigned to nobody

[2014-12-04 19:23] rjmartell opened #70 "Incorrect verdict reported in console output"
When running a test suite using the console (CLI) application, the overall verdict is incorrect. For example, the following snippet is extracted from the results for the `note.ctl` suite:

            Test note:check-user Failed
        Test note:main Failed
    Suite note:note-test Failed

The actual result code shown in the test log (log.xml) for the starting test is correct: 5 (inherited failur

[2014-12-04 23:19] #64 closed, assigned to nobody

[2014-12-05 18:14] rjmartell opened #71 "Error message not shown in TestNG report"
The error message corresponding to a failing test method is not displayed in the TestNG report. For example, running the GML validator against the AIXM 5.1 schema produces the following report:

![gml-no-error](https://cloud.githubusercontent.com/assets/1653506/5320440/f97cc820-7c66-11e4-92a3-0fabffc60f30.png)

However, the message does appear in the raw TestNG results:

[code]

In TEAM-engine 4.0

[2014-12-08 17:40] bermud opened #72 "Create test to test reports"
Create (unit) tests with reference implementations or "light servers", with dummy tests suites (or real ones) to test any changes in TEAM Engine, in particular to test the content of the reports.

[2015-01-06 14:09] tanvi-shah commented on #71
Hi Richard

Could you please send me the XML which you tested against the GML validator. We tested with the XML's that we had and we weren't getting blank reason for failure. Hence will need the XML you tested to reproduce the issue. Please see the attached screen shots.
![screenshot from 2014-12-24 14_40_10-2](https://cloud.githubusercontent.com/assets/7500215/5629605/7dda13ec-95db-11e4-868a-e23e

[2015-01-06 14:12] tanvi-shah commented on #63
Hi, Upendra has resolved the name mangled issue. We have checked it for GML and KML tests. Please see the attached screen shots.
![for kml](https://cloud.githubusercontent.com/assets/7500215/5629687/2b41b33c-95dc-11e4-86da-6c95a27ea56d.png)
![for gml](https://cloud.githubusercontent.com/assets/7500215/5629688/2bd779bc-95dc-11e4-9fb2-ce4b6ff77505.png)

[2015-01-07 19:23] rjmartell opened #74 "TestRunResource produces 500 error response if IllegalArgumentException is thrown"
Since this exception usually indicates an invalid request (e.g. missing test run arguments), the status code should be 400 (Bad Request). In the executeTestRun method any `RuntimeException` will produce a 500 error response, whereas a general `Exception` gives rise to a 400 response.

[2015-01-07 19:30] rjmartell commented on #74
In the REST API exceptions should be mapped to error status codes as follows:

| Exception class | HTTP status code |
| --------|---------|
| IllegalArgumentException  | 400   |
| Exception  | 500   |

[2015-01-15 14:51] bermud commented on #70
We need to create unit tests to verify the fixes on these type of issues. See #72.

[2015-01-21 19:53] rjmartell commented on #71
Tanvi,

I ran the current GML test suite release (r18) against the AIXM 5.1 application schema. It's available from the AIXM web site here: http://www.aixm.aero/gallery/content/public/AIXM51/AIXM-5-1-20100201-xsd.zip.

Note: I see you were running r14. The latest ETS release can be obtained from [GitHub](https://github.com/opengeospatial/ets-gml32).

[2015-02-05 14:03] tanvi-shah opened #76 "WMS Test Log file names are hardcoded in TEAM Engine"
Hardcoded in the following files:

 teamengine/teamengine-web/src/test/java/com/occamlab/te/web/CoverageMonitorTest.java
 teamengine-web/src/main/resources/coverage/
 teamengine/teamengine-resources/src/main/resources/com/occamlab/te/logstyles/result-log.xsl

[2015-02-05 14:18] tanvi-shah opened #77 "Mismatch of test results displayed on the console and in the web page"
The result of the tests obtained via console and via web are different.
This is because on console:
If the child test fails and parent test passes then the Parent test's final result is : PASS

Whereas in web:
If the child test fails and parent test passes then the Parent test's final result is : FAIL

This issue has been reproduced for the following tests (This may be reproducible for all other C

[2015-02-10 17:36] rjmartell opened #79 "Unit test fails when feature-client-test-enhancement branch merged to master"
In a local repository I was able to merge the `feature-client-test-enhancement` branch to master. However, the build attempt did not succeed due to a failing unit test (TECoreTest::testNestedFailure):

[code]

[2015-02-11 09:01] #79 closed

[2015-02-11 19:22] #74 closed

[2015-02-12 14:43] tanvi-shah opened #80 "WFS 1.0.0 : Test goes in resume mode if non comforming metadata is passed as an Argument to the test"
The results should show why the test failed instead of going in the resume mode.

[2015-02-12 15:52] bermud opened #81 "TEAM Engine 5.0 new report"
Related to #39  and #45

The report should have at least these elements and be very simple to understand.

# Main page for report
## Summary Results
- Test Name
- Test id
- Test version
- Test date
- Basic Conformance Classes
- Test input
   - $key $value
- Result
   - Number of conformance classes tested:
   - Passed core (can be certified) ?
   - Number of conformance class passed?
   - Number o

[2015-02-13 15:07] bermud opened #82 "Test all test suites for 4.1for OGC release in Beta"
Status tests for 4.1 release in OGC Beta Test Site

- [x] w3c xml note (default) OK 0213
- [x] cat 20 1.11 (http://23.21.100.193/gi-cat-RI/services/cswiso?service=CSW&version=2.0.2&request=GetCapabilities) - OK 0213
- [x] cat30 0.2
- [x] gml 32 3.2.1-r18 - http://schemas.geosciml.org/borehole/3.2/borehole.xsd  (not building in some environments? See GML issue 6)
- [x] kml 22 - 2.2-r11 (https://dev

[2015-02-24 04:36] shane-axiom opened #83 "Build fails if TE_BASE/config.xml doesn't exist"
The build is currently dependent on the user's environment, because it will fail if TE_BASE/config.xml doesn't exist. The offending code is in [SetupOptions.recordingInfo](https://github.com/opengeospatial/teamengine/blob/master/teamengine-core/src/main/java/com/occamlab/te/SetupOptions.java#L99).

Probably relevant to https://github.com/opengeospatial/teamengine/issues/56.

[2015-02-24 09:06] upendra-sachan commented on #83
Resolved this issue.

[2015-03-03 19:54] shane-axiom commented on #83
Sorry, this commit didn't fix the error when TE_BASE exists but TE_BASE/config.xml does not.

[2015-03-03 20:04] shane-axiom commented on #83
Pull request #85 should fix.

[2015-03-05 12:22] upendra-sachan commented on #59
Yes, It is a issue for all test when stopping the test from the upper right stop. The stop button at bottom of the test works fine. Because when we click upper right stop it call this method:

if (operation.equals("Stop")) {
                response.setContentType("text/xml");
                TECore core = (TECore) session.getAttribute("testsession");
                if (core != null) {

[2015-03-18 05:58] upendra-sachan opened #87 ""teamengine" (war name) is hardcoded in code"
The "teamengine" word, which is a war name, is hard-coded in many places. This creates an issue with deplyoing the war with different name.

Following is the example of hardcoded code : **ConfigFileBuilder.java.**

In this, it uses following lines:

public class ConfigFileBuilder {

    public static void main(String[] args) throws Exception {
        String home = "";
        String scriptsDir =

[2015-03-18 13:39] bermud commented on #87
Can you please fix this issue?. Im not sure the example code you provide is actually called when deploying team engine. Thank you.

[2015-03-20 18:32] rjmartell opened #88 "XMLValidatingParser throws NPE if DTD list is null"
The XMLValidatingParser#validateAgainstDTDList method requires a list of DTD schemas; otherwise a NullPointerException is thrown. This means that it is not possible to validate an instance using a schema reference in the DOCTYPE declaration, but doing this is required in some cases (see opengeospatial/ets-wms11#13).

The unit test `XMLValidatingParserTest#validateWithNullDTDList` demonstrates the

[2015-03-21 04:46] rjmartell commented on #88
Fixed for release 4.1.0.

[2015-03-21 04:46] #88 closed

[2015-04-01 13:58] bermud commented on #56
This python script, reads a config.xml from a test an updates the config xml from TE_BASE. Maybe it can be incorporated into TEAM ENGINE. https://github.com/opengeospatial/cite/blob/master/build/parse_configs.py

[2015-04-01 14:07] bermud commented on #87
Fixed with this commit https://github.com/opengeospatial/teamengine/commit/da03199bbe69a9f10955241c6715e76eed5816fb

[2015-04-01 14:07] #87 closed

[2015-04-01 14:10] bermud commented on #82
Done. Released Snapshot on beta on March 27

[2015-04-01 14:10] #82 closed

[2015-04-01 14:10] bermud commented on #81
Solution is being discussed here:
https://github.com/opengeospatial/teamengine/wiki/Reporting-for-TEAM-Engine-5.0

[2015-04-01 14:12] bermud commented on #72
A new repository was created to maintain integration test scripts
https://github.com/opengeospatial/teamengine-integration-testing
Discussion and issues will continue in that repository

[2015-04-01 14:12] #72 closed

[2015-04-01 14:15] bermud commented on #76
I think this was solved in https://github.com/opengeospatial/teamengine/issues/87
@upendra-sachan, Please re-open if this is not correct. Thank you!

[2015-04-01 14:15] #76 closed

[2015-04-01 14:22] bermud commented on #65
@upendra-sachan

I think we solved this issue a while back. Can you please provide the commit id and close. Thank you !

[2015-04-01 14:23] bermud commented on #40
Can you please cheek if this still the case. Thank you!

[2015-04-01 14:25] bermud commented on #37
@upendra-sachan, please fix as Richard suggested? We need to provide a good message to the user, if possible.

[2015-04-01 14:26] bermud commented on #42
Maybe this can be added as a functionality of the new reporting.

[2015-04-01 14:28] bermud commented on #45
@upendra-sachan, Please document how are we extracting the conformance classes form CTL tests, in order to generate the new reporting.

[2015-04-01 14:30] bermud commented on #38
It occurs, when I add a description for a test session, don't leave the form field and start the test.
Please investigate further.

[2015-04-01 14:31] bermud commented on #63
Great !

[2015-04-01 14:31] #63 closed

[2015-04-01 14:32] upendra-sachan commented on #76
Sure Luis.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com <blah@mindstix.com>
*Phone:* +91 8446253174
*Skype:* upendra.sachan1

On Wed, Apr 1, 2015 at 7:45 PM, Luis Bermudez <notifications@github.com>
wrote:

[2015-04-01 14:33] bermud commented on #59
Fixed with: https://github.com/opengeospatial/teamengine/commit/9539472571fceb938fad6c094e32c50dabaed000

[2015-04-01 14:33] #59 closed

[2015-04-01 14:34] bermud commented on #50
Documentation was updated here: https://github.com/opengeospatial/teamengine/tree/master/doc/en

[2015-04-01 14:34] #50 closed

[2015-04-01 14:35] upendra-sachan commented on #63
Thank you Luis.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com <blah@mindstix.com>
*Phone:* +91 8446253174
*Skype:* upendra.sachan1

On Wed, Apr 1, 2015 at 8:01 PM, Luis Bermudez <notifications@github.com>
wrote:

[2015-04-16 16:31] bermud commented on #38
@upendra-sachan  I have been able to replicate the issue as describe above. Please fix.

[2015-04-17 19:12] bermud opened #92 "custom site folder content not loading"
The TE_BASE/resources/site contains html content that should overwrite the content in teamengine/site; however this is not happening.

[2015-04-22 16:20] #38 closed

[2015-04-23 17:59] #92 closed

[2015-04-23 23:01] bermud commented on #42
Great Fixed #42 added the deletion capability! Please add the date and a better name.

[2015-04-23 23:03] bermud commented on #40
repeated #92 fixed.

[2015-04-23 23:03] #40 closed

[2015-04-24 20:50] #42 closed

[2015-04-24 20:52] bermud opened #95 "Improve how the sessions are displayed"
On the  viewSessions.jsp:

## Add date of the session
For every session add a date and time when the session was run (in UTM is ok)

## Add a better name
For every session provide a better name and version of the test, similar to the text in the Welcome page

[2015-04-28 08:44] DineshDhyani opened #96 "Inherited Failure on beta engine"
I am running wms 1.1.1 tests. I tried to replicate locally using 4.1.0 version (and tag 4.1.0b) and was successfully able to run tests without any inherited failure. However when I am trying to run it against Beta engine of OGC which has same version deployed it gives Result: Failed (InheritedFailure).

Not sure what the problem could be. Can anyone please help? I am using latest CTL file availabl

[2015-04-29 12:49] bermud commented on #96
Do you have a public endpoint that we can test. Thank you!

[2015-04-29 13:34] DineshDhyani commented on #96
http://182.71.43.203:8080/rest/Spatial/WMS?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.1.1  is the capability URL used against the public machine. Thanks.

[2015-04-29 21:21] bermud commented on #56
The solution was not ideal. The index.jsp file should not deal with this logic. The servlet TestServlet is initiated every time team engine is reloaded. The logic should be in the TestServlet  init method. The TE_BASE/scripts should be a Watched Resource.

[2015-04-29 21:37] #83 closed

[2015-04-29 21:46] bermud commented on #56
@upendra-sachan
The config file should be generated from scratch based on the tests under TE_BASE/scripts. Please do the following:

- Update the ConfigFileCreator accordingly.
- Create a unit test.

Make sure it works, adding and removing tests. Including simple tests, like note.ctl. Maybe we need to package the note.ctl as the other tests, since it doesn't contains its own config file.

[2015-04-29 22:19] bermud commented on #96
![pic 2015-04-29 at 6 18 54 pm](https://cloud.githubusercontent.com/assets/3738898/7402660/3bbee0cc-ee9c-11e4-9a71-a3ef403841b6.jpg)
![pic 2015-04-29 at 6 18 48 pm](https://cloud.githubusercontent.com/assets/3738898/7402661/3bc11da6-ee9c-11e4-8145-5de8926eed8e.jpg)

[2015-04-30 09:33] DineshDhyani commented on #96
Thanks Luis!.

[2015-04-30 12:22] bermud commented on #96
@DineshDhyani,  the link is not working any more. Can you please make it available again.Thank you.

[2015-04-30 12:46] DineshDhyani commented on #96
@bermud: Link should be working now. Apologies for disruption. Thanks.

[2015-04-30 14:17] bermud commented on #96
The issue was due to  a memory leak in the server. Restarting tomcat fixed the problem. Please try again http://cite.opengeospatial.org/te2/

[code]

[2015-05-01 04:52] DineshDhyani commented on #96
Thanks Luis. I can successfully run all test cases on beta site now.

we still have 2 test cases failing for certification link though....do we know when 4.1.0 will be deployed and can be used for certification?

[2015-05-01 18:13] #56 closed

[2015-05-05 07:31] DineshDhyani commented on #96
I am again facing this issue. Please refer  s0067 on beta site, inherited failure occuring  again.

[2015-05-05 09:56] bermud commented on #96
This is a different problem. We are investigating. Thank you for reporting.

[code]

[2015-05-05 13:03] bermud commented on #65
This issue was moved to https://github.com/opengeospatial/ets-19139/issues/7

[2015-05-05 13:03] #65 closed

[2015-05-11 16:45] bermud opened #98 "Invalid UTF-8 bytes in the description of the test"
Error:

[code]

[2015-05-12 09:42] DineshDhyani commented on #96
Hi Luis,
Is this issue fixed in the latest release of teamengine ?

Facing below 2 issues now for 4.0.5 version.
Request d1e11686_1:
   Method: get
   URL: http://182.71.43.203:8080/rest/Spatial/WMS?&LaYeRs=cite%3ABridges&SrS=EPSG%3A4326&BbOx=0,-0.0020,0.0040,0&WiDtH=100&ReQuEsT=GetMap&StYlEs=&HeIgHt=100&FoRmAt=image%2Fjpeg&VeRsIoN=1.1.1
Error in call to extension function {public org.w3c.dom.Node

[2015-05-13 20:48] bermud opened #100 "Allow to configure the users folder externally from TE_BASE"
At OGC and probably other deployment systems, the 'users' folder might not live in TE_BASE. Maybe a symlink exist. This makes it hard to automatically deploy. Make changes in the configuration so 'users' can be anywhere.

[2015-05-13 20:51] bermud opened #101 "Error in call to extension function com.occamlab.te.TECore - hard to debug"
Make changes in the code so better error messages are thrown.

For example WPS 1.0.0 revision 0.3 with 4.1b throws the following:

[code]

[2015-05-20 05:01] upendra-sachan commented on #100
Yes sure Luis,

I will look into this issue.

Thanks.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com <blah@mindstix.com>
*Phone:* +91 8446253174
*Skype:* upendra.sachan1

On Wed, May 20, 2015 at 12:29 AM, Luis Bermudez <notifications@github.com>
wrote:

[2015-05-21 13:27] #71 closed

[2015-05-21 22:11] bermud opened #102 "Create an admin page that shows statistics about the testers"
Create an admin.jsp that shows the statistics by reading the  team engine logs or users directory.

The statistics are for all the users

Statistics
=========

by Executions (Sessions)
-------------------------------------

Count number of times users have executed a run towards a particular test.

Test     |       Last Month  |   Last 3 Months |  Last Year | All times
--------- | ----------------

[2015-05-22 19:51] bermud opened #103 "Error when building teamengine - link to apidocs/package-list"
I'm getting this error, when building current master. TEAM Engine
 works fine. Its just annoying to see this error while builduing.

[ERROR] Error fetching link: /Users/lbermudez/te-build/teamengine/teamengine-core/target/apidocs/package-list. Ignored it.

Maybe something we can fix in the pom?

[2015-05-26 13:06] #100 closed

[2015-06-17 12:50] bermud commented on #102
Maybe better to have an independent script. This might slow down TE if it is part of the web app.

[2015-06-18 16:09] bermud commented on #100
Commit was removed from main branch. Solution was hard to implement.

[2015-06-18 16:13] bermud commented on #102
Changes will not be incorporated in master. Another repository with external code should be created to monitor TE.

[2015-06-18 16:15] #102 closed

[2015-06-18 18:52] bermud opened #104 "Update documentation to markdown"
- Current documentation is in xhtml. Need to move it to md to maintain it easily.
- Remove the need to update config file.

[2015-06-18 18:53] #104 closed

[2015-06-21 13:09] aaime opened #105 "Malformed pom.xml prevent single module build and use as dependency"
Trying to build a single teamengine module in isolation results in the following error:

{code}
aaime@hydra ~/devel/cite/engine/teamengine-web $ mvn clean install -nsu
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for org.opengis.cite.teamengine:teamengine-web:war:4.1.0
[WARNING] 'version' contains an expression but should be

[2015-06-22 12:37] bermud commented on #105
@upendra-sachan @rjmartell  can you please investigate?
Maybe the reason is that the modules have not been register in the maven repository?

[2015-06-22 12:50] upendra-sachan commented on #105
Ok, Luis

Thanks.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com <blah@mindstix.com>
*Phone:* +91 8446253174
*Skype:* upendra.sachan1

On Mon, Jun 22, 2015 at 6:07 PM, Luis Bermudez <notifications@github.com>
wrote:

[2015-06-22 12:54] aaime commented on #105
Hi, here is a tentative solution, following the same approach we use in GeoTools/GeoServer: https://github.com/opengeospatial/teamengine/pull/106
The version numbers need to be modified on release of course, but it's a quick matter of running something like:

[code]

[2015-06-22 13:31] bermud commented on #105
@aaime, Thank you for providing this solution!

[2015-06-22 14:21] bermud commented on #105
Fixed in master and 4.1.0 release (which will be officially release this week).
This command worked for me:
[code]

[2015-06-22 14:21] #105 closed

[2015-06-22 17:57] rjmartell opened #107 "Exception thrown when accessing main page (status code 500)"
<table>
<tr><th>Version(s) affected</th><td>4.1.0, 4.2-SNAPSHOT</td></tr>
<tr><th>Web container</th><td>Tomcat 7.0.5x</td></tr>
<tr><th>JDK</th><td>Oracle JDK 7</td></tr>
<tr><th>OS</th><td>Windows, Linux</td></tr>
</table>

When attempting to access the main page, an exception is thrown:

`org.apache.jasper.JasperException: /index.jsp (line: 13, column: 7) /header.jsp (line: 10, column: 17) File

[2015-06-26 13:48] bermud opened #108 "Too many open files - persistent storage and SXXP0003: Error reported by XML parser"
Got this error when performing the WMS 1.3 client test with TE 4.1 in a Linux Box

Console log:

[code]

[2015-06-26 13:48] bermud commented on #108
Richard responded:
You can use the lsof command to see what’s opening so many files.

<http://www.tecmint.com/10-lsof-command-examples-in-linux/>

 If necessary you can increase the allowed number of open files (how this is done depends on the Linux distribution).

[2015-06-26 13:49] bermud commented on #108
We increased the number of open files for tomcat from 1024 to 2048.

[2015-06-26 13:53] #108 closed

[2015-06-29 13:48] bermud opened #110 "Run TE via console in headless manner"
Provide a file to pass parameters to TEAM Engine instead of interacting with the user interface

From Andrea at [CITE forum](http://lists.opengeospatial.org/pipermail/cite-forum/2015-June/001505.html)

This approach has been used for several years in GeoServer nightly CITE
tests and it's based on a patch by Justin Deolivera, made in times when
contributing to the teamengine and cite tests was ...

[2015-06-29 13:55] bermud commented on #110
This will work to pass the initial parameters. How those it works for a test like WMS that requires the user feedback?

[2015-06-29 13:58] aaime commented on #110
Those are subsequent forms, we will be able to pass more than one. Right now we are just answering "yes" to those questions, it's hard to make a image comparator that would work cross server, and in some of the requests, it's not even a image comparison, it requires a human, so those checks are simply going to be skipped by the headless build.

The objective of the headless build is not to pass ce

[2015-06-29 14:51] bermud commented on #110
I understand the purpose.
Each form will have its own file. How do we tell TEAM Engine which file to use every time there is a need to pass values in the middle of the test?

[2015-06-29 14:59] aaime commented on #110
I am targeting the console, so we know which test will be run in advance, thus we can give a list of form files, to be used in sequence: ``-form=file1 -form file2 -form file3``

The web version is meant to be interactive and serve several different users, so I would not worry about it, the headless case is not a match for what the webapp does.

[2015-06-29 17:39] bermud commented on #110
Ok,  so the order of the files given as arguments should match the appearance of the forms in the UI.

Anybody knows of a clean way to get which form is being invoked? IT would be nice to include this information in the form xml (e.g. the [wms 1.3](https://github.com/geoserver/geoserver-cite-tools/blob/master/forms/wms-1.3.0.xml)), and not depend on the order. If not, writing the question (e.g. "D

[2015-06-29 18:53] bermud opened #111 "invoking external CTLs for profiles and extensions"
Profiles and extensions sometimes require to invoke other tests.

WMTS provides several profiles, but all in the same test  (see example [CTL](https://github.com/opengeospatial/ets-wmts10/blob/master/src/main/scripts/ctl/WMTS_ETS.xml>.))

[code]

We should be able to call other tests from a test in another test folder.

[2015-06-29 18:56] bermud commented on #111
Questions that need to be answered.
- Will the profile CTL invoke the test in an another folder or do we
need to put all CTLs in the same folder?
- Can a test be loaded via a url. In this way, tests will be able to share test functions and avoid duplicating functionality of CTL files.

[2015-06-29 20:53] bermud commented on #110
@rjmartell, @segoerke  and @upendra-sachan any thoughts about this proposal?

[2015-06-30 10:26] bermud opened #112 "incorrect inherit failure 4.1"
Incorrect Inherit Failures (parent fails and all children passes) have been presented sporadically in 4.1. After restarting TE it works fine.

Catalina logs and a user test logs can be downloaded [here](http://cite.opengeospatial.org/pub/cite/files/inherit-failures-te-201506.zip)

[2015-06-30 10:40] bermud commented on #107
Need to add a file:  title.html to the default site folder. Simple text, for example:
https://github.com/opengeospatial/teamengine-builder/blob/master/site/title.html

[2015-07-01 13:48] bermud opened #113 "'Execute this test again' button - not working in 4.1"
'Execute this test again' button is not working

Reported at:
http://lists.opengeospatial.org/pipermail/cite-forum/2015-July/001509.html

[2015-07-02 10:40] pebau commented on #111
Re Q1: putting test files of 10+ WCS extensions into one folder will likely become quite unwieldy.

In order to release the ~5 pending WCS extension tests let me suggest that we currently ignore cross-spec testing (Jin called this a "stub") and add this feature later once available.

[2015-07-03 09:25] aaime commented on #110
Any progress? Shall I move on as originally suggested?

[2015-07-03 17:58] bermud commented on #110
Yes. Please do. Thank you.

[2015-07-05 15:26] aaime commented on #110
Pull request here: https://github.com/opengeospatial/teamengine/pull/114

[2015-07-07 11:46] DineshDhyani opened #115 "Null pointer issue for wms 1.1.1 and wms 1.3.0 on teamengine."
I am facing below issue for wms 1.1.1 and wms 1.3.0 for teamengine. When I  tried to setup locally
engine build fails for ::
 TEAM Engine - Core Module .......................... FAILURE [  4.730 s]
 TEAM Engine - Service Providers .................... SKIPPED
 TEAM Engine - Web Application ...................... SKIPPED
 TEAM Engine - Console Application .................. SKIPPED

Is anyone else

[2015-07-16 13:48] bermud commented on #112
Maybe It is related to this issue https://github.com/opengeospatial/teamengine/issues/96

[2015-07-20 21:00] bermud opened #117 "Dependencies of TestNG tests"
Tests developed in TestNG have dependencies. Some of these are shared by several tests and some depend on each other. For example

| WFS 2.0 (r18) | GML 3.2.1 (1.20) | CAT 3.0 (0.7) |
| --- | --- | --- |
| schema-utils-1.5.jar | schema-utils-1.5.jar | schema-utils-1.6.jar |
| ets-gml32-3.2.1-r18.jar |  |  |
| jersey-client-1.18.1.jar | jersey-client-1.19.jar | jersey-client-1.19.jar |

How to bett

[2015-07-23 12:37] bermud commented on #115
@DineshDhyani, sorry to get you this late. Which version of TEAM Engine are you building, master? Are you building doing 'mvn clean install'?

[2015-07-23 12:41] bermud commented on #112
Fix in 38c9956730aa4bcae4021074b86143560931fe74

[2015-07-23 12:41] #112 closed

[2015-07-23 12:42] bermud commented on #96
Fix in 38c9956730aa4bcae4021074b86143560931fe74

[2015-07-23 12:42] #96 closed

[2015-07-23 13:11] #95 closed

[2015-07-23 19:59] #110 closed

[2015-07-23 20:03] bermud commented on #70
@upendra-sachan, can you please verify if this is related to issue #112 and if we can close this issue?

[2015-07-23 20:09] bermud commented on #77
@upendra-sachan, can you please verify this is no longer the case and that this was fixed with fix for issue #112?

[2015-07-24 12:46] upendra-sachan commented on #77
Yes Luis, this issue was fixed with issue #112. I verified it.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com <blah@mindstix.com>
*Phone:* +91 8446253174
*Skype:* upendra.sachan1

On Fri, Jul 24, 2015 at 1:39 AM, Luis Bermudez <notifications@github.com>
wrote:

[2015-07-24 12:53] #77 closed

[2015-07-25 10:17] upendra-sachan commented on #70
@bermud, I verified it, this is related to issue #112  and it was solved.

[2015-07-25 10:45] upendra-sachan commented on #80
I tested this code. This issue was no longer available.

[2015-07-27 18:22] #80 closed

[2015-07-27 18:22] #70 closed

[2015-07-27 18:33] bermud commented on #107
@upendra-sachan, can you do a fast check on this issue, building manually. The title.html page already exists in the webapp/site folder.

[2015-07-28 05:45] upendra-sachan commented on #107
@bermud code worked fine, it takes title.html page from webapp/site folder. I built teamengine maually then tested it.

[2015-07-28 10:36] bermud commented on #37
The messages can be either:
- The variable TE_BASE has not been setup
- TE_BASE exists but '${TE_BASE}/resources/docs' doesn't

[2015-07-29 13:44] #37 closed

[2015-07-29 17:46] bermud opened #119 "Create a page that allows to get information about the build"
The page should be available on the web installation. Should have:
- version number
- date
- build hash

[2015-07-29 17:47] bermud commented on #119
fixed in https://github.com/opengeospatial/teamengine/commit/579665936569219d3516d4c9697a84c704c3e8f1

[2015-07-29 17:47] #119 closed

[2015-07-29 17:49] bermud commented on #119
A page deployment.html will display information about the build.

[2015-07-29 18:38] bermud opened #120 "Allow to build with maven 2"
TEAM Engine doesn't build with Maven 2.
teamengine/pom.xml had

[code]

Should be removed, unless it is clearly needed.

[2015-07-29 18:41] bermud commented on #120
Fix with https://github.com/opengeospatial/teamengine/commit/1b251015f2cac0905774d7290a8dee2485a45f29

[2015-07-29 18:41] #120 closed

[2015-07-29 19:37] bermud commented on #107
The default build creates a TE_BASE that is used by teamengine-war. TE_BASE is created by teamengine-console. title html should be added to src/main/resources

[2015-07-29 19:38] #107 closed

[2015-07-29 19:53] bermud commented on #103
Generation of javadocs are not needed in TEAM Engine. The main pom under the root project invokes a javadoc creator. It will be removed.
[code]

[2015-07-29 19:54] #103 closed

[2015-08-03 18:54] bermud opened #121 "Reloading context"
4.2 appears to be continuously reloading. Is this an issue?

[code]

[2015-08-04 06:08] upendra-sachan commented on #121
I tested 4.2 in local system and it works fine. I don't think so it was any issue.

[2015-08-04 06:08] #121 closed

[2015-08-19 14:54] geszter opened #122 "replace export-ctl with setup-tebase in tutorial"
In the TEAM Engine Tutorial (https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst), in point 10 there is this command:
c:\> te-install\bin\windows\export-ctl.bat  c:\path-to-the-file\ctl-scripts-release.csv
and in fact it should be something like this:
c:\path-to-the-folder\bin\windows\setup-tebase.bat c:\path-to-the-file\ctl-scripts-release.csv

[2015-09-09 13:43] vedatyrt opened #124 "I'm getting ERROR IN CALL TO FUNCTION"
Fatal Error: Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.net.UnknownHostException: C; SystemID: file:/C:/Users/vedat.yurt/teamengine/teamengine-web/target/te-base/work/src_main_scripts_ctl_main.xml/csw$Main.test; Line#: 40; Column#: -1
Eyl 09,

[2015-09-09 14:35] bermud commented on #124
master and 4.2 build OK with 'mvn clean install'. What branch are you trying to build?

[2015-09-10 07:00] vedatyrt commented on #124
In windows, I got this error. Then I tried it on Ubuntu and it works.

[2015-09-10 13:22] upendra-sachan commented on #124
Hi vedatyrt,

This issue occur inside CSW test, which we used to create JUnit test.
Can you send me your
"file:/C:/Users/vedat.yurt/teamengine/teamengine-web/target/te-base/work/src_main_scripts_ctl_main.xml/csw$Main.test"
file. By this it is easy to me what is the cause behind it.

Thanks.

------
Upendra Sachan
Mindstix Software Labs
http://www.mindstix.com

*Email:* upendra.sachan@mindstix.com

[2015-09-10 17:52] bermud opened #125 "Add support for Google Analytics"

[2015-09-11 20:35] rjmartell commented on #32
The Saxon-B 9.0 library currently used by teamengine v4 is now 7 years old and has been obsolete for many years. The current release of Saxon-HE is 9.6. Since Saxon 9.2 the "old way" of binding extension functions by mapping the namespace URI of the function name to a Java class is not available in Saxon-HE; it is this change that impedes the upgrade from 9.0. The new extension mechanism is referr

[2015-09-13 19:12] agtokty commented on #124
Hi all,
I also try to install  "master" branch in windows 10, i got same errors.
My system properties: Win 10, 64 bit, English Language,

* Here is installation log :  https://gist.github.com/agtokty/04421151cc118c060b37
* this is index.xml under    C:\Users\agit\teamengine\work\src_test_resources_ctl_nested-failure.xml : https://gist.github.com/agtokty/ca6bb7af67d382dfa58a

[2015-09-14 09:18] upendra-sachan commented on #124
Resolved in https://github.com/opengeospatial/teamengine/commit/dda9cd275b30ca7106bdfb031ab0bf621dfd18cf

[2015-09-14 09:18] #124 closed

[2015-09-16 16:29] rjmartell commented on #32
The latest Saxon-HE library is available in Maven Central:

[code]
There are 50 compilation errors reported when attempting to build the `teamengine-core` module. Most of these occur in the following four classes:

* com.occamlab.te.saxon.TEXSLFunctionCall (15)
* com.occamlab.te.saxon.TEJavaFunctionCall (13)
* com.occamlab.te.saxon.GetTypeFunctionCall (8)
* com.occamlab.te.saxon.TEFunctionCall (4)

[2015-09-17 17:28] rjmartell commented on #32
The stylesheets used to generate the executable scripts make use of capabilities that are not available in the Saxon-HE edition. For example, in `generate_xsl.xsl` several Saxon functions are used, all of which [require Saxon-PE or Saxon-EE](http://www.saxonica.com/html/documentation/extensions/functions/saxon-extension-functions.html):

* saxon:assign
* saxon:line-number
* saxon:evaluate
* saxon:

[2015-09-17 22:56] rjmartell commented on #32
Some things to note:
* it should be possible to implement a simple stack (of file names) without using the saxon:assign statements.
* an xsl:evaluate instruction with similar functionality is available as a standard feature in XSLT 3.0.

[2015-09-18 19:55] rjmartell commented on #32
I confirmed that a reflexive method call can be replaced with an integrated extension function that implements the Saxon APIs and is then registered with the processor. For example, `file:new($path)` can be replaced by an integrated function, `ex:new-file($path)`, that returns an XdmExternalObject wrapping a java.io.File object.

[2015-09-22 16:02] bermud opened #127 "Improve testng report (test descriptions)"
## Components on each test in the testng report
- name of the test
- details based on the specification (see next header)
- reason of failure
- how can it be fixed

## Relate testng report results to javadocs
When a user runs a testng test, the result doesn't displays information in the specification (e.g. details about the conformance class). We need to present that information to the tester. I t

[2015-09-24 12:27] upendra-sachan commented on #113
Fixed https://github.com/opengeospatial/teamengine/commit/9edab420afda555430afde46f747dafea0066e04

[2015-09-24 12:27] #113 closed

[2015-09-28 20:52] bermud opened #128 "Prepare release 4.3"
- [x] check release notes and issues closed @bermud
- [x] run integration testing scripts @aashishlodha
- [x] tag release @rjmartell
- [x] update version in poms @rjmartell

[2015-09-28 21:14] rjmartell commented on #128
What are the target platforms for the integration tests? The [teamengine-integration-testing README](https://github.com/opengeospatial/teamengine-integration-testing) doesn't say.

We have encountered platform-specific issues before, so the teamengine app should be deployed in both Windows and Linux environments.

[2015-10-01 15:42] #128 closed

[2015-10-02 19:20] bermud commented on #102
This repository was created to have code to generated statistics: https://github.com/opengeospatial/teamengine-statistics

[2015-10-07 14:10] bermud opened #129 "WMS 1.3 hangs in TE 4.3"
Examples:
- http://vpn.k2geospatial.com:9999/wmsTest2/wms?ReQuEsT=GetCapabilities&VeRsIoN=1.3.0&SeRvIcE=WMS
-  http://cite.demo.opengeo.org:8080/geoserver_wms13/wms?service=wms&request=getcapabilities&version=1.3.0

[2015-10-07 14:12] bermud commented on #129
Also, please  check WMS 1.3 revision 1.13 and revision 1.12.

[2015-10-07 15:23] sMorrone opened #130 "TE v4.2 installation fails on Windows Server 2012"
please find below a screenshot of what I get when I try to install TE v4.2 on Windows Server 2012 environment - jdk1.8.0_60. Any idea of why it happens?

![image](https://cloud.githubusercontent.com/assets/13329248/10341465/2864201c-6d15-11e5-9d2f-24d9491bd5c1.png)

[2015-10-07 21:54] rjmartell commented on #130
There was a known issue affecting that unit test (integration test, really) when building in a Windows environment. As a workaround, you can skip the unit tests by adding the `-DskipTests` option.

Also, JDK 8 is not yet officially supported.

[2015-10-07 21:56] rjmartell commented on #129
The test suite runs successfully when executed in a command shell, so it appears that only the web app that is affected.

[2015-10-07 22:26] rjmartell commented on #117
It is usually safe to use the latest release of a given library and remove older versions from the classpath. There can be exceptions of course (especially between major releases), but I have yet to encounter any.

Note that when test suite dependencies are assembled using the scripts in the [ets-resources](https://github.com/opengeospatial/ets-resources) project, only the latest versions are reta

[2015-10-07 22:55] rjmartell commented on #117
JAR files are not intrinsically unique. Using standard class loading facilities only one version of a library is available at runtime (generally the first one found). The OSGi framework offers one modularity solution of long standing.

[2015-10-08 10:04] bermud commented on #129
Logs examples: http://cite.opengeospatial.org/pub/cite/files/k2geospatial-wms13-20151008.zip

[2015-10-08 12:43] aashishlodha commented on #129
Hi Luis,

We are still not clear about the exception, what is failing. The logs
folder you have shared doesn't contain any 'error_log' folder. If the test
case fails, it generates 'error_log' folder in TE_BASE/Users/{sessionId}.

Can you provide error_log folder? Or can you record a little screencast for
it? I think 'Jing' tool will be good for the recording. It have 5 minute
limit and .swf format

[2015-10-08 13:32] bermud commented on #130
It was fixed on 4.3. The original issue was reported #124.

[2015-10-08 13:32] #130 closed

[2015-10-08 13:41] bermud commented on #129
Here is the excerpt of the Catalina.log

[code]

[2015-10-08 13:42] bermud commented on #129
Maybe is related to this issue/fix?
https://github.com/opengeospatial/ets-wms13/issues/15

[2015-10-08 16:03] rjmartell commented on #129
As I noted above, the test suite (1.13) ran to completion from the command line (against the geoserver WMS endpoint) so the test suite itself is probably fine. It looks like a class loading issue in the web app to me.

I attached the error log produced after terminating the test run. Does it look familiar to anyone?

[error-log.txt](https://github.com/opengeospatial/teamengine/files/10195/error-lo

[2015-10-08 16:50] bermud commented on #129
I also tested geoserver against the beta server (4.3) and it finished successfully.

[2015-10-08 17:33] rjmartell commented on #129
Ack! Just ran it on a Linux box and it's fine (no errors). So perhaps it's a Windows-specific issue? Can you confirm Aashish?

[2015-10-08 18:52] aashishlodha commented on #129
Sure, Richard. We will test this on Windows Machine tomorrow.

Thanks and Regards,
---
Aashish Lodha
Mindstix Software Labs
http://www.mindstix.com

Email: aashish.lodha@mindstix.com
Phone: +91 8149484418
Skype: lodhaaashish

On Thu, Oct 8, 2015 at 11:03 PM, rjmartell <notifications@github.com> wrote:

[2015-10-09 09:47] keshav-nangare commented on #129
Hi Luis,

We have tried WMS1.3 on windows environment. Also we tried with the
different WMS1.3 revision 1.13 and 1.12 and teamengine 4.3 version. It
works fine on Windows, it is not producing any error.

I have attached the logs with this email, which works fine without any
exception.

I will continue my work on .bat file.

Thanks and Regards,

Keshav Nangare
Mindstix Software Labs
http://www.mind

[2015-10-09 12:06] bermud commented on #129
Let's add these to the integration testing scripts.

Richard reported  that when running in Windows this  IUT: <http://cite.demo.opengeo.org:8080/geoserver_wms13/wms?service=wms&request=getcapabilities&version=1.3.0>

The interactive tests ran ok and then the test suite seemed to hang. I terminated the test run after 10 min, with the following results:

Passed: 59

Failed: 3
  * getcapabilities:st

[2015-10-09 14:10] bermud opened #131 "Add REST API method to handle multipart POST request"
Add a REST API handler (in teamengine-spi) for a POST Request where:
- content type = MULTIPART
- IUT = XML file to be tested
- SCH = Schematron

The XML and schematron can be passed as files in the POST body.

[2015-10-09 14:13] bermud commented on #131
Related to this pull request https://github.com/opengeospatial/teamengine/pull/78. Changes should be provided as another pull request, only containing the related changes to this issue, and sync with master.

[2015-10-09 14:15] bermud commented on #81
Ideas for improvement were discussed and coded in this pull request
https://github.com/opengeospatial/teamengine/pull/78

[2015-10-10 18:36] keshav-nangare commented on #98
issue-fixed in commit 0e77e36

[2015-10-13 22:25] rjmartell commented on #129
On a Windows Server 2012 R2 host I ran the test suite to completion against the geoserver implementation (with no failures). So my initial report can be disregarded--there is something amiss in my local workstation environment.

However, the report for the k2geospatial service could not be displayed due to a parse exception. The test run did appear to finish with an overall result = 5 (Inherited f

[2015-10-14 15:54] rjmartell commented on #129
I reported a new WMS issue: https://github.com/opengeospatial/ets-wms13/issues/20

[2015-10-14 16:56] #98 closed

[2015-10-16 14:18] keshav-nangare commented on #129
We have tested the temengine 4.3 and WMS1.3 on following environment:-

-Ubuntu:

Teamengine version:- 4.3
WMS1.3 : revision-1.13 and revision-1.12
OS Name: Ubuntu 12.04.1 LTS
Tomcat version: Apache Tomcat/8.0.24
Java : - java version "1.7.0_55"
 -Java(TM) SE Runtime Environment (build 1.7.0_55-b13)
 -Java HotSpot(TM) 64-Bit Server VM (build 24.55-b03, mixed mode)

-Mac:

Teamengine version:- 4.3

[2015-10-16 14:25] bermud commented on #129
@rjmartell, Thank you for making the improvement on the WMS 1.3 test, that might have caused this issue.
@keshav-nangare,  Thank you for verifying that TE 4.3 is OK.
 We will close this issue now.

[2015-10-16 14:25] #129 closed

[2015-10-16 18:01] rjmartell commented on #131
The actual media type is "multipart/form-data". See [RFC 7578](http://tools.ietf.org/html/rfc7578).

[2015-10-16 18:03] #131 closed

[2015-10-19 21:34] bermud commented on #125
Should be handle in the customizable site folder. For example, a script was added to the template file of the OGC site folder: https://github.com/opengeospatial/teamengine-site/blob/master/site-beta/footer.html

[2015-10-19 21:34] #125 closed

[2015-10-21 17:55] rjmartell opened #135 "Internal DTD subset is ignored"
If a DOCTYPE declaration includes an internal subset that extends (or overrides) an external DTD, the internal declarations are ignored in `com.occamlab.te.parsers.XMLValidatingParser`. This only affects testing of WMS 1.1 implementations that use the (optional) [VendorSpecificCapabilities element](/opengeospatial/ets-wms11/issues/36) in the capabilities document.

[2015-10-29 19:02] rjmartell opened #136 "Error message for failing test not displayed in report"
__Affected version: 4.4-rc1__

If an exception (RuntimeException) occurred while executing a test method in a TestNG suite, the error message does not appear in the HTML report. The "Reason For Test Failure" entry is empty even though the TestNG results file includes non-empty message content.

__To reproduce:__

Stop Tomcat and rename the EPSG database directory located at `-Dderby.system.home` (

[2015-10-29 21:57] rjmartell commented on #136
This is a regression. In TE 4.3 the exception message was displayed in the HTML report:
"java.lang.RuntimeException: Failed to create coordinate transformer."

[2015-10-30 19:13] rjmartell commented on #136
Observed in both Windows (7 Pro SP1) and Linux (RHEL 7.1) environments with Tomcat 7.0 and Oracle JDK 8.

[2015-11-03 19:09] keshav-nangare commented on #136
The issue "Error message for failing test not displayed in report #136 " (4.4-rc1 fix) is resolved with commit: 1ab9f7f4402d168e023ffa0f393213ee34869bcf

[2015-11-03 20:19] #136 closed

[2015-11-05 22:18] bermud commented on #135
@rjmartell, if we fix this one, do we require to do any change in the WMS 1.1 test?

[2015-11-23 23:31] rjmartell opened #138 "Add support for XML Schema 1.1"
XML Schema 1.1 has been a W3C recommendation for more than three years, and the [KML 2.3 specification](http://docs.opengeospatial.org/is/12-007r2/12-007r2.html) adopted it as the normative schema language. However, TEAM engine uses an XML processor that does not support it (Apache Xerces Java 2.11, released 2010-11). While the last "beta" release of Xerces included (experimental) support for XML

[2015-11-23 23:39] rjmartell commented on #138
The [KML 2.x test suite](https://github.com/opengeospatial/ets-kml2) cannot be deployed at the moment since it requires an XML processor that supports XML Schema 1.1. The test suite currently uses a component built from the [xml-schema-1.1-dev branch](http://svn.apache.org/viewvc/xerces/java/branches/xml-schema-1.1-dev/) (revision: 1667115); the artifact is available from the central Maven reposit

[2015-12-04 20:49] rjmartell commented on #138
No anomalies observed when validating these two KML documents:

* `https://developers.google.com/kml/documentation/KML_Samples.kml` (KML 2.2): 3 fail verdicts as expected.
* `src/test/resources/kml23/Placemark-001.xml` (KML 2.3): 2 fail verdicts as expected

[2015-12-04 21:22] rjmartell opened #139 "Split up spi module"
The `teamengine-spi` module was originally introduced to define an interface for using alternative test runners and a RESTful API for invoking them. However, it now includes classes concerned with unrelated functionality. It should be split up so the modules are highly cohesive. Something like this:

* teamengine-testng: Support for TestNG (com.occamlab.te.spi.executors)
* teamengine-rest: RESTful

[2015-12-07 20:41] rjmartell commented on #139
The [WMS 1.3 Client test suite](/opengeospatial/ets-wms-client13) uses JavaScript to process JSON output produced by TestMapResources and StoreRunResources. So these resources appear to be specific to that test suite.

[2015-12-08 16:52] bermud opened #140 "run integration testing for branch of fix/138-xsd11"
Run integration testing for branch of fix/138-xsd11
https://github.com/opengeospatial/teamengine/tree/fix/138-xsd11
to verify that fix  #138 is not breaking any test.

[2015-12-09 16:28] bermud opened #141 "Inherited failure when subtests are skipped"
When testing this server in TE 4.4 and WMTS 0.6
http://192.71.92.21/MapService/wmts.axd/Vmap0WMTS?Service=WMTS&request=GetCapabilities
We get the following results
![wmts-f1](https://cloud.githubusercontent.com/assets/3738898/11691118/a1687d40-9e67-11e5-816d-2a33197d7193.jpg)

and

![wmts-f2](https://cloud.githubusercontent.com/assets/3738898/11691121/a325f52c-9e67-11e5-91cc-add1d5d635a5.jpg)

inh

[2015-12-15 17:34] rjmartell commented on #138
These test suites ran successfully:

* CSW 3.0 (0.10)
* KML 2.x (0.4-SNAPSHOT)
* WMS 1.3 (1.15)

[2015-12-15 17:40] rjmartell commented on #139
Moved JAX-RS resources used for WMS client testing to that test suite.

[2015-12-15 17:40] #139 closed

[2015-12-16 19:31] rjmartell commented on #127
Each test method should include a description property that refers to the applicable test requirements (e.g. abstract test case) in the specifications. It appears in a `@Test` annotation like so:

    @Test(description = "See ISO 19143: 7.8.3.2, A.7")

This bare-bones descriptive info will be included in the results (and HTML report). However, the Javadoc comments for the test method are more deta

[2015-12-16 20:54] rjmartell commented on #127
Test developers can insert link markup into the description property, but because it's interpreted as a string value the markup is escaped in the test results; if it were decoded in the HTML report it would appear as an active link.

Another possibility is to automatically insert the link when generating the report. This should be possible using information in the source test results; specifically

[2015-12-23 12:30] bermud opened #142 "Simplify the user interface when creating a new session"
Related to createSession.jsp
- **Organization** should not appear. - provide in a configuration file the default, for example *OGC*
-  **Revision** should not appear. We are always using one. Can we hide this field?
- **Specification** should appear in alphabetical order
- **Select Profile(s):** should only appear when there are profiles
- **Select a test suite:** Shuld be capitalize, as the other

[2015-12-23 17:49] keshav-nangare commented on #44
I have investigated this issue with the teamengine  version 4.5  and wfs 1.1.0-1.26-SNAPSHOT.

I have executed the WFS1.1.0 test, the summary test report is showing the correct result as expected and I have cross verified count with the testlist.xml result file which is present in the TE_BASE log directory.

![summary_result](https://cloud.githubusercontent.com/assets/14732650/11981727/35443d74-a9

[2015-12-23 17:49] #44 closed

[2015-12-23 19:46] rjmartell commented on #141
The occurrence of child skip verdicts seems to taint the parent test (group). Even if all constituent tests are skipped the parent result is **InheritedFailure** (5). The attached CTL script (skipped.txt) demonstrates this anomalous behavior:

1. input: 103 (odd integer > 100) ==> All subtests skipped, but InheritedFailure
2. input: 41 (odd integer < 100) ==> 1 skip, 1 pass, but InheritedFailure

[2015-12-24 10:51] keshav-nangare commented on #140
I have executed the integration testing script for the branch  fix/138-xsd11 and its working fine,

Integration testing script contains the following test suites:
    1. CSW 2.0.2 (1.15-SNAPSHOT)
    2. WMS 1.3 (1.16-SNAPSHOT)
    3. WFS 2.0 (1.21-SNAPSHOT)
    4. GML 32 (1.23-SNAPSHOT)
    5.SOS1.0.0 (r1.14-SNAPSHOT)
Above test suites are working fine on this branch " fix/138-xsd11 "

Also I have

[2015-12-24 10:51] #140 closed

[2016-01-04 21:20] rjmartell commented on #138
The teamengine-core module now uses a component built from the [`xml-schema-1.1-dev`](http://svn.apache.org/viewvc/xerces/java/branches/xml-schema-1.1-dev/) branch (revision: 1667115); this artifact was built using JDK 7 and is available from the central Maven repository:

    <dependency>
      <groupId>org.opengis.cite.xerces</groupId>
      <artifactId>xercesImpl-xsd11</artifactId>
      <versi

[2016-01-04 21:20] #138 closed

[2016-01-06 10:16] keshav-nangare commented on #142
I have question regarding 2nd feature i.e. "Revision should not appear".

Should we hide it or show it (disabled state with default latest value) or you want to show a simple text which have the revision number?

[2016-01-06 12:09] bermud commented on #142
Regarding second point. We should show the revision, but not allow the user to select it. Maybe as part of the specification string: WMS 1.3 (r 1.13)

[2016-01-06 21:42] bermud commented on #141
@keshav-nangare Please investigate.

[2016-01-07 14:22] sMorrone opened #143 "Failed to create coordinate transformer"
I installed GML Test Suite rel 1.22 in TEAM engine v 4.4 - Windows Server 2012 R2 environment.
I get different test results if I test the same GML file :

•	at  http://cite.opengeospatial.org/teamengine/  (test result = 'passed')
•	at my server installation via command line (test result= 'passed')
•	at my server installation via web application (test result= 'failed' with message :”Test method

[2016-01-07 14:34] bermud commented on #143
The derby database contains the EPSG codes.

For the web application you need to specify the directory of the derby database
## for example catalina options in unix:
export CATALINA_OPTS='-server -Xmx1024m -XX:MaxPermSize=128m -DTE_BASE=$TE_BASE -Dderby.system.home=$catalina_base/derby_data'

And in catalina_base you should have the derby-10.10.2.0.jar

[2016-01-07 15:54] sMorrone commented on #143
I already have the following line in my setenv.bat
"
set CATALINA_OPTS=-server -Xmx1024m -XX:MaxPermSize=128m -DTE_BASE=C:\TE_BASE -Dderby.system.home=C:\CATALINA_BASE\derby_data".
Here follows the derby.log file I get when I run my test:
"Booting Derby version The Apache Software Foundation - Apache Derby - 10.10.2.0 - (1582446): instance a816c00e-0152-1cbe-c2a1-00003c4a14ad
on database directory

[2016-01-07 18:34] bermud commented on #122
There is not setup-tebase.bat. The instructions were updated here
https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst

[2016-01-07 18:34] #122 closed

[2016-01-07 18:42] bermud commented on #143
@rjmartell, please provide further guidance.

[2016-01-07 18:57] bermud commented on #115
@DineshDhyani, Im closing this issue. Let us know if you still have problems.

[2016-01-07 18:57] #115 closed

[2016-01-07 19:01] bermud commented on #66
@rjmartell, I'm fine with your solution. I don't see a big issue with the cache problems. We do want to make the REST API secure using the same user password that the user uses for login through the web interface.

[2016-01-07 19:05] bermud commented on #47
@rjmartell, @keshav-nangare  do we still have issues with TestNG Reporter API not being thread safe?

[2016-01-12 00:19] rjmartell commented on #143
It looks like the EPSG database exists (in derby_data\EPSG\7.09) but is empty. Is this a new installation? Can the Tomcat user write to `derby.system.home`?

If it worked from the command-line, there should be another instance of the derby database in your user profile at %APPDATA%\Geotoolkit.org. As a workaround you can try copying this to `derby.system.home`.

[2016-01-13 10:11] sMorrone commented on #143
Workaround works !
Anyway, just for mention, the database in derby_data\EPSG\7.09 is not empty and Tomcat user can write to derby.system.home. Only difference I noticed between the two instances of the derby database is the number of  elements  in the seg0  folder (73 in derby_data / 170 in Geotoolkit.org).

[2016-01-13 14:17] bermud commented on #142
Idea:
![pic 2016-01-13 at 9 17 28 am](https://cloud.githubusercontent.com/assets/3738898/12296565/81816bce-b9d6-11e5-865c-147e91ee5c52.jpg)

[2016-01-13 14:24] bermud commented on #141
Assuming parent is madatory:
If some subtest are skipped but at least one subtest is passing then parent test should pass.
If all subtests are skipped then parent fails.

[2016-01-13 17:32] rjmartell commented on #143
See opengeospatial/ets-gml32/issues/18

[2016-01-13 17:32] #143 closed

[2016-01-14 22:18] bermud commented on #141
Here is a more comprehensive analysis of when an InheritedFailure should occur: https://github.com/opengeospatial/teamengine/wiki/When-should-Inherited-Failure-occur
Please create several example CTL files and create unit test.

[2016-01-28 19:31] #127 closed

[2016-01-28 20:53] rjmartell commented on #127
The Javadocs are assumed to be available at GitHub Pages. The base URL is constructed as follows:

   `http://opengeospatial.github.io/ets-$etsCode/apidocs`

e.g. http://opengeospatial.github.io/ets-gml32/apidocs/

[2016-02-01 17:45] rjmartell opened #144 "XPathException thrown when viewing results for ets-wms-client13"
See https://github.com/opengeospatial/ets-wms-client13/issues/17.

The root cause appears to be line 21 in `src/main/resources/com/occamlab/te/logstyles/result-log.xsl`:

    <xsl:for-each select="collection(concat($logdir,'/',$sessionDir,'?select=WMS-*.xml'))">

The $logdir parameter is an absolute file system path, but the [collection() function](https://www.w3.org/TR/xpath-functions/#func-colle

[2016-02-01 18:30] #144 closed

[2016-02-02 12:53] keshav-nangare commented on #142
I have implemented the above idea the first drop-down contains the default Organization and second drop-down contains the standards, version and revision.

These changes is present in this branch "feature-issue-142"

[2016-02-02 14:19] bermud commented on #142
I like these changes. Great!

[2016-02-11 14:38] bermud commented on #142
@keshav-nangare, please test how hard will be to change the jmeter test script.

[2016-02-11 14:42] bermud opened #146 "Update instructions explaining how the default organization gets updated in the form"
related to #142

[2016-02-11 14:48] bermud commented on #142
Maybe check in the main config for the first organization and used it as the default value in the form.

[2016-02-12 20:06] keshav-nangare commented on #146
If we have select any default organization in the drop-down list then following changes are required:
-  1 We have to add the elements in config.xml file "&lt;default&gt;true&lt;/default&gt;" after the <name> element.
         <br />    e.g. add this element into csw/config.xml or any other test suite config file instead of the main config.xml (TE_BASE/config.xml), because this main config.xml fil

[2016-02-12 20:32] bermud commented on #146
Hi Keshav. I don't like this solution. Let's make it simpler. Just pick the first organization  that is available on the main config file. We don't need to add anything anywhere.

[2016-02-15 18:39] keshav-nangare commented on #142
I have updated the Jmeter script as per our new implementation. I have updated the jmeter form page where the form values are submitted and removed the other form parameter that are not used.
This is fixed with this commit   69f015ce771e011e4307833fa66405d6fc8281b5

[2016-02-16 15:37] bermud commented on #146
Have you updated the solution? I would like to test locally before we release at the end of the month. Thakn you!

[2016-02-16 15:38] bermud commented on #142
@keshav-nangare, great !

[2016-02-16 19:06] keshav-nangare commented on #146
I will update this solution tomorrow.
I have question regarding this, by default the first organization is the "Example.net" present in the main config file then it will be the default organization in the drop-down list.

[2016-02-17 14:45] bermud commented on #146
Yes. This is correct.

[2016-02-17 18:11] keshav-nangare commented on #146
As per the suggestion I have updated solution.

This changes are present in the "feature-issue-142" branch.

[2016-02-18 11:57] bermud commented on #142
Please update the form, so it looks like this:

<img width="484" alt="select-session" src="https://cloud.githubusercontent.com/assets/3738898/13142694/cab372ea-d60c-11e5-9314-97c2faa9c670.png">

[2016-02-18 14:13] #146 closed

[2016-02-23 16:50] bermud commented on #142
Fixed with 90c71a7d0c9db94acaa2224b61e01f0bf61dd0a9

[2016-02-23 16:50] #142 closed

[2016-02-25 15:04] bermud opened #148 "dates in sessions"
Session dates are important to understand better user activity.

- Currently, the date that we associate to a session is the date of the file of the session.xml of folder session
- The date when a session was run must be logged.
- Only some  sessions have the session.xml with a  date. The date is not written in ISO format.
- Other sessions don't have a date.

See for example:
[code]

Need to:
- fi

[2016-03-03 13:38] keshav-nangare commented on #148
Updated the session with this commit 756fc6a5434f33d37240e80c02e6cf1a6404a099

[2016-03-03 14:30] bermud commented on #148
Can you generate a script to fix the  previous sessions?
- finds an old date then fix it
- not have date - add the date of the creation of the file

[2016-03-03 14:41] bermud commented on #101
Wait until WPS test is revised

[2016-03-07 17:15] keshav-nangare commented on #148
I have created the script to fix the previous session.

This script is present in the repository "teamengine-statistics/feature-issue3".

[2016-03-07 21:06] bermud commented on #148
I see now the project is in maven. Great!

How do I run the script?

Please use this package:
org.opengis.te.stats

Change the file name to:
StatisticsCrreator.java

Thank you!

Luis Bermudez, Ph.D.
Executive Director Compliance and E-Learning
Open Geospatial Consortium (OGC)
Skype: bermudez_luis
Twitter: @berdez
Tel: +1 301 760 7323
https://www.linkedin.com/in/bermudez

The OGC: Making Location C

[2016-03-08 13:45] keshav-nangare commented on #148
We can execute this script in two way:
- By using Eclipse:
 - In Eclipse we have to add the command line argument into "Run Configuration" and just Run the script. It will show the result in console.

- By using Command-line:
 - e.g. mvn exec:java -Dexec.mainClass="org.opengis.te.stats.AdminLogCreator" -Dexec.args="/home/admin/TE_BASE/users/"

[2016-03-08 14:24] bermud opened #149 "List in form is not appearing in alphabetical order"
List in the form is not appeargin in alphabetical orer please - fix
See example:

<img width="301" alt="dropdown" src="https://cloud.githubusercontent.com/assets/3738898/13604140/5eea11ba-e50f-11e5-809b-1d0c92564f2e.png">

[2016-03-15 10:25] bermud opened #150 "Change storing of password mechanism"
Currently the passwords are stored in a file under the user's folder main xml. Provide an additional mechanism to deal with authentication or encrypting of the passwords

[2016-03-15 15:00] keshav-nangare commented on #149
I have fixed this issue, now the list will appear in alphabetical order.

Fixed with this commit 445605abdb50f5abdce6118a33cac292f52c818c

[2016-03-15 17:59] rjmartell opened #151 "Upgrade to JAX-RS 2.0"
The `spi` module uses Jersey 1.19, which is the reference implementation of JAX-RS 1.1. This was superseded by JAX-RS 2.0 (Jersey 2.x) in 2013, which was also incorporated within the JEE 7 technology stack.

New API capabilities warrant the upgrade: Client API, async, filters and handlers, etc. This will also facilitate the realization of a separate [test execution service](/opengeospatial/teameng

[2016-03-16 16:49] rjmartell commented on #150
User passwords are typically hashed using a suitable algorithm (e.g. SHA-1). Doing something as straightforward as this may suffice, even if it is in principle susceptible to dictionary and/or brute-force attacks.

Hashing with a variable cryptographic salt that is unique per-user and per-password offers a stronger solution, but it may not be warranted in this case (i.e. relative risk of disclosin

[2016-03-16 18:33] rjmartell opened #152 "Support W3C EARL schema for test results"
The W3C Evaluation and Report Language ([EARL](https://www.w3.org/TR/EARL10-Schema/)) 1.0 Schema defines a standard RDF vocabulary for expressing test results. Adopting this for all test suites enables a more consistent approach for test reporting. A [developer guide](https://www.w3.org/TR/EARL10-Guide/) is available.

**Note**: The Evaluation and Repair Tools Working Group ([ERT WG](https://www.w

[2016-03-16 18:36] rjmartell commented on #152
This could be implemented as a custom [test listener](http://testng.org/javadocs/org/testng/ITestListener.html) for use in TestNG-based suites. CTL results could be transformed via XSLT stylesheets (to RDF/XML format).

[2016-03-18 14:13] bermud opened #157 "remove branches that are not needed any more"
We have these branches. Please advise which ones we should keep.

  remotes/origin/HEAD -> origin/master
  remotes/origin/beta-3.0-fix
  remotes/origin/feature-CTL-console-reporting
  remotes/origin/feature-POST-API
  remotes/origin/feature-WMSClientIssue14
  remotes/origin/feature-advanceTestNg
  remotes/origin/feature-client-test-enhancement
  remotes/origin/feature-configxml-issue
  remotes/ori

[2016-03-18 14:14] #149 closed

[2016-03-21 18:13] bermud opened #158 "Merge security fixes from WiSC"
Chuck will provide a pull request very soon related to HP Fortify fixes

[2016-03-29 21:24] rjmartell opened #159 "Unprotected transport of user credentials"
User credentials are unprotected when logging into the web application. The deployment descriptor specifies form-based authentication but there is no user data constraint.

A secure connection (i.e. TLS) should be used. See also #150.

[2016-03-31 12:10] CLEAOSBORNE opened #160 "Received error executing mvn install"
[clea.txt](https://github.com/opengeospatial/teamengine/files/197575/clea.txt)
Test execution report
csw:Main

Overall result: Failed
Executed tests
test: csw:Main
session: 328aba32-9fd8-493e-aedc-0864c40c4c7f

Assertion: The implementation under test minimally conforms to the CSW part (Clause 10) of Catalogue 2.0.2 (OGC 07-006r1).

Test result: Failed

Submitted request:

Method=
        GETURL=

[2016-03-31 12:54] CLEAOSBORNE commented on #160
Deleted repo directory, re-cloned and re-executed mvn install successfully.  Issue resolved, thanks!

[2016-03-31 23:15] cmheazel commented on #158
Took a while to work out the process but you should have it now.

[2016-04-04 19:29] bermud commented on #150
We decided that using hashed passwords stored in the current file system was the way to move forward.

[2016-04-05 10:04] #148 closed

[2016-04-05 16:22] CLEAOSBORNE opened #162 "Application throws a Java error when validating a KML file"
Web page launches with numerous available Test Suites, however seems to have issues when running KML validation tests.  Application throws a java error........see log file below.  Any help would be greatly appreciated.

Thanks

2016/04/05-12:08:15 ERROR
Test Name : tns:Main type Mandatory
net.sf.saxon.s9api.SaxonApiException: Error in call to extension function {public java.lang.Object com.occamla

[2016-04-05 17:46] keshav-nangare commented on #41
I have tested and tried to reproduce this issue with teamengine[4.6] and GML32[1.23], but it is not reproduced.

[2016-04-05 17:46] #41 closed

[2016-04-06 23:09] bermud commented on #162
Thank you for reporting. We will investigate.

[2016-04-06 23:12] bermud commented on #160
@CLEAOSBORNE, I'm glad you solved the issue.

[2016-04-06 23:12] #160 closed

[2016-04-07 13:15] CLEAOSBORNE commented on #162
@bermud  - Thanks Bermud, I managed to fix the java error and the application is working as intended.

[2016-04-07 13:18] bermud commented on #162
@CLEAOSBORNE , Great! Thank you for letting us know.

[2016-04-07 13:18] #162 closed

[2016-04-07 14:06] bermud commented on #81
Please continue looking into EARL and conversion from TestNG and CTL output to RDF and then to HTML.

[2016-04-11 17:24] rjmartell commented on #158
The JAXP secure processing feature "instructs JAXP components such as parsers, transformers and so on to behave in a secure fashion". Exactly what it restricts is a bit unclear, and may be implementation-dependent. See:

* https://jaxp.java.net/1.5/JAXP1.5Guide.html
* https://jaxp.java.net/docs/spec/pdf/JAXP1_6-FinalSpec.pdf

Unit tests will likely be required to verify expected behavior.

[2016-04-11 17:33] rjmartell commented on #159
We may want to document two options for configuring TLS in the user guide:

1. Stand-alone Tomcat container: https://tomcat.apache.org/tomcat-8.0-doc/ssl-howto.html
2. Access via proxy server (e.g. [Apache HTTPD](https://httpd.apache.org/)) for enhanced security, load balancing

[2016-04-11 17:42] rjmartell commented on #150
Here's a simple open-source, peer-reviewed library that uses the PBKDF2 algorithm to protect passwords: <https://github.com/defuse/password-hashing>.

The license is derived form the [BSD 2-Clause License](https://opensource.org/licenses/BSD-2-Clause).

[2016-04-13 07:11] keshav-nangare commented on #157
Deleted the branches that are no longer needed.

[2016-04-13 07:11] #157 closed

[2016-04-19 05:47] Vinni0803 commented on #162
@CLEAOSBORNE , I'm facing same type of issue  https://github.com/opengeospatial/ets-wfs11/issues/53
Any help would be appreciated.

[2016-04-19 12:48] CLEAOSBORNE commented on #162
@Vinni0803 What worked for me was re-running mvn package -P ogc.cite -Dets-resources-version=YY.MM.DD

find out what version of ets-resources you have and place it in the above command for YY.MM.DD

Then rebuild the war file.

[2016-04-19 13:50] Vinni0803 commented on #162
How can i find  the version of ets-resources??

[2016-04-19 14:14] CLEAOSBORNE commented on #162
@Vinni0803 Did you perform a Windows or Linux install?  Check out this link :  http://opengeospatial.github.io/teamengine/installation.html

It speaks on configuring the ogc settings

[2016-04-19 15:54] Vinni0803 commented on #162
@CLEAOSBORNE  Windows installation
Did everything as mentioned in above link, still same issue.

[2016-04-19 16:35] CLEAOSBORNE commented on #162
@Vinni0803 I would try running that setup_base script in ets-resources with the CTL CSV file and rebuild the war file

[2016-04-27 16:38] rjmartell commented on #150
Add a custom `ServletContextListener` to automatically replace existing clear text passwords with hash values when the Servlet container is (re)started. Just check the first few users to determine if this was already done.

[2016-04-28 16:58] #150 closed

[2016-04-29 11:21] keshav-nangare commented on #46
If the server's are protected then we can pass the username and password in following way:

1. Pass username and password through the URL:
                   E.G. https://username:password@www.example.com/ <br/>
                   Ref: https://en.wikipedia.org/wiki/Basic_access_authentication

2. We can pass username and password through the header:
               -  Following is the code snippet

[2016-05-04 13:29] bermud commented on #46
@rjmartell,  Please take a look at this issue/solution and check that it is consistent with the work done in Testbed 12.

[2016-05-09 15:53] rjmartell commented on #158
Merged [PR-163](/opengeospatial/teamengine/pull/163).

[2016-05-09 15:53] #158 closed

[2016-05-16 15:11] bermud opened #165 "Create a unit test to test (XSE vulnerability)"
Test is needed to verify that external entities are ignored. Low-level verification.

[2016-05-16 15:12] bermud opened #166 "Create a penetration system level test (Chuck)"
To verify that external entities are ignored.

[2016-05-18 18:13] rjmartell commented on #46
It's very unlikely that any OGC service will accept user credentials embedded in the request URI (and in fact this is discouraged in RFC 3986). The HTTP Basic mechanism ([RFC 7617 ](https://tools.ietf.org/html/rfc7617)) is commonly supported, though. And authentication can be performed preemptively (without awaiting a challenge).

How then are user credentials submitted to teamengine for inclusion

[2016-06-02 16:18] rjmartell opened #167 "Create Packer template to generate VM images"
[Packer](https://www.packer.io/) is a tool that generates virtual machine images for a variety of platforms. The goal here is to produce images that contain a complete, ready-to-run TEAMengine installation. The targeted environments include:

:white_check_mark: VirtualBox
Amazon EC2
VMware vSphere

[2016-06-03 10:38] bermud opened #168 "Unique session numbers"
Consider changing the session numbering. The session numbers should be unique for the whole installation, not per user. A REST API can then be created to easily extract the results of the tests.

[2016-06-07 21:31] bermud commented on #81
An initial implementation of an EARL listener for TestNG should be available by the end of this week; see <https://github.com/opengeospatial/teamengine/issues/152>.

We can use the output of this as a basis for considering what info should be included in the results.

Work to be advance:

- script to convert CTL test results to EARL RDF/XML
- script to convert EARL RDF/XML results to HTML5 report

[2016-06-10 17:14] rjmartell commented on #167
The template includes a VirtualBox builder. The underlying OS is a minimal CentOS 7.2 distribution intended for "headless" operation. The VM is provisioned using shell scripts.

[2016-06-20 19:09] bermud commented on #66
@rjmartell. this issue is very important. Session logs also need to be created to keep consistency with the other running methods and also to be able to generate statistic appropriately. Has this been updated based on the latest authentication related fixes?

[2016-06-21 16:33] keshav-nangare commented on #152
@rjmartell
Just to know, have you added the EarlReportListener into the TestNGExecutor as listener? because it did not generate the output file.

Or  is there any other way to invoke the EarlReportListener. I have executed but I didn't get the output file.

Can you please update me how to invoke this EarlReportListener?

[2016-06-28 12:56] CLEAOSBORNE opened #169 "What is the recommended approach to upgrading a TeamEngine build?"
What is the best approach to upgrading TeamEngine to the latest build?  I have an older build from 3 months ago and would like to upgrade to the latest software build.  Should I start a new fresh build or what is the best way to upgrade?

[2016-06-28 15:03] bermud commented on #152
@Richard and @keshav-nangare, I have some comments, based on the wiki and the attached file.

- I cannot find where “earl:outcome” is declared
- An Assertion is a statement that has a subject, predicate and object. We are missing the predicated and object
- the predicate provides the result of the assertion. There are two options fails and pass. For example:  rdf:predicate earl:passes;.  Look at t

[2016-06-28 18:23] rjmartell commented on #152
Those example are very old--they're for EARL 0.95 (from 2001). We're using the [latest (last call) WD for EARL 1.0](https://www.w3.org/TR/EARL10-Schema/). The relevant triple is:

[earl:TestResult] earl:outcome [earl:OutcomeValue]

There are five instances of OutcomeValue declared in the model (earl:passed, earl:failed, etc.). There are several examples in the [Developer Guide for EARL 1.0](https:

[2016-06-28 18:35] rjmartell commented on #152
There are a few other related specs that can be used to supply additional infotrmation about a resource.

- [HTTP Vocabulary in RDF 1.0](http://www.w3.org/TR/HTTP-in-RDF10/) (W3C Working Draft)
- [Pointer Methods in RDF 1.0](http://www.w3.org/TR/Pointers-in-RDF10/) (W3C Working Draft)
- [Representing Content in RDF 1.0](http://www.w3.org/TR/Content-in-RDF10/) (W3C Working Draft)

For example: incl

[2016-06-28 22:47] bermud commented on #152
Thank you for providing the correct version.

**About the result,**
I agree should be:  <earl:outcome rdf:resource="http://www.w3.org/ns/earl#passed"/>
I think all the declared outcomes fit our model: earl:Pass, earl:Fail, earl:CannotTell, earl:NotApplicable, earl:NotTested an earl:NotTested

**About the types of  [Subject](http://www.w3.org/TR/EARL10-Schema/#TestSubject)**
It says it is recommend

[2016-07-07 13:06] keshav-nangare opened #171 "Order of conformance class is not as per the testng.xml in EARL report."
I have observed the gml32 earl result, the order of conformance classes is not similar to testng.xml in EARL report.

I have attached the gml32 earl report and the testng.xml .

[report.zip](https://github.com/opengeospatial/teamengine/files/352173/report.zip)

It would be better if we create report in sequence, so the HTML report is also having the same order.

[2016-07-11 14:51] bermud commented on #169
I always do a fresh build.

The instructions are here: http://opengeospatial.github.io/teamengine/installation.html
I use this script to quickly build TEAM Engine:
https://github.com/opengeospatial/teamengine-builder/blob/master/build_te.sh

And to install a tests I run this script from the test directory:
https://github.com/opengeospatial/teamengine-builder/blob/master/build_test.sh

[2016-07-11 15:00] CLEAOSBORNE commented on #169
@bermud   I ended up building a new instance.  Thanks for the links, I will try them on the next release.

[2016-07-12 07:44] keshav-nangare opened #172 "EARL report does not contain the Test information."
Following Test information is require in HTML report:

1. Test Name:
2. Time:
3. Test Artifact:
4.Over all Result:

We have to add this information in the EARL report.

[2016-07-13 14:01] bermud opened #173 "Improper start of session when no test is selected"
Version 4.7.1

The test starts even though there is no test selected.

**Steps:**

Using the default installation (only Example.Net and XML note)

1. Create session: http://cite.opengeospatial.org/te3/createSession.jsp
2. Do not select any specification
3. Click on start session
4. A pop up window appears 'Please select from available standards'
5. Click on close
6. The executing tests ...  and sp

[2016-07-13 14:07] bermud opened #174 "Stopping the session causes an error"
Version 4.7.1

While running a  test is stopped it throws an error. It should stop nicely and a session log should be created someway marking it as aborted or uncompleted.

Steps:

Using the default installation (only Example.Net and XML note)

1. Create session: http://cite.opengeospatial.org/te3/createSession.jsp
2. Select XML note 1.0
3. Click on start session
4. Stop the session clicking on th

[2016-07-13 18:44] rjmartell commented on #172
The latest release (4.7.1) now adds a cite:TestRun resource to the EARL results that provides summary information about the test run. For example:

[code]

[2016-07-13 19:03] bermud commented on #171
Three options:
1. Use the english labels to order the conformance classes and tests ( A.1, A.2 etc..)
2. Generate in the rdf report an order list: e.g. http://www.snee.com/bobdc.blog/2014/04/rdf-lists-and-sparql.html
3. Hardcode the order of the conformance classes, and put the file somewhere in the project  folder. Maybe under scripts/report. A general xslt will import all the files found in the

[2016-07-14 10:59] keshav-nangare commented on #173
Fixed with this commit 7ff2acedf8bc0a44b54fa82288c040d4141de031.

[2016-07-14 16:45] keshav-nangare commented on #174
I have tried with the following tests to reproduce this issue:

1.XML- Note
2.GML32

I am not able to reproduce this issue.

[2016-07-15 13:45] keshav-nangare commented on #172
One element is missing in above information i.e. "Test Artifact:".

The "Test Artifact:" is the input URL to Test.

E.G. `Test Artifact:**INPUT: http://localhost:8080/teamengine/test-input.xml`

[2016-07-15 14:26] bermud commented on #172
@keshav-nangare, thank you for looking into it. Please @rjmartell make changes to include the artifact that was tested.

[2016-07-22 14:31] bermud commented on #45
@keshav-nangare,  please look at the WFS 1.1.0 and WMS 1.3 tests

[2016-07-22 14:39] bermud commented on #171
Richard suggested a week ago to use option 2. As discussed with Keshav it seems like a good idea.
@rjmartell, please implement the Seq list RDF solution.

[code]

[2016-07-22 14:41] #173 closed

[2016-07-22 14:47] bermud commented on #174
I tried with CAT 2.0 and when stopping it , I got this:

[code]

[2016-07-26 13:22] lgoltz commented on #141
I've tried to verify the fix in the branch https://github.com/opengeospatial/teamengine/tree/feature-issue-141. The new UnitTest VerifyTECoreResults looks fine and tests the status of the parent test as documented in https://github.com/opengeospatial/teamengine/wiki/When-should-Inherited-Failure-occur. The test is successful if it is executed as single test but fails if the complete teamengine (or

[2016-07-26 14:02] bermud commented on #141
@lgoltz, Thank you for looking at this issue.
@keshav-nangare please look at the @lgoltz comment and make appropriate fixes. Thank you!

[2016-07-26 14:17] bermud commented on #174
If a user stops the test and the logs have not been created,  then display a message like this in the session page: "The test was ended prematurely. Restart session here."

[2016-07-26 18:29] keshav-nangare commented on #141
@lgoltz  Thanks for the info.

The branch feature-issue-141 didn't have the appropriate fix yet for the inherited failure. Last time we have tried to fix that issue but it was not completed and we have created the Unit tests cases with different types of the results scenario.  About the new field "subTestArray" it was declared to get all the sub-test result.

If we executed the Unit Tests "VerifyT

[2016-07-27 22:13] bermud opened #179 "Clean header of source code files"
Some Java source code files have a header that reference the old MPL license. The [Apache 2.0 license](https://github.com/opengeospatial/teamengine/blob/master/LICENSE.txt) was adopted since Sept 2014. We need to remove the reference to the MPL license, but keep the copyright statement, and in addition would be nice to add the contributors.

Here is the original statement:

[code]

Here is what we

[2016-07-29 17:45] sarasaeedi opened #180 "How to upload and test terabytes of data in the case of Compliance test for OGC CDB Candidate Standard?"
In the compliance test for OGC CDB Candidate Standard, we need to check the folder hierarchy and schema of a file-based DB. For this purpose, we require accessing the name and folder hierarchy of a CDB which can be done through one of the three methods:
1. The user needs to upload and sync the CDB directory to an FTP server (or other servers) and provides authentication information to the web appl

[2016-07-29 18:48] bermud commented on #180
@sarasaeedi, thank you for providing this issue.

I think FTP will be the simplest, but we can think of providing other solutions via APIs that will allow you to get programmatically the list of files form a directory (e.g. dropbox or google drive).

I'm not sure about your comment:

Maybe:
- Make a public FTP to put your files
- Make the parent directory readable (so you can list the files under

[2016-07-29 20:05] bermud commented on #180
@sarasaeedi,

Let's say we have all the data in Amazon S3, what are we testing on the data or the structure of the directory? I'm not very familiar with the current status of CDB.

If you have a list of files under a directory, what would you do with that list?

[2016-08-01 10:56] keshav-nangare commented on #174
Fixed with this commit d9490b21baff19092abdd79eb092b1dde75c7e16

[2016-08-02 08:54] lgoltz commented on #141
We created a new feature branch in our own repository based on your feature branch and merged the current master into (https://github.com/lat-lon/teamengine/tree/feature-issue-141).  Then we declared the  field "subTestArray" as _private_  instead of _public static_ (mvn clean install was successful) and tested with two services.

The result
 for http://192.71.92.21/MapService/wmts.axd/Vmap0WMTS?S

[2016-08-08 01:57] sarasaeedi commented on #180
@bermud

We are exploring a directory and all its subdirectories to check if certain files and directories exist.  The dataset is big (TBs of copyrighted satellite imageries) and we can't ask the user to upload it.

Our suggestion was to write a light-weight desktop application that goes though the directory and saves the structure into a file and ask the user to upload that file. This application

[2016-08-08 14:38] cmheazel opened #183 "Fortify Path Manipulation Vulnerabilities"
Address Path Manipulation vulnerabilities identified by Fortify source code scan.

[2016-08-08 19:40] rjmartell commented on #180
I assume the relevant conformance requirements are those in Annex A of OGC 15-113. Is there a particular subset of immediate interest here? For example, the platform requirements. Given that it doesn't seem practicable to submit an entire CDB data store over a network connection, local validation is preferable; that is, the input argument is a 'file://' URI that refers to the root CDB directory. T

[2016-08-08 21:48] rjmartell commented on #183
The branch task/183 can be used as the destination branch for a PR.

[2016-08-09 21:45] bermud commented on #141
_MandatoryIfImplemented_ means that if the getCapabilities advertises that set of tests (e.g. a profile) is implemented (e.g. GetFeatureInfo SOAP), then it should be implemented and the test should be executed. It depends on the getCapabilities, not the parent.

If GetCapabilities
- advertises the support for ChildTestA and they are all skipped, then the test should fail.
- do not advertises the s

[2016-08-10 15:23] #174 closed

[2016-08-12 10:51] bermud opened #185 "4.8 not building due to teamengine-virtualization because of dependencies to ets-wfs20"
TE 4.8 is not building. Here is the error. It seems to assume that WFS-2.0 is already installed and build.

[2016-08-12 11:24] dstenger commented on #185
We also recently discovered the problem.

A workaround is to either build ets-wfs20 tag 1.22 on the same machine (dependency will be saved in local repository) or to exclude the whole module from build.

Of course, we have to find a general solution. I would propose to bind the dependency to a certain maven profile so that it is just needed if the profile is activated.

[2016-08-12 11:30] dstenger commented on #185
Maybe, the dependency should even be excluded from the project. But then Docker cannot be started with a working ETS.

Also, @rjmartell the org.opengis.cite:ets-wfs20:zip:ctl could be uploaded to the central Maven repository. Currently, just the Java dependencies of the ets-wfs20 can be found there.

[2016-08-15 15:39] dstenger commented on #185
Pull request was created (removes all dependencies to ets-wfs20): #186

[2016-08-17 05:38] liangsteve commented on #180
@rjmartell  If we go with the local teamengine installation or a command-line app, what does OGC know it pass the test as the test session status (start/end) is in the local teamengine?  Is the local teamengine going to send the result to the official teamengine?

[2016-08-29 17:45] cmheazel opened #187 "Fortify Null Dereference Issues"
Address the Null Dereference issues identified by the Fortify scan.

[2016-09-06 07:01] dstenger commented on #185
PR #186 should be merged. Otherwise, the Docker build does not work any more.

In addition, we should figure out a way how to include ETS in the Docker module (e.g. via Maven profiles). Otherwise the big advantage of using docker won't come visible (as TEAM Engine on Docker cannot be used for CITE testing).

[2016-09-12 15:50] bermud commented on #141
WMTS test was simplified removing the optional tests. WMTS test is the only test using this MandatoryIfImplemented condition. We can work on this issue later.

[2016-09-13 17:01] martinechtner opened #189 "teamengine and custom tests"
I have a local instance of teamengine running and set of custom tests written in TestNG.  Through the web interface I get input from the user which includes a source directory and what level of tests they want to run against the directory.  How would I select a suite of tests to run based on parameters the user has selected? i.e. user selects Level 1 so I would only want to run level 1 tests.

[2016-09-13 23:08] rjmartell commented on #189
There are two ways to invoke a TestNG-based test suite deployed in a web container:

1. Using the RESTful API, where test run arguments are typically supplied as query parameters
2. Using the form presented by the web interface

For option 2, the HTML form elements in the CTL wrapper script (in src/main/scripts/ctl/) need to be modified accordingly; these appear in the `<ctl:form>` tag. For exampl

[2016-09-14 19:40] martinechtner commented on #189
@rjmartell thank you for your reply.

I checked out the kml2 project and deployed to my local teamengine instance. I selected CL1, however it still runs all the packages of tests CL1, CL2 and CL3. In the code there is 2 classes CL2Preconditions and CL3Preconditions in the CL2 and CL3 packages respectively that check the  users input of what conformance level they want to run. However they don't se

[2016-09-16 13:27] #169 closed

[2016-09-16 21:38] bermud commented on #81
@keshav-nangare EARL Listener was implemented  in 4.7.1. We should be able to move this task forward.

[2016-09-16 21:53] #185 closed

[2016-09-17 01:19] keshav-nangare commented on #81
The branch "earl_html_report" contains xslt file, which will convert the earl resut into HTML report.

Commit: 191084d3b350737692929dad9ea6b0e0705e9d9b

[2016-09-19 20:13] rjmartell opened #190 "Invoke CTL test suite via RESTful API"
This is already possible with TestNG suites, but any OGC test suite should be runnable in this manner. It will then become much easier to a) separate test suite execution from test session management, and b) enable interworking between test suites (including profiles) irrespective of how they're implemented. See the wiki page about the [notional architecture](https://github.com/opengeospatial/team

[2016-09-19 20:30] rjmartell commented on #190
The `teamengine-spi` module declares these two interfaces:

- com.occamlab.te.spi.executors.TestRunExecutor
- com.occamlab.te.spi.jaxrs.TestSuiteController

A TestNG suite uses implementations of these interfaces in order to provide a simple RESTful API for executing a test run. A CTL suite would need to behave in a similar fashion.

[2016-09-20 16:00] rjmartell commented on #189
Hm, that sounds like a bug. Selecting CLn should run all tests in CLn and lower (i.e. conformance levels stack, but conformance _classes_ may be independent; put another way, a conformance level is essentially a conformance class with dependencies). I'll check it out.

[2016-09-21 18:02] bermud opened #191 "Button for downloading session logs is not available"
When testing this file with the geopackage test, the button to download the logs is not showing

http://www.geopackage.org/data/simple_sewer_features.gpkg

See example of logs:
http://cite.opengeospatial.org/pub/cite/files/fhoubie-20160921.zip

TEAM Engine 4.8.1
Geopackage Test 0.3

[2016-09-22 20:22] rjmartell commented on #190
The teamengine-spi-ctl module provides a `CtlExecutor` that can be used to run a CTL test suite.

[2016-09-23 13:41] bermud commented on #191
@keshav-nangare, I know you found why the button is not showing because of  missing information. The issue to be investigated is what was the reason that  TE created an incomplete session.

[2016-09-23 13:42] bermud commented on #45
@keshav-nangare, please let me know of any questions or required clarifications.

[2016-09-23 14:36] keshav-nangare commented on #191
The TE creates the correct and complete session. The issue is with the **sourceId** attribute from the session.xml file.

If we observed value of **sourceId** in following session information:
[code]

In above session the version of the gpkg10 is **0.2** (older version session) and the current version of the gpkg10 is 0.3.

When we are viewing the result of above session then TE tries to map the s

[2016-09-26 13:59] bermud commented on #191
Maybe create a UUID for the session ID

[2016-09-26 14:08] bermud commented on #45
Maybe add ctl:conformance-class to explicitly designated what test is a conformance class. I know it will require a change in the CTL tests and TE.

[2016-09-26 14:13] bermud commented on #190
From Richard 2006.09.23

The purpose is to demonstrate the execution of a CTL suite using a RESTful API as is possible with a TestNG suite. Just like a TestNG suite, there are three ways to run it:

1. Using an IDE (main class: CtlController)
2. Using a CLI (console/terminal): java -jar *-aio.jar (but see note [1] below)
3. Using a RESTful API:

a) /teamengine/rest/suites  (get list of available t

[2016-09-26 14:29] keshav-nangare commented on #190
I tried to execute the ets-example test with the latest changes of teamengine through the REST API, but I am not able to run it.

I have extracted the test-suite (ets-example.zip) and placed into the "TE_BASE/script/" and tried to execute through the REST, when I tried this URL "http://localhost:8080/teamengine/rest/suites/alpha/1.0" it shows the message like "Test suite overview not found.".

Can

[2016-09-26 17:12] rjmartell commented on #190
This sample suite depends on teamengine-spi-ctl-4.9-SNAPSHOT, so that should be built and installed first. I forgot to update the dependencies in the POM for teamengine-web (commit was pushed).

Then extract the archive and run `mvn package`. Put ets-alpha-*.jar in TE_BASE/resources/lib and unpack *-ctl.zip in TE_BASE/scripts. Start Tomcat and the suite should show up in the list at `/rest/suites`

[2016-09-26 17:24] rjmartell commented on #190
The response entity is the CTL output (`<execution>`) with the XInclude links dereferenced. This should be represented as EARL/RDF before too long :-)

[2016-09-27 16:39] rjmartell commented on #190
The ctl:suite tag does not contain a ctl:form element that is parsed to present a form requesting input arguments. Instead, the arguments are read from an XML properties file just as for a TestNG suite; this document is built from the parameters in the service (/run) request.

**Example:**
/teamengine/rest/suites/alpha/0.9/run?input=41

The corresponding properties document contains an entry for e

[2016-10-05 17:20] rjmartell commented on #171
Implemented in 4.9. The ordering of the conformance classes is the same as in the TestNG suite definition, but this does not necessarily reflect execution order. Sample output from a test run is shown below.

[code]

[2016-10-05 17:35] #171 closed

[2016-10-05 18:03] rjmartell commented on #172
The test run arguments could be added in a container such as rdf:Bag (order doesn't matter). Another extension property (`cite:arguments`) would be needed, since EARL doesn't offer anything like this,

[2016-10-05 20:57] rjmartell commented on #172
We end up with this in the EARL report:

[code]

[2016-10-05 21:03] #172 closed

[2016-10-05 21:33] rjmartell commented on #168
TestNG test runs are identified by UUID. In fact, all current implementations of TestRunExecutor (TestNGExecutor, CtlExecutor) do this.

[2016-10-11 15:13] bermud commented on #45
@keshav-nangare. The plan is  as follows:

Add three attributes to XML CTL:

- name
- isConformanceClass
- isBasic

Do changes in the WMS 1.3 and WFS 1.1 tests to represent conformance classes explicitly and bring that information to the logs.

Conformance classes for WMS 1.3 are here:
http://cite.opengeospatial.org/te2/about/wms/1.3.0/site/
- Basic X
- Queryable
- Raster ELEVATION
- Vector ELEVAT

[2016-10-13 12:40] #191 closed

[2016-10-14 14:52] bermud opened #193 "Document how CTLs are read into TE and how the information is carried over to the end results"

[2016-10-21 14:55] bangph opened #194 "[Non-Exprience]How to understand the Test Result from TeamEngine?"
Hello,
We have a WMS service and want to test to make sure it followed OGC compliance. However, I don't understand the test results from TeamEngine, I have few questions as I have no experience, please help:
+ Do I need to understand the CTL and test cases from test suite to know what it want to test (i.e: the query to our web service endpoint) ?
+ Do I need to import sample data to our server bef

[2016-10-21 15:41] bermud commented on #194
Dear Bangh, If you have questions regarding the results please send the results and questions to the CITE forum. Experts will be able to assist you. http://cite.opengeospatial.org/forum.

You do not need to know CTL.

Here are the requirements for WMS 1.3
http://cite.opengeospatial.org/teamengine/about/wms/1.3.0/site/
You need test data.

Here is the GitHub page for the test: https://github.com/op

[2016-10-21 15:41] #194 closed

[2016-10-25 15:07] isabelrios opened #195 "Unrecognized parameter "-form" when trying to run the wms-1.1.1 tests in headless mode"
I am getting this error: Unrecognized parameter "-form",  when trying to run the example test in headles mode:
https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst#running-the-tests-in-headless-mode

I am running this command:
~/te-install/bin/unix/test.sh -source=wms/1.1.1/ctl/functions.xml -source=wms/1.1.1/ctl/wms.xml
                                -form=$forms/wms-1.1.1.x

[2016-10-27 13:47] isabelrios commented on #195
Closing this, finally got that unrecognized parameter error message fixed

[2016-10-27 13:47] #195 closed

[2016-10-27 18:28] bermud commented on #193
Please write it here:  https://github.com/opengeospatial/cite/wiki/CTL-Handling-in-TEAM-Engine

[2016-10-31 08:12] bangph opened #196 "Error when deploy Team-Engine on Tomcat"
Hello,

I want to build a local TeamEngine and test it with our local service (e.g: localhost:8080/service instead of public service with domain). I built TeamEngine by using this tutorial http://opengeospatial.github.io/teamengine/installation.html and it can generate a WAR file (teamengine/teamengine-web/target/teamengine.war). And when I deploy it to Tomcat, it has this error (although I alread

[2016-10-31 08:28] bangph commented on #196
Sorry, looks like I missed this step from the tutorial link:

Create the TE_BASE directory (e.g. /srv/teamengine) and unpack the contents of the teamengine-console-\${project.version}-base archive into this location; make sure that users (including the Tomcat user) have write access. The structure of the TE_BASE directory is shown below.

I will do this step and see it can work.

[2016-10-31 10:19] bangph commented on #196
I have to modify teamengine-web/src/main/webapp/META-INF/context.xml and replaced all {TE_BASE} with the absolute path.

And build teamengine-web with

`mvn package -P ogc.cite -Dets-resources-version=16.02.23`

and add the jar from teamengine-realm to teamengine.war (/WEB-INF/lib/) manually.

So after all of these steps, I could see a login and register page "Enter your username and password:". I

[2016-10-31 11:02] bangph commented on #196
so I can pass some errors by adding the jar in /WEB-INF/lib, but there is one error from teamengine-realm that now I had (I tried to add this jar from teamengine-realm to /WEB-INF/lib, but it does not work).
org.xml.sax.SAXParseException; systemId: jar:file:/home/user/Tomcat/webapps/teamengine.war! !/META-INF/context.xml; lineNumber: 15; columnNumber: 112; Error at (15, 112) : com.occamlab.te.real

[2016-10-31 18:55] bermud commented on #196
I recommend using this easier tutorial. There is a link from the page you were looking at
https://github.com/opengeospatial/teamengine-builder.

It takes care of creating TE_BASE, setting up the jars, etc.

We will check in detail the issues you are reporting and will get back to you soon. Thank you for reporting.

[2016-11-01 08:18] bangph commented on #196
Thanks Luis for your reply. It seems work now (although I've opened some small issues on this repository).

I have other question as you marked this thread as "question", when I test a public domain with OGC TeamEngine via: http://cite.opengeospatial.org/te2 the speed is very fast (under 1' for WCS 2.0.1 CORE) but in my localhost:8080/teamengine, it took like 20 minute and still running).

Do I ha

[2016-11-01 13:10] bangph opened #197 "TeamEngine finished WCS2.0 test suite and have error in XML when creating report"
I used TeamEngine Builder (4.10) and run test suite WCS 2.0.1, it finished and when it tried to create the report log, it has these error:

HTTP Status 500 - javax.servlet.ServletException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 162; columnNumber: 656; An invalid XML character (Unicode: 0xc) was found in the element content of the document.

type Exception re

[2016-11-02 13:16] bermud commented on #196
Great that you have been able to install it. At the public OGC Server we use -Xmx1536m. I agree 20 minutes is too much.

[2016-11-02 14:09] bangph commented on #197
this problem happens on cite test as well

`HTTP Status 500 - javax.servlet.ServletException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 161; columnNumber: 754; An invalid XML character (Unicode: 0xc) was found in the element content of the document.

type Exception report

message javax.servlet.ServletException: net.sf.saxon.trans.XPathException: org.xml.sax.SAX

[2016-11-02 14:30] bangph opened #198 "OGC Cite TeamEngine error in version 4.9 ( Exception in extension function java.lang.reflect.InvocationTargetException)"
I have some strange errors when test with OGC Cite version 4.9, meanwhile I used TeamEngine local version 4.10 and don't have this error.

Test wcs2:soap-core-req1-9 type Mandatory default result Passed (s0061/d1e112_1/d1e235_1/d4464e64_1/d1231e42_1)

Assertion: req1-9:For all coverages offered by the server under test, test coverage structure, service parameters, and service metatada via SOAP Get

[2016-11-02 15:06] bangph opened #199 "Why TeamEngine want to test a public domain with a localhost:9090 request and lead to error?"
I'm testing a public domain and it work good (request to public domain) until some test cases below try to test with localhost:9090 (!) and it has error as cannot connect from OGC cite.

    Request d6021e623_1:
     Method: get
     URL: http://localhost:9090/service/ows?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities
    Error in call to extension function {public org.w3c.dom.NodeList com.occa

[2016-11-02 15:11] bangph commented on #199
look like internal with GetCapabilities our server using it, but I will close if it is problem.

[2016-11-02 15:12] #199 closed

[2016-11-04 08:55] bangph commented on #197
I  have to test few test cases each time from the test suite and find the error is due (I don't think it is from our server as other tests can pass and don't generate error, the offending test case is this test case: Test wcs2:get-kvp-core-req28 ).

[2016-11-04 11:13] #197 closed

[2016-11-04 11:16] bangph commented on #197
the problem is due to when GetCapabilities, out server will return

<wcs:formatSupported>image/jp2</wcs:formatSupported> as the first element and that lead to test case 28 will request &format=image/jp2 which return binary characters and TeamEngine cannot parse it.

[2016-11-04 23:30] rjmartell commented on #190
The CTL test verdicts are not defined in the W3C EARL vocabulary so they can't be added there.
Define them as CITE vocabulary terms instead.

[2016-11-07 17:57] rjmartell opened #200 "Compilation failure on branch feature-issue190"
A compilation failure occurs when building branch [feature-issue190](/opengeospatial/teamengine/tree/feature-issue190).

[code]

[2016-11-07 18:05] rjmartell commented on #200
Several CITE-related resources were added to the EARL vocabulary (e.g. Inherited_Failure). These don't belong here since they are not defined in the [EARL schema](https://www.w3.org/TR/EARL10-Schema/); they should be added to the custom CITE vocabulary (com.occamlab.te.spi.vocabulary.CITE).

[2016-11-07 22:15] #193 closed

[2016-11-07 22:18] bermud commented on #190
@rjmartell , Are these not correct veredicts?
 earl:Pass, earl:Fail, earl:CannotTell, earl:NotApplicable, earl:NotTested

[2016-11-11 14:20] bermud commented on #200
@rjmartell, please let us know if this fix the issue.

[2016-11-15 09:26] bangph opened #201 "TeamEngine on OGCCite exception when send a POST XML"
When I tested WCS 2.0.1 - POST method, it return error immediately.

Test wcs2:post-xml-main type Mandatory default result Passed (s0001/d1e120_1)

Assertion: Test WCS 2.0 Post XML Extension.

Request d2816e14_1:
   Method: post
   URL: http://kahlua.eecs.jacobs-university.de/conformance
   Body:
<wcs:GetCapabilities xmlns:ctl="http://www.occamlab.com/ctl"
                     xmlns:ctlp="http://w

[2016-11-15 09:31] bangph opened #202 "TeamEngine can only run the first choosen Test subset of test suite"
For example WCS 2.0.1 has these subset test suites from the conformance test

WCS Core | WCS POST | Processing | ScalingInterpolation | Range Subsetting | CRS | EOWCS

They are checkboxes and If I check all the check boxes, it will only run the WCS_Core test. It should change to "radio box" to avoid misunderstanding.

[2016-11-16 19:21] keshav-nangare commented on #200
@rjmartell

As per the comment I have not moved the resource from EARL to CITE vocabulary yet.

Should I move that resources to CITE vocabulary?

We have to keep standard earl resource into EARL vocabulary. Right?

[2016-11-16 19:25] keshav-nangare commented on #190
@rjmartell

Can please look into above Luis comment, if it is fine then I will remove that resource from the vocabulary.

[2016-11-18 23:59] rjmartell commented on #190
I moved the CITE verdicts to `com.occamlab.te.spi.vocabulary.CITE` (e.g. cite:inheritedFailure). I suggest that cite:notTested be mapped to earl:untested. Inherited failures apply only to a test group in which one or more child tests failed; so this really corresponds to conformance class, and can thus be ignored (it's the constituent "atomic" tests that are of interest here).

[2016-11-18 23:59] #190 closed

[2016-11-21 09:47] bangph opened #204 "Error in calling extensions in WCS2 .0.1 (EOWCS) with Null Exception"
TeamEngine returns an exception when running test WCS 2.0.1 (EOWCS)

`Error in call to extension function {public synchronized void com.occamlab.te.TECore.callTest(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo,java.lang.String) throws java.lang.Exception}: Exception in extension function java.lang.NullPointerException
Result: Failed`

it fails right afte

[2016-11-21 09:49] bangph commented on #204
@rjmartell  @bermud  please have a look.

[2016-11-22 10:25] bangph commented on #196
thanks for your help,  please continue with other issues.

[2016-11-22 10:25] #196 closed

[2016-11-22 17:01] #200 closed

[2016-11-22 17:15] bermud commented on #47
@keshav-nangare, please check if we still have this issue?

[2016-11-23 13:23] keshav-nangare commented on #198
@bangph  Thank you for reporting this issue.

Can please provide the Capability URL that you have tested, so I can reproduce it.

[2016-11-23 13:25] bangph commented on #198
sorry this problem happens few times then I stop TeamEngine from Tomcat and it does not happens anymore.

here is our Endpoint for OGC conformance test (http://kahlua.eecs.jacobs-university.de/conformance)

[2016-11-23 14:14] keshav-nangare commented on #198
We used the following Capability URL:
http://kahlua.eecs.jacobs-university.de/conformance

If you observed the following result, the test **wcs2:soap-core-req1-9** is executed successfully.

[code]

The issue is not reproduced.

Can please reinstall the wcs2 test and try again. If you still get the issue let us know.

[2016-11-23 14:16] bangph commented on #198
yes, that is why I said it does not happens anymore, so just close it here.

[2016-11-23 14:16] #198 closed

[2016-11-23 14:17] keshav-nangare commented on #204
@bangph

We have investigated this issue, the Namespace is not defined for the prefix "**wcseo**" in test `<ctl:call-test name="wcseo:main">` that's why it is failing with the null pointer exception.

[2016-11-23 14:19] bangph commented on #204
good work, so maybe add some message for this exception as it will help later if other test suites can have this problem.

[2016-11-23 14:25] keshav-nangare commented on #204
Fixed with this commit: [d511ebffbdc3e08618fc2561701a99386aa9a989]( https://github.com/opengeospatial/ets-wcs20/commit/d511ebffbdc3e08618fc2561701a99386aa9a989)

[2016-11-23 14:40] keshav-nangare commented on #201
@bangph

This issue is also not reproducible.

Following is the result of test **wcs2:post-xml-main** and executed successfully.

[code]

[2016-11-23 14:41] bangph commented on #201
ok, so let's close it.

[2016-11-23 14:41] #201 closed

[2016-11-23 15:23] bermud commented on #202
I think WCS Core should always run.  We need to check that the logic behind the form for the selection of the subsets is working as expected.

[2016-11-24 06:04] keshav-nangare commented on #204
This issue is with the wcs20 test, so I have maved here [#26](https://github.com/opengeospatial/ets-wcs20/issues/26)

[2016-11-24 06:04] #204 closed

[2016-11-24 13:55] keshav-nangare commented on #202
This issue is with the WCS test, so moved here: [#29](https://github.com/opengeospatial/ets-wcs20/issues/29)

[2016-11-24 14:13] keshav-nangare commented on #202
Fixed with this commit: https://github.com/opengeospatial/ets-wcs20/commit/05864938252b961231442f835ffb4083eab3deff

[2016-12-01 06:34] #202 closed

[2016-12-08 10:22] keshav-nangare commented on #47
This issue is not reproducible now.

I have tested with the gml32 and kml22 using jmeter.

![image](https://cloud.githubusercontent.com/assets/14732650/21006076/4dab8100-bd5d-11e6-9c91-48bcd6746ea4.png)

Output:

gml32:

![image](https://cloud.githubusercontent.com/assets/14732650/21006161/9c148738-bd5d-11e6-9009-c6de37a77d26.png)

kml22:

![image](https://cloud.githubusercontent.com/assets/147326

[2016-12-08 15:23] #47 closed

[2016-12-15 18:57] rjmartell commented on #167
Implemented in the `virtualization` module. See the [Virtualization Guide](http://opengeospatial.github.io/teamengine/virt-guide.html).

[2016-12-15 18:57] #167 closed

[2016-12-15 19:12] rjmartell opened #205 "Cannot run CTL scripts from JAR file"
It is not possible to run CTL scripts that are packaged into a JAR file on the class path. A runtime exception is thrown:

    java.lang.IllegalArgumentException: URI is not hierarchical

It would seem that a CTL script must be a File resource (see com.occamlab.te.SetupOptions::addSource(File source).

[2016-12-15 19:20] rjmartell commented on #205
If this were possible then one could package and distribute a CTL-based suite in a single JAR file and not need to read them from some specified file system location (TE_BASE). Application configuration would be simpler as a result.

[2017-01-16 14:11] keshav-nangare opened #206 "Configuration of conformance class to represent the basic conformance class in the TestNG test and CTL test."
For TestNG test:
--
To represent the basic conformance class in TestNG test following configuration required into config.xml of the corresponding test:

Add following elements in the suite-element
[code]

As per the above configuration, it will add the isBasic attribute in the earl report.

For CTL test:
--
Add conformance class configuration attribute in the test element:

`For example: <ctl:test

[2017-01-17 15:46] bermud commented on #206
The solution should allow to have multiple basic conformance classes.

[2017-01-17 15:50] bermud opened #207 "Investigate best way to proceed to develop a client test based on TestNG"

[2017-02-15 05:23] rjmartell opened #208 "Password reset capability"
If a user forgets their login password there is currently no way to reset it (it cannot be recovered from the hash). On the login screen add an option to generate a new password. A generated password could be delivered using a variety of means:

1) Include it in the response message (not secure, but one might argue that test results aren't very sensitive*)
2) Send a message to the user's email add

[2017-02-15 05:30] rjmartell commented on #208
The usual recovery procedure is also a possibility, whereby a verification code is delivered by email or text message. Upon submitting the correct code a user can supply a new password.

[2017-02-17 12:19] bangph opened #209 "View Session delete icons are not align"
The "trash" icons are not align the same row with the session then one can easily delete wrong session. It is simple HTML to fix it and avoid wrong delete.

http://cite.opengeospatial.org/teamengine/viewSessions.jsp

![align_delete_icon](https://cloud.githubusercontent.com/assets/6914451/23065001/90ad0a26-f513-11e6-99c3-8c9f1c44a80d.png)

[2017-02-17 13:18] bermud commented on #209
@bangph, thank you for the feedback.  Will fix on the next revisions.

[2017-02-17 13:26] bermud commented on #197
@keshav-nangare, please check that we have captured and fixed this issue in the proper tracker https://github.com/opengeospatial/ets-wcs20

[2017-02-28 08:02] epicureanism opened #210 "namespace problem in the SoapParser of Core"
We have a simple SOS 2.0 test via SOAP, the testing endpoints and request body were saved as the POSTMAN collection which can be imported to see the req/res body:
https://www.getpostman.com/collections/e72b39d08ff37f1e4e0b

This problem was originally produced from
[SOS 2.0 Test Suite GetObservation-Test fail for SOAP](https://github.com/opengeospatial/ets-sos20/issues/2).
After some detail invest

[2017-03-03 15:09] keshav-nangare commented on #210
@epicureanism

Thanks for reporting this issue.

Can you please provide us capability URL to reproduce this issue.

I have tried with the following URL:

http://sensorweb.demo.52north.org/52n-sos-webapp/service/kvp

But it failing immediately with soap request. It would be great if you provide us steps to reproduce this issue.

I have a query with the following screenshots:

![sos20_form](https://

[2017-03-07 12:36] keshav-nangare commented on #210
@epicureanism

I have executed the sos20 test with the following capability URL:

http://sensorweb.demo.52north.org/52n-sos-webapp/service?service=SOS&request=GetCapabilities&AcceptVersions=2.0.0

The SOS test failing with the two tests. [TestResult](https://drive.google.com/open?id=0BzesVCq1_CqyX2hlLUR4M1JKOE0)

**1. sos:GRTRequestValidRequest_resultRetrieval**

  **Cause:** The prefix (soap12) i

[2017-03-07 13:54] bermud commented on #152
Please follow issue #81 for more work related to this item.

[2017-03-07 13:54] #152 closed

[2017-03-07 17:23] keshav-nangare commented on #81
@rjmartell

    We are trying to add the XML content in the EARL report it is added with the encoded format.

Example:
         XML content:
                    <values>
                        <value key="inputs">41</value>
                    </values>

        EARL Report:
                    <cnt:ContentAsXML>
                        <cnt:rest>&lt;?xml version="1.0" encoding="UTF-8"? &lt;value

[2017-03-08 08:35] keshav-nangare commented on #81
## CTL EARL Report:

The branch ["earl_report"](https://github.com/opengeospatial/teamengine/tree/earl_report) contains the work that I have done up till now.

We have updated the teamengine with the following:

1. The teamengine will generate the EARL report when CTL test executed through the web
2. Moved the CtlEarlReporter class to teamengine-core module.
3. Updated the request & response. Adde

[2017-03-08 09:12] epicureanism commented on #210
@keshav-nangare
Thanks for your help. Here are some details about this test.
1) Endpoint:
http://sensorweb.demo.52north.org/52n-sos-webapp/sos/soap
2) Request Body:
[code]
3) Response Body:
[code]

Other Ref:
screenshots using TestNG:
![step1](https://cloud.githubusercontent.com/assets/1300018/23697261/16774a6e-0422-11e7-8d9f-bcb7ad40d5ae.png)
![step2](https://cloud.githubusercontent.com/assets/13

[2017-03-08 12:04] keshav-nangare commented on #210
@epicureanism  Thanks for the details.

I will try to reproduce this issue.

[2017-03-09 12:58] bermud commented on #210
@keshav-nangare, The response body is valid. We might need to find where in TE the validation is occurring for further debugging. Is the **ns:MeasureType** that is causing the problem.

`
<om:result
                xmlns:ns="http://www.opengis.net/gml/3.2" uom="test_unit_9_3" xsi:type="ns:MeasureType">0.28
</om:result>
`

[2017-03-22 10:29] keshav-nangare commented on #81
Updated the EARL HTML Report:

Following are screenshots of CTL and TestNG tests results:

**CTL sample test result:**

Test Result:
![ctl_sample_test_result](https://cloud.githubusercontent.com/assets/14732650/24192960/a981d4e2-0f16-11e7-8686-e03b0bc60150.png)

Test Details:
![ctl_sample_testdetails_result](https://cloud.githubusercontent.com/assets/14732650/24192983/b7d01162-0f16-11e7-9d8a-a08bb

[2017-03-22 14:24] bermud commented on #81
@keshav-nangare great progress
Recommendations:
- Test with CTL test (e.g. WFS 1.1)
- Test Input should have a value
- The link to the test should be presented in one page. See the first comment on this issue.
- Main information of the test should summarize conformance classes. See the first comment on this issue.

[2017-03-30 13:50] bermud commented on #81
From the individual test report:

- [ ] add a link to “go back to the main report”
- [ ] remove the “java.lang.Assertion>error> and other types of java errors. Just provide the text of the error
- [ ] Remove the" expected true but found false" message.
- [ ] Show colorful XML for the requests and responses if they are in XML
- [ ] For future:  provide XML snippet and highlight where the code fails

[2017-04-24 14:16] bermud commented on #81
- [ ] change the test name to be human readable (w.g. GML 3.2)
- [ ] add test version
- [ ] add test id
- [ ] before test id; add “Basic Conformance Classes"
- [ ] improve the key an valued in tabular form
- [ ] update the test to include information about conformance classes
- [ ] specify in the report, which ones are the core and make sure they appear first.
- [ ] create issues on all tests gith

[2017-04-25 07:43] keshav-nangare opened #212 "Cannot write more than one result document to the same URI."
XSLT failed to write the result document due to the same file name present in the same location.

XTDE1490: Cannot write more than one result document to the same URI, or write to a URI
 that has been read: file:/C:/TE_BASE/users/ogctest/s0005/result/describeAllFeatureTypes.html

[2017-04-25 07:50] keshav-nangare opened #213 "Get correct and all test inputs submited by the user."
Currently, we are displaying the test inputs in HTML report but it is providing the last test inputs submitted by the user.

This issue is observed in the wms13 tests, this test has the multiple user forms to take inputs from the user but the EARL report contains only last response.

We need to get all the user input information into EARL report.

[2017-05-05 12:54] bangph opened #214 "Validate the service endpoint URL before running test"
The problem is simple but it is not convenient when copying the service endpoint from Webbrowser, the http:// is ignored (e.g:  kahlua.eecs.jacobs-university.de/conformance?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities)

And when starting the test, Team Engine will have error
 URL: kahlua.eecs.jacobs-university.de/conformance?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities
Error in call to e

[2017-05-08 15:49] bermud commented on #189
@martinechtner, have you been able to solve your issue? And can you please repost the issue in the https://github.com/opengeospatial/teamengine tracker

[2017-05-09 13:10] keshav-nangare commented on #212
Actually this issue is found in the wfs20 tests.

The "Simple WFS" conformance class has the two tests with the same name. Refer below screenshot and testng-result file.

The repeated test name is `name="describeAllFeatureTypes"`.

![repeated_tests_name_wfs20](https://cloud.githubusercontent.com/assets/14732650/25852243/5608b920-34e6-11e7-8bcc-0769829bc5cf.jpg)

[2017-05-10 12:21] bermud commented on #212
@rjmartell, please follow up with Keshav on this issue.

[2017-05-17 13:09] bermud commented on #212
@rjmartell, we need your input on this issue. It is the only test that has this problem. Please advise and fix.

[2017-05-17 13:57] bermud commented on #141
Those tests were removed from WMTS 1.0. See https://github.com/opengeospatial/ets-wmts10/pull/28

[2017-05-17 13:57] #141 closed

[2017-05-19 17:40] rjmartell commented on #206
I suggest adding an "optionality" parameter to each conformance class (test element) in the TestNG config file to indicate its optionality with respect to a conformity assessment. For example:

[code]

All conformance classes marked as "mandatory" constitute the minimal conformance criteria. Some specifications also stipulate recommendations that **should** be met; perhaps if any of these tests fa

[2017-05-19 17:47] rjmartell commented on #206
The optionality parameter for a conformance class shows up in the EARL report as a property of an earl:TestRequirement resource:

[code]

[2017-05-19 18:32] rjmartell commented on #206
A "Basic" test in ISO 19105 is just an "initial capability test" that acts like a precondition. It doesn't necessarily mean that the test is traced to a mandatory requirement. The "optionality" property would have one of the following values:

* mandatory: the IUT is deemed to be non-conformant if any of these tests fail.
* recommended: the IUT passes a conformity assessment, but perhaps with a wa

[2017-05-22 07:40] bangph opened #215 "View session is not sorted correctly"
![screenshot from 2017-05-22 09-36-09](https://cloud.githubusercontent.com/assets/6914451/26297287/82ab83d6-3ed2-11e7-9e2b-048bbe3c4055.png)

This should be sorted by date if the old session is somehow was overwritten with the new session (?).

[2017-05-22 15:18] bermud opened #216 "Provide statistics about the tests"
Provide clearly
- number of conformance classes
- number of tests per conformance class
- total number of failures
- failures per conformance class

In the report and in the index.md.

[2017-05-23 12:38] bermud commented on #81
Provided by Keshav 2017.05.23
![test session results 2](https://cloud.githubusercontent.com/assets/3738898/26354414/74b475f6-3f92-11e7-98a0-24a7f3cb556f.png)

Comments:
The new reported addresses the points from previous comment.

We need to improve as follows:

- [ ] Conformance Clases  (in the 5th line) should be indented and presented similar to how the items of the Result are presented
- [ ] a

[2017-06-14 12:30] keshav-nangare commented on #212
@rjmartell

It would be great if you provide some suggestion on this issue, so we can move forward.

Thanks in advance!!!

[2017-06-21 12:11] keshav-nangare commented on #81
Updated Report with the suggestions:

![gml32_result_with_new_earl_report](https://user-images.githubusercontent.com/14732650/27383463-b7f49a4e-56a8-11e7-930e-4232fb89c5d5.png)

[2017-07-11 13:49] bermud commented on #206
@keshav-nangare, have you reviewed these comments from Richard?

[2017-07-12 10:27] keshav-nangare opened #217 "Create REST API for the latest EARL report."
Create REST API for the EARL report, whenever user request for the EARL and HTML result it should return in response depend on content-type.

1. The API should return test result in EARL format.
2. The API should return test result in HTML format.

[2017-08-02 08:02] keshav-nangare commented on #217
REST api to get result in following formats:

1. Default response is in xml format.

2. Get response in EARL format:
      - Add parameter into the request header. `accept: application/rdf+xml`

3. Get HTML report [**In progress**]:
      - Add parameter into the request header. `accept: application/html`
      - This will return the zip file including the all html files.

[2017-08-02 21:00] jodygarnett opened #218 "teamengine question for osgeo project and community badges"
Team Engine is listed as being an "Incubating Project" on osgeo.org.

For the website redesign we are focused on grouping projects into OSGeo Community and OSGeo Project categories.

For new logos please see: https://github.com/OSGeo/osgeo/tree/master/incubation

We have an open question if an "osgeo incubation" logo is still useful? Does the Team Engine project have any wishes here?

[2017-08-10 10:34] lgoltz opened #219 "Enhance CtlExecutor to return EARL"
Currently the CtlExecutor returns 'ctl format' regardless of the requested format. Expected is that the  the request with header `Accept: application/rdf+xml` returns the EARL report.

[2017-08-11 19:56] bermud commented on #217
Can you provide example of how you envision the API URL to add this capability?
format=xyz

And the default should be EARL !

No 1 (Default response is in xml format) is low priority and should be done only for backward compatibility

[2017-08-11 19:57] bermud opened #220 "Provide documentation and examples of the new report"
Please document and provide 2 examples (on the guides) of how the report will look like both in HTML and EARL

[2017-08-14 19:13] jj0hns0n opened #221 "Provide team engine entry for new OSGeo website"
Can someone on the project team help us add an entry for Team Engine on the new osgeo website http://osgeo.getinteractive.nl/projects/

Contact me via email. Thanks!

/cc @rjmartell

[2017-08-17 07:02] lgoltz commented on #217
As Keshav said before (https://github.com/opengeospatial/teamengine/issues/217#issuecomment-319598810) the _Accept_ header is used to determine the format of the response.
Technical both ways, _Accept_ header and KVP, are possible. First is more REST like, KVP more OGC like.

We have to decide how to implement and where to document. As it is  not ETS specific [1] maybe on the entry point of all av

[2017-08-17 07:29] lgoltz commented on #220
The entry point of the currently available REST APIs is http://cite.opengeospatial.org/teamengine/rest/suites

More information about the REST APIs of specific ETS can be requested by appending the code and version of the ets, e.g:
 * ETS WFS 2.0: http://cite.opengeospatial.org/teamengine/rest/suites/wfs20/1.26/
 * CAT 3.0: http://cite.opengeospatial.org/teamengine/rest/suites/cat30/1.0/
   * docu

[2017-08-17 07:46] keshav-nangare commented on #219
We have updated the CtlExecutor, now it will return the xml and earl report in response according to content-type.

Here is the branch with changes: https://github.com/opengeospatial/teamengine/commits/feature-issue219

Fixed with this commit: 4b3b3707bceb5bbf2d30ed9db2bc4af6e13ea5a3

[2017-08-17 08:33] lgoltz commented on #219
Works!

I've created pull request https://github.com/opengeospatial/teamengine/pull/222

[2017-08-17 10:08] dstenger commented on #221
TEAM Engine entry was created: http://osgeo.getinteractive.nl/projects/teamengine/

We will continue updating the page.

[2017-08-17 12:42] jj0hns0n commented on #221
Thanks, closing!

[2017-08-17 12:42] #221 closed

[2017-08-18 13:41] dstenger commented on #217
I would even say that the format must be defined by the request header to keep the API RESTful. Otherwise the interface would object a REST principle.
But, as Lyn already said, KVP is more OGC like.

[2017-08-23 07:22] keshav-nangare commented on #217
@dstenger and @lgoltz

As per above suggestion we need to add format parameter in REST URL to get the appropriate result.

It's easy to user to understand the which type result he want in response.

I have updated the REST API with the format parameter. I have tested with the TestNG tests and worked fine.

While testing with the CTL test I got few errors while returning the zip file, so currently

[2017-08-23 15:01] dstenger opened #223 "Create message for users if HTML report cannot be created from CTL"
This issue is relevant for following pull request: https://github.com/opengeospatial/teamengine/pull/211

If following update is not implemented for CTL test suites https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes, the generated HTML report will be empty.

In this case, a prominent message/text should appear, saying that this test suite does not support HTML reports and the

[2017-08-23 15:14] dstenger commented on #220
Currently, as Lyn already documented, it is not possible to retrieve an EARL report via REST interface on production.

Following request can be used to retrieve an XML report of WFS 2.0 test suite: http://cite.opengeospatial.org/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities

[2017-08-31 10:50] keshav-nangare commented on #220
Followings are the way to invoke REST API with the different result:

* XML
* EARL
* HTML

   * We can get the test results in three different way, we need to add query parameter **`format`** in URL.

Following are the parameter to get the appropriate result:

1. For XML result : **`format=xml`**
2. For EARL result : **`format=earl`**
3. For HTML result : **`format=html`**

Example:  `http://local

[2017-09-01 10:42] dstenger commented on #217
So, the format can be defined as KVP, now? Is setting it in request header 'Accept' still a valid option?

If REST principles are taken into consideration, the request header 'Accept' is the better way to solve it (as already implemented).

[2017-09-01 10:50] keshav-nangare commented on #217
Now the format can be defined as KVP based. I think KVP is good because normal user can get the appropriate result through the browser, just need to pass the KVP parameter into URL.

If we use the request header 'Accept' then every time user need to use the any client interface to hit the request(such as REST_client or Postman) to specify the request header.

[2017-09-04 10:50] dstenger opened #224 "Update documentation of REST API"
Documentation of REST API must be updated considering the latest development (e.g. #217).

Following documents are affected:
* http://opengeospatial.github.io/teamengine/users.html
* http://opengeospatial.github.io/teamengine/profiles-guide.html
* https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst

[2017-09-04 10:53] dstenger commented on #217
All updates of the REST API must be documented (issue #224).

@bermud What are your thoughts about the discussion above?

[2017-09-04 11:06] dstenger commented on #223
@keshav-nangare Is this issue fixed? If this is the case, can you please create a pull request?

[2017-09-04 11:33] keshav-nangare commented on #223
Added the message in result page.

![image](https://user-images.githubusercontent.com/14732650/30024750-dce480a6-9192-11e7-8f59-07d1d91a1fcd.png)

Fixed with this commit: 8d6698916a7fd20a1c87fb51978051a0a2eb85d5

[2017-09-04 12:15] #219 closed

[2017-09-04 12:34] dstenger opened #226 "Resolve merge conflicts of pull requests"
For following pull requests conflicts must be resolved:
* https://github.com/opengeospatial/teamengine/pull/225
* https://github.com/opengeospatial/teamengine/pull/211
* https://github.com/opengeospatial/teamengine/pull/155
* https://github.com/opengeospatial/teamengine/pull/154

[2017-09-04 13:01] dstenger commented on #226
Conflicts of #211 and #225 were resolved by undoing merge of #222 (fix is included in #211).

[2017-09-04 13:22] dstenger opened #227 "Do testing of current master branch"
As many changes were merged into master branch, intensive testing should be done to prevent any unknown side-effects and to grant a stable next release.

Following project can be used for testing: https://github.com/opengeospatial/teamengine-integration-testing

Current master branch is defined as master branch with merges of 2017-09-04 and 2017-09-05.

Following functionalities should be tested i

[2017-09-05 09:43] dstenger commented on #226
All pull requests are merged.

[2017-09-05 09:43] #226 closed

[2017-09-05 09:52] dstenger commented on #227
There are no open pull requests left. Testing can be started now.

[2017-09-05 10:03] dstenger commented on #223
Further testing is required.

[2017-09-05 10:34] dstenger commented on #223
Test with ets-wms13 and [1]. An alert is shown as described above and the old report can be accessed.
Test with ets-wfs20 and [2]. The alert also appears and an HTML report is present.

-> The alert should not appear when the HTML report is present.
-> Suggestion: Can the alert be replaced by a mechanism which just changes the display of the HTML report to the text currently written in the alert?

[2017-09-05 10:56] dstenger commented on #217
Dicumentation is present in https://github.com/opengeospatial/teamengine/issues/220#issuecomment-326260245.

[2017-09-05 11:10] dstenger commented on #217
**Test with ets-wfs20 and [1]**

* No format parameter: http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run/?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
  * EARL result is displayed.
* Format parameter=earl: http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run/?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/s

[2017-09-05 11:30] dstenger commented on #217
**Test with ets-wms13 and [1]**

* No format parameter: http://localhost:8081/teamengine/rest/suites/wms/1.23/run?capabilities-url=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms130?service=WMS%26request=GetCapabilities
  * EARL result is displayed (incomplete as CTL scripts have not been extended, yet).
* Format parameter=earl: http://localhost:8081/teamengine/rest/suites/wms/1.2

[2017-09-05 13:09] dstenger commented on #220
Further tests/examples can be found here: https://github.com/opengeospatial/teamengine/issues/217#issuecomment-327144707 and https://github.com/opengeospatial/teamengine/issues/217#issuecomment-327148608.

Used branches are master branch of TEAM Engine and latest tags of ets-wfs20 (1.26) and ets-wms13 (1.23).

[2017-09-06 08:11] dstenger opened #230 "Improve message for users if HTML report cannot be created from CTL"
* The alert should not appear when the HTML report is present.
* Suggestion: Can the alert be replaced by a mechanism which just changes the display of the HTML report to the text currently written in the alert?
E.g. following is displayed on the result page (no alert):
[code]

[2017-09-06 08:13] dstenger commented on #223
Tasks discussed in https://github.com/opengeospatial/teamengine/issues/223#issuecomment-327137702 are worked on in #230.

[2017-09-06 08:13] #223 closed

[2017-09-06 08:25] dstenger commented on #224
Changes are documented in https://github.com/opengeospatial/teamengine/issues/220#issuecomment-326260245.

[2017-09-06 11:42] keshav-nangare opened #231 "HTML report is not able to display test details page outside the teamengine."
When we opened the index.html page from the html report and if we click on any test to see the detail test result it is failed to open that page.

The HTML test details result page should be accessed outside teamengine.

[2017-09-06 15:10] dstenger opened #232 "REST API: Format should be passed via request header"
Following REST principles the format is set by request header.

TEAM Engine should follow this common practice and define the requested format via request header instead of KVP.

Please also see: #217

[2017-09-07 07:40] keshav-nangare commented on #232
@dstenger

Means we are removing the format parameter form the URL right?

And implementing as we discussed earlier in this comment: https://github.com/opengeospatial/teamengine/issues/217#issuecomment-319598810

[2017-09-07 07:41] dstenger commented on #232
Yes, that is correct.

[2017-09-07 10:09] dstenger commented on #232
= Further informations

* ```Accept``` header is used to define the required content type.

* Examples how to download a zip-file via REST API.
  * Use web-browser-plugins like ```Modify Headers``` or ```Modify Header Value``` to set ```Accept``` header.
  * Use tools like ```wget``` or ```curl``` to download zip-file.

[2017-09-07 10:16] keshav-nangare commented on #232
Thank you Dirk!!!

Once done with the changes will use this tools.

[2017-09-08 10:37] keshav-nangare commented on #232
Updated the REST api with request header and removed the format parameter from the URL.

Following are the detail to invoke REST API:

1. Default response is EARL.
      - Add parameter into the Request Header. `Accept: application/rdf+earl`

2. XML:
      - Request Header. `Accept: application/xml`

3. HTML zip report:
      - Request Header. `Accept: text/html`

[2017-09-08 10:39] keshav-nangare commented on #232
Updated with this commit: 61accd2475b2fb133a3d74ecedb04f702b6b2ba7.

[2017-09-08 10:42] keshav-nangare commented on #232
@dstenger

As per your comment I have tried curl command to invoke API and able to get zip file in response.

Thank you.

[2017-09-08 11:36] dstenger commented on #232
Thank you for your work.

Can you please create a pull request for this fix?

[2017-09-08 12:45] dstenger opened #235 "REST API: Set all required request and response HTTP header"
Following HTTP header should be taken into consideration:

* Request header
  * Accept
  * Accept-Encoding

* Response header
  * Content-Encoding
  * Content-Type

[2017-09-08 14:19] dstenger commented on #224
Also consider: https://github.com/opengeospatial/teamengine/issues/232

[2017-09-08 15:00] dstenger commented on #232
If I send following requests (TEAM Engine runs on localhost:8081) with a web browser (Firefox) I just get an empty page and following stack trace is logged.
* http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
* http://localhost:8081/teamengine/rest/suites/wms/1.23/run?capabilitie

[2017-09-08 15:02] dstenger commented on #232
If I send following request with header ```Accept: application/rdf+earl``` (Client: RESTED)
* http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
I get:
[code]

[2017-09-11 07:39] keshav-nangare commented on #232
When we are executing the REST URI from the browser, the browser itself is sending the Accept: text/html request header by default but we have configured this type for our HTML report and whenever it's true, it is trying to return the html report.
Maybe we have to change content type for html report because whenever we execute request through the browser it's sending the "text/html".

If we change

[2017-09-11 07:43] keshav-nangare commented on #232
Currently the header `Accept: application/rdf+earl` is not added in REST API, that's why it's returning the `406 Not Acceptable`.

I will add this content-type in REST api then it will work fine.

[2017-09-11 09:25] dstenger commented on #232
We discussed the content-type of HTML reports and this is our conclusion:
* As the interface returns a folder structure with HTML files, the content-type ```application/zip``` is correct.
* The content type ```text/html``` is used if just a single HTML page is returned. The header ```Accept-Encoding``` then defines if the page is zipped or not.

Do you agree with that?

So, the implementation can

[2017-09-11 10:42] jonherrmann opened #236 "REST API: parameter encoding"
We have an [issue](https://github.com/inspire-eu-validation/ets-repository/issues/93) using the [REST API of the WFS 2.0 test suite](http://cite.opengeospatial.org/teamengine/rest/suites/wfs20/1.26) and the passing of an URL as ```wfs``` parameter.

The WFS 2.0 test suite expects that only the ampersands in an URL are encoded. It seems that this partially encoded URL is used by the Team Engine wit

[2017-09-11 11:58] keshav-nangare commented on #235
What Content-Encoding should we use in HTML response header  GZIP or DEFLATE?

[2017-09-11 12:40] dstenger commented on #235
As we use ```application/zip``` as mime type now, no Content-Encoding must be set in response. Instead, the Content-Type of the response has to be set to ```application/zip```.

[2017-09-12 09:08] lgoltz opened #237 "REST API: Improve response if a test run fails"
If a test run (like in #236) fails cause of an exception in the test run the reponse contains only a very generic hint:
`Error executing test suite (wfs20-1.26)`

Stacktrace from tomcat log:
[code]

and from the teamengine.log:
[code]

Expected is that the detailed message is returned as in a test run with the web GUI.

[2017-09-12 09:16] lgoltz commented on #236
A test with your service and the official TEAM Engine also breaks and reports the following exception:
[code]
It seems that the configured DefaultCRS `urn:ogc:def:crs:EPSG::5514` is not supported by the ETS WFS 2.0 (or rather the used library). There is already an issue for that: https://github.com/opengeospatial/ets-wfs20/issues/66

As it is useful to get the detailed exception message also when

[2017-09-12 09:55] dstenger opened #238 "REST API: Enhance interface to save and manage test results"
The current user-mechanism can be used to save and manage test results.

**Requirements:**

1. Create/run test session/suite
There is not currently a way to run and save a test session as an authenticated user via the REST interface.

2. List user test sessions
There needs to be an endpoint for fetching a list of previous test sessions by a user.

[2017-09-12 10:04] keshav-nangare commented on #232
Updated REST api with content-type:

Following are the details to invoke REST API:

1. Default response is EARL.
      - Add parameter into the Request Header. `Accept: application/rdf+xml`

2. XML:
      - Request Header. `Accept: application/xml`

3. HTML zip report:
      - Request Header. `Accept: application/zip`

Commit: 500b0a5531a2c1432ed2a7dae25e41845c0b8f7f

[2017-09-12 10:11] lgoltz opened #239 "REST API: remove 'html' from path to request resource in html format"

[2017-09-12 10:15] jonherrmann commented on #236
You are right, I did not notice that only the order of the test results are different and my interpretation, that the TEAM Engine does not support the encoded URL seems also to be wrong.

OK, I will update our software to pass completely encoded URLs to the TE.

Thanks for checking the issue and clarification!

[2017-09-12 10:15] #236 closed

[2017-09-12 10:21] lgoltz commented on #239
Local branch: https://github.com/lat-lon/teamengine/tree/removeHtmlFromRestPath-239

Fixed my moving handleHtmlGet() from TestResultLog to TestResource and specifying @Produces per REST method.

Commit: https://github.com/lat-lon/teamengine/commit/2b22d740116402e4b3c647f7986d4bd0a28d7fdb

[2017-09-12 10:21] lgoltz commented on #239
Local branch: https://github.com/lat-lon/teamengine/tree/removeHtmlFromRestPath-239

Fixed my moving handleHtmlGet() from TestResultLog to TestResource and specifying @Produces per REST method.

Commit: https://github.com/lat-lon/teamengine/commit/2b22d740116402e4b3c647f7986d4bd0a28d7fdb

[2017-09-12 10:21] lgoltz commented on #239
Local branch: https://github.com/lat-lon/teamengine/tree/removeHtmlFromRestPath-239

Fixed my moving handleHtmlGet() from TestResultLog to TestResource and specifying @Produces per REST method.

Commit: https://github.com/lat-lon/teamengine/commit/2b22d740116402e4b3c647f7986d4bd0a28d7fdb

[2017-09-12 13:39] keshav-nangare commented on #224
Updated documents with this commit: 0e43c64bcef559bd7b1e21724e31b47734385d52

[2017-09-13 10:46] dstenger commented on #232
**Test with ets-wfs20 and [1] (bases on TestNG)**

REST API: http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities

* No header:
  * EARL result is displayed.
* Header: ```Accept: application/rdf+earl```
  *  EARL result is displayed.
* Header: ```Accept: application/xml```
  * EARL

[2017-09-13 10:47] dstenger commented on #232
@keshav-nangare Can you please take a look at the not expected results during testing?

[2017-09-14 08:12] #232 closed

[2017-09-14 08:31] dstenger commented on #239
**Test with ets-wfs20 and [1] (bases on TestNG)**

Endpoint: http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities

* No header
  * EARL result is displayed.
* Header: ```Accept: application/rdf+earl```
  *  EARL result is displayed.
* Header: ```Accept: application/xml```
  * XML (T

[2017-09-14 08:31] dstenger commented on #239
**Test with ets-wfs20 and [1] (bases on TestNG)**

Endpoint: http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities

* No header
  * EARL result is displayed.
* Header: ```Accept: application/rdf+earl```
  *  EARL result is displayed.
* Header: ```Accept: application/xml```
  * XML (T

[2017-09-14 08:39] #239 closed

[2017-09-14 11:29] dstenger commented on #235
Content type of request with not supported Accept header returns EARL document. The ```Content-Type``` of the response is ```application/xml``` but it should be ```application/rdf+xml```.

[2017-09-14 12:42] dstenger commented on #224
Further updates were done: https://github.com/opengeospatial/teamengine/commit/0af8dcf23c297ad30bd542f95cb2a59c5f953bea

[2017-09-14 13:28] dstenger opened #242 "REST API: Setting of multiple content types in request header leads to unexpected behaviour"
If following request header is set:
```Accept: text/html,application/xhtml+xml,application/xml```
EARL is returned and the Content-Type of response is application/xml;charset='utf-8'.

If following request header is set:
```Accept: text/html,application/xhtml+xml```
status code 406 is returned.

How can this behaviour be explained?

In addition, content type ```application/rdf+earl``` should not b

[2017-09-14 13:48] bermud commented on #238
Let's implement first the interface to list user test sessions. Where each record returned should have:
- session number
- standard tested
- date
- result

[2017-09-14 14:07] bermud commented on #242
EARL should be returned by default. If we like XML, then request header should be application/rdf+xml.

[2017-09-15 08:10] dstenger commented on #242
We should define the meaning of "default".
When no Accept header is passed, the software assumes that all mime types are accepted. --> EARL is returned.
If a not supported mime type is passed (e.g. text/html), an error is returned. --> HTTP status code 406.

For example, the default Firefox HTTP Accept header is:
[code]
In this case ```application/xml``` is chosen as this is the supported mime typ

[2017-09-15 10:00] dstenger commented on #242
If different supported media types are passed via Accept header and all of the have the same weight, ```application/rdf+xml``` should be picked first.

Example header:
[code]
--> EARL (application/rdf+xml) is returned.

@bermud What do you think about my suggestions?

[2017-09-15 11:57] #224 closed

[2017-09-18 08:23] dstenger commented on #238
Further ideas deriving from email discussion:

To 1.:
In general I would keep the mechanism to execute a test run as an anonymous user. I don't think it is good to be able to access old logs of those anonymous runs.
Also, we should not work with sessions as this does not match RESTful principles.
Instead, we should enable authentication via basic authentication for REST interface. The credentials

[2017-09-18 08:34] #217 closed

[2017-09-18 08:57] keshav-nangare commented on #230
Fixed with this commit: 1be43083afe580c689551f1465822bc25987defe

[2017-09-18 09:37] dstenger commented on #230
= Test

Test with ets-wms13 and [1]. An alert is shown as described above and the old report can be accessed.
Test with ets-wfs20 and [2]. New HTML report is shown.

New reporting format if HTML report is not supported has the expected design.

[1] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms130?service=WMS&request=GetCapabilities
[2] http://cite.deegree.org/deegree-webservices

[2017-09-18 09:38] #230 closed

[2017-09-19 07:53] keshav-nangare commented on #231
Fixed with this commit: 0fe24217628a69e334ba1640f314c05ede124f11

[2017-09-19 08:18] dstenger commented on #231
**Test**

Retrieve zip-file:
GET http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
Header: Accept: application/zip

Unpack retrieved zip-file, open index.html and navigate through tests.

[2017-09-19 08:22] dstenger commented on #231
In general, navigation works now.

But, not all required files are available.
E.g. after executing wfs20 test suite, following files are missing:
* invokeGetFeatureById.html#invokeGetFeatureById
* describeAllStoredQueries.html#describeAllStoredQueries
* listStoredQueries.html#listStoredQueries
* plus more.

@keshav-nangare Please analyse this error and create a new issue if it is not related to th

[2017-09-19 08:26] dstenger commented on #231
Also, if Web-GUI is used, navigation through HTML pages does not work anymore.

[2017-09-19 08:36] keshav-nangare commented on #231
The xslt failed to create the test detail page for those tests due to the same test name.

We already created this issue here:  #212

[2017-09-19 09:09] dstenger commented on #231
Ok, so this bug is covered by #212 then.

Nevertheless, https://github.com/opengeospatial/teamengine/issues/231#issuecomment-330467173 should be solved as part of this issue.
@keshav-nangare Can you please take a look at it?

[2017-09-19 09:48] dstenger commented on #212
Identifier could be added to the HTML files.
E.g.
[code]

[2017-09-19 13:00] dstenger commented on #231
Fix: https://github.com/opengeospatial/teamengine/commit/6d6d63fcb1f543a5f9e68df85c58effe5610e5d1

Execute same test as in https://github.com/opengeospatial/teamengine/issues/231#issuecomment-330465167 -> Successful
Also, issue documented in https://github.com/opengeospatial/teamengine/issues/231#issuecomment-330467173 is solved.

[2017-09-19 13:00] #231 closed

[2017-09-20 10:52] keshav-nangare opened #245 "Failed to create testdetail html page of particular test"
If the test-suite is having the multiple tests with the same name the xslt is failing to create the testdetail html page.

This issue is related to #212

[2017-09-20 14:33] dstenger opened #246 "Unify titles of test suites received via REST API"
Following command can be used to retrieve all test suites supporting the REST API:
{TEAMENGINE-WEBAPP}/rest/suites

The titles of the test suites listed by that resource are not homogenous and should be unified.

The titles shall be adjusted to the titles shown on the start page of the Web-GUI (example: http://cite.opengeospatial.org/teamengine/).

Examples of current titles listed by that resourc

[2017-09-26 15:41] keshav-nangare commented on #245
Fixed with this commit: f41714e1cdcc36280e3d53e3701cb01180a89c2e

[2017-09-27 10:22] dstenger commented on #227
Template for result table which should be filled during testing:

Test suite | Web Browser Interface | REST + EARL fomat | REST + HTML fomat | REST + XML fomat | CLI | Comments
---|---|---|---|---|---|---
ets-wfs20 | OK | OK | OK | OK | - | -
... | - | - | - | - | - | -
... | - | - | - | - | - | -
... | - | - | - | - | - | -

[2017-09-27 10:53] dstenger commented on #245
**Test with ets-wfs20 and Web Browser Interface**

Test run with reference implementation [1].
The statistics of the HTML result page are correct.

[1] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities

[2017-09-27 10:53] #245 closed

[2017-09-27 10:55] dstenger commented on #212
Fixed with pull request: #247

[2017-09-27 10:56] dstenger commented on #212
**Test with ets-wfs20 and Web Browser Interface**

Test run with reference implementation [1].
All HTML files exist and can be opened from index.html page (tested samples).

[1] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities

[2017-09-27 11:00] dstenger commented on #212
**Test with ets-wfs20 and REST Interface**

Test run (+ HTTP header: Accept: application/zip): http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
All HTML files exist and can be opened from index.html page (tested samples).

[2017-09-27 11:00] #212 closed

[2017-09-27 11:00] dstenger commented on #212
**Test with ets-wfs20 and REST Interface**

Test run (+ HTTP header: Accept: application/zip): http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
All HTML files exist and can be opened from index.html page (tested samples).

[2017-09-27 11:38] dstenger commented on #212
**Test with ets-wfs20 and REST Interface**

Test run (+ HTTP header: Accept: application/zip): http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS%26request=GetCapabilities
All HTML files exist and can be opened from index.html page (tested samples).

[2017-09-27 11:46] dstenger commented on #81
There are still open check boxes in previous comments. Are all tasks solved?

[2017-09-27 15:35] dstenger opened #248 "HTML report: Fix 'Passed core (Can be certified)' result"
When reference implementation [1] of ets-wfs20 is tested via Web Browser Interface, the ```Passed core (Can be certified)``` result says ```No``` although the service passes all basic tests (also add ```Featureidentifier: PS_PROTECTEDSITE_a367af0b-9457-4445-9cbd-eb48ae7a844a``` when starting the test).

@keshav-nangare Can you please investigate why the result is wrong?

Further, there should be a

[2017-09-28 03:46] keshav-nangare commented on #248
@dstenger

Maybe we need to add configuration of conformance class in TestNG test then it will show something.

Here is the config link: https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

In above link there is example to add basic conformance classes.

[2017-10-02 11:14] dstenger commented on #248
Thank you. I added following to the ets-wfs20:
[code]

However, the test suite now always states following:
[code]
This is even the case if not all core tests are passed.

@keshav-nangare Can you please take a look at it?

[2017-10-04 15:10] keshav-nangare commented on #248
Now the HTML report will display correct result for core test.

If one of the core test is failed then it will set to **`'No'`** otherwise **`'Yes'`**.

Fixed with this commit: 1b734894e24f68eb58ce8adaecd7d154f053cdfb

[2017-10-05 09:15] dstenger commented on #248
Fix was successfully tested with [1] and changes from https://github.com/opengeospatial/teamengine/issues/248#issuecomment-333505626 via TEAM Engine Web Interface.

If Featureidentifier ```PS_PROTECTEDSITE_a367af0b-9457-4445-9cbd-eb48ae7a844a``` is passed, report says ```Passed core (Can be certified): Yes```.
If no Featureidentifier is passed, report says ```Passed core (Can be certified): No```.

[2017-10-05 09:16] #248 closed

[2017-10-05 16:11] keshav-nangare commented on #227
**Test result (date: 2017-10-05)**

TEAM Engine version: 4.11-SNAPSHOT

Test suite (+ version) | Web Browser Interface | REST + EARL fomat | REST + HTML fomat | REST + XML fomat | CLI | Tested endpoint | Comments
---|---|---|---|---|---|---|---

csw202 1.16 | ok | - | - | - | - | http://demo.pycsw.org/cite/csw?service=CSW&acceptVersions=2.0.2&request=GetCapabilities
-- | -- | -- | -- | -- | -- | -

[2017-10-06 10:56] dstenger commented on #242
**Conclusion after discussion:**
* If no Accept header is passed: return ```application/rdf+xml```
* If any Accept header is passed: evaluate the header and return content-type as defined by specification.

[2017-10-10 10:20] dstenger opened #251 "Detailed old test report of TestNG test suites is erroneous"
Workflow to reproduce bug:

* Execute ets-wfs20 via Web Browser Interface.
* Result is HTML report. -> Go to bottom of page and navigate to ```See the detailed old test report.```.
* Following content is erroneous:
  1. Navigate to ```View Details``` of ```Test tns:Main```. -> Overview of all tests should be shown but test logging is shown instead.
  1. Link to ```See the detailed test report.```

[2017-10-10 10:24] #227 closed

[2017-10-10 10:42] dstenger opened #252 "HTML report is erroneous on beta environment"
HTML report cannot retrieved by neither REST API nor Web Browser Interface.
REST API returns exception instead of zip file.
Web Browser Interface just returns XML report (HTML report is expected).

Logging in catalina.out.
REST API:
[code]
Web Browser Interface:
[code]

[2017-10-10 11:02] lgoltz commented on #252
During transformation from EARl to HTML the source html file (index.html) was missing causing a FileNotFound exception. The exception handling and logging was improved and the creation of the index.html invoked. This had to be done in two places, in HtmlReport for the REST API and TECore for the WEB GUI.

Solved by #253

[2017-10-10 11:12] dstenger commented on #252
Fix was successfully tested on beta environment.

[2017-10-10 11:13] #252 closed

[2017-10-10 15:01] keshav-nangare commented on #242
I have updated the REST API for multiple content-type is set in header and then return appropriate result in response.

The changes are tested with the wfs20 test. Following are the details of expected result:

Browser | URL | Request Header | Expected Output
-- | -- | -- | --
  |   |   |  
Mozilla Firefox | http://localhost:8080/teamengine/rest/suites/wfs20/1.26/run?wfs=https://services.interacti

[2017-10-10 15:01] keshav-nangare commented on #242
Fixed with this commit: e70075f108829c7c51d920982246f98c7fa46c91

[2017-10-12 15:04] #220 closed

[2017-10-13 06:38] keshav-nangare commented on #251
We investigated this issue an found commit which is affecting this result.

From this commit above issue is producing: 0d7db9cda49d6fd0961a9cd120ce0d914b0c39a4

But in this commit I didn't change anything related to logging and testng result file.

I have added the one dependency **`commons-io`** in pom.xml of teamengine-spi module. Maybe this dependency is affecting to generate this result.

Curr

[2017-10-16 10:20] dstenger opened #255 "Enhance TEAM Engine to be capable of validating resources retrieved via HTTPS protocol"
Already reported for WMS 1.3 test suite: https://github.com/opengeospatial/ets-wms13/issues/27

[2017-10-18 06:11] lgoltz commented on #251
The transformation from the test-results to the HTML (based on testng) is triggered in the CTL of the Test-Suite (e.g wfs-suite.ctl) in the template tns:testng-report. The transformation is executed, but the template does not match. The problem is that the xml to transform is the rdf/earl document, not the expected testng-result. The log in the console is also corrupt as it is not transformed for

[2017-10-18 14:32] lgoltz commented on #242
Code was improved by removing the method getPreferredMediaType() and using the JAXRS/Jersey mechanims instead: https://github.com/opengeospatial/teamengine/pull/254/commits/bf03c62bced8f37beec73946eff2c9e36619352b

Already tested with the SoapUI project from https://github.com/opengeospatial/cite-private/issues/37#issuecomment-337609607 (not public, yet).

One test is failing: the request with Acc

[2017-10-19 07:51] lgoltz commented on #251
PR #253 includes PR #254 which should be verified and merged first.

[2017-10-19 08:03] lgoltz commented on #235
Problem described in https://github.com/opengeospatial/teamengine/issues/235#issuecomment-329454224 is fixed with PR #254.

Correct behaviour can be tested with the new SoapUI project in https://github.com/opengeospatial/cite-private/issues/37

[2017-10-19 08:09] dstenger commented on #168
@bermud Can you please clarify the aim of this issue?

[2017-10-19 08:13] dstenger commented on #168
@bermud Specification of REST interface is created in #238. Is this issue obsolete then?

[2017-10-19 09:23] dstenger opened #257 "HTML report via Web Browser Interface: Buttons for old test report and session list navigate to wrong pages in some cases"
Can be reproduced by executing following steps:
* Execute ets-wfs20 with service [1] via Web Browser Interface.
* Click on any test to view detailed result.
* Go back via browser functionality.
* Click on ```See the detailed old test report.``` or ```Sessions list```.
* Browser navigates to detailed test result again.
  * **Expected behaviour:** Should navigate to old test report or session list i

[2017-10-23 13:45] keshav-nangare commented on #257
@dstenger

I have tested with the Google Chrome and its working fine. This issue is occurred in the Mozilla Firefox browser.

[2017-10-24 07:37] lgoltz opened #258 "Outdated ETS available via REST API if deployed in original and as dependency"
Behaviour on Beta if WFS ETS 1.26 and NSG WFS ETS 0.2 is deployed:

 * http://cite.opengeospatial.org/te2/about/wfs/2.0.0/site/ says version 1.26
 * http://cite.opengeospatial.org/te2/rest/suites and click on WFS 2.0
  * opens http://cite.opengeospatial.org/te2/rest/suites/wfs20/1.25/
 * http://cite.opengeospatial.org/te2/rest/suites/wfs20/1.26/run is not working

This seems to be an problem with

[2017-10-24 12:28] bermud commented on #258
Maybe there are repeated jars in the lib folder.

[2017-10-24 13:39] keshav-nangare commented on #257
Issue is fixed with this commit: b4576299f66c31c9ea95f2fad7a99f225fe9d173

[2017-10-25 08:56] #242 closed

[2017-10-25 08:57] dstenger commented on #242
Tested successfully with internal SoapUI project. Will be made available to public soon: https://github.com/opengeospatial/teamengine/wiki/Tests-for-TEAM-Engine

[2017-10-25 10:52] #251 closed

[2017-10-25 12:13] dstenger commented on #251
**Testing was successful:**

Internal SoapUI test run successfully.

Internal Selenium tests confirm that fix solves the reported problem.

All tests will be made available soon: https://github.com/opengeospatial/teamengine/wiki/Tests-for-TEAM-Engine

[2017-10-25 14:57] #257 closed

[2017-10-25 15:04] dstenger commented on #257
Manual test confirms that navigation works correct, now.
WFS 2.0 test suite was used and reproducer steps of description executed (with Firefox).

[2017-10-25 15:56] dstenger commented on #235
Correct behaviour can be confirmed: https://github.com/opengeospatial/teamengine/issues/242#issuecomment-339262692

[2017-10-25 15:56] #235 closed

[2017-10-26 10:01] dstenger commented on #237
**Decision:**

The feedback given to the user should be the error message (if it is possible, the same message should appear as displayed by Web Browser Interface).
The stack trace itself must not be returned.

[2017-10-26 11:56] #213 closed

[2017-10-26 15:34] dstenger commented on #255
We will improve the description of this issue soon.

[2017-10-26 17:24] keshav-nangare commented on #237
Fixed with this commit: 619cc9bbd91edecbbe7511dca3ed890d5e36252a

[2017-11-02 15:38] dstenger opened #261 "REST API: Create path for latest version of each test suite"
Currently, if REST API is used, the version of each test suite is part of the path.

There should be a path always matching the latest version of a test suite.

First, it has to be evaluated if this requirement does not oppose any REST principle.

[2017-11-03 09:26] keshav-nangare commented on #209
The trash icons are aligned in same row with session.

Now it looks like as below:

![test sessions](https://user-images.githubusercontent.com/14732650/32367119-117c2fba-c0a7-11e7-9e76-56689f320387.png)

[2017-11-03 09:27] keshav-nangare commented on #209
Fixed with this commit: a41a1823864ad1079990ea5dd8cba6461ae1dd3c

[2017-11-03 11:16] dstenger commented on #207
@bermud Is this issue still important? Can you provide some more details?

[2017-11-03 11:35] dstenger commented on #246
Tasks:
1. Define a pattern how titles should look like.
1. Create an issue in all issue trackers of test suites which do not provide this pattern.

[2017-11-03 11:43] dstenger commented on #214
Tasks:
1. Define expected behaviour (main question: Should TEAM Engine be capable to handle other protocols than HTTP?).
1. Apply expected behaviour to code.

[2017-11-03 11:59] dstenger commented on #66
@bermud
Should anonymous test execution via REST API be disabled?

The requirement to execute test runs with a registered user via REST API is also covered by 1. of #238.
This issue also includes authentication via Web Browser Interface.

[2017-11-03 12:01] dstenger commented on #238
1. is also covered by #66.

[2017-11-03 13:43] rasdaman-doi commented on #214
@dstenger I think it just checks if it misses http:// for the URL then it considers it is http protocol by adding this prefix internally by default. Also, it should support https as well.

[2017-11-07 09:31] lgoltz opened #263 "NPE during execution of WFS 1.1 test suite"
Stacktrace from teamengine.log:

[code]
The exception occurred during working on https://github.com/opengeospatial/ets-wfs11/issues/68

[2017-11-07 11:27] lgoltz opened #265 "Warning in viewlog.xsl"
During the execution of the ETS WFS 1.1 (1.32-SNAPSHOT) with TEAM Engine 5.1-SNAPSHOT on the docker environment, the following warning is logged:

[code]

The xsl file [1] contains a lot of commented code. Maybe a clean up makes sense.

[1] https://github.com/opengeospatial/teamengine/blob/master/teamengine-web/src/main/resources/com/occamlab/te/web/viewlog.xsl

[2017-11-08 09:45] dstenger commented on #117
In long term, we must find a solution for this problem.

There are more and more TestNG test suites using Java libraries leading to an increase number of conflicts. This can lead to unstable installations of single test suites (e.g. when API changes between different versions of Java libraries, single tests will not work any more).

So, a general concept must be developed to prevent conflicts betw

[2017-11-08 14:36] dstenger commented on #117
Usage of OSGi should be considered.

[2017-11-09 12:05] dstenger opened #266 "Colors in detailed test report are confusing or not correct"
All config tests should be ignored when the color of the report is determined.

See https://github.com/opengeospatial/ets-gml32/issues/17

[2017-11-09 16:35] keshav-nangare commented on #266
The old TestNG HTML report color issue is fixed.

Fixed with this commit: 03824e7029b9c151ca1533f792e934c7f61b0f61

[2017-11-13 08:44] dstenger commented on #255
Tasks:
1. Find service which can be used for testing (also see opengeospatial/ets-wms13#27).
1. Document behaviour without fix (also see opengeospatial/ets-wms13#27).
1. Enhance Java HTTP client to be capable of requesting resources via HTTPS protocol.

[2017-11-13 08:54] dstenger commented on #255
Validation with following service already works (it is a reference implementation): https://services.interactive-instruments.de/ogc-reference/simple/wfs?request=getcapabilities&service=wfsservices.interactive-instruments.de/ogc-reference/simple/wfs?request=getcapabilities&service=wfs

[2017-11-13 10:35] dstenger commented on #255
Also, a CTL based test suite can validate an HTTPS secured service successfully (reference implementation): https://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms130?service=WMS&request=GetCapabilities

[2017-11-13 10:40] dstenger commented on #255
New tasks:
1. Go through all reference implementations [1], check if they can be accessed via HTTPS, test them and document any occurring errors.
1. Analyse all occurring errors.
1. Create fix for identified errors. Also, opengeospatial/ets-wms13#27 should be taken in consideration.

[1] https://github.com/opengeospatial/cite/wiki/Reference-Implementations

[2017-11-15 09:04] lgoltz opened #268 "messages of skipped tests are empty in new HTML report"
In the old TestNG output the failures if a test was skipped was reported. This may be important to know why the test was skipped. In the new HTML report the message is empty in the overview as well as in the details of a test.

Tested locally (Docker environment) with ets-wfs20-dgiwg 0.3 and TEAM Engine 5.1-SNAPSHOT.

[2017-11-15 09:43] dstenger commented on #215
We even propose further updates of the layout:

1. List of sessions should be moved below the button "Create a new session".
1. Newest session should be on the top and oldest on the bottom of the list.
1. Sessions are sorted by data instead by session ID (original request of this issue).

@bangph @bermud @keshav-nangare
What do you think of extending this issue to the three tasks mentioned above?

[2017-11-15 09:45] bangph commented on #215
@dstenger I agree with 2 and 3, it will be useful. I don't have a problem with 1 so it is your choice.

[2017-11-15 09:53] dstenger commented on #215
When the session list becomes very long you always have to scroll down to start a new session. This is the reason why 1 improves the handling for users (no scrolling to start a new session).

[2017-11-15 09:54] bangph commented on #215
@dstenger then you could implement pagination for session list instead, I don't want to scroll down for a long list.

[2017-11-16 13:20] keshav-nangare commented on #255
Following are the behaviour of the Reference-Implementations:

Standard | Organization | HTTP End Point | HTTPS | Status
-- | -- | -- | -- | --
CSW 2.0.2 | Florence Research Association | GI-cat 12.0 | Not able to access as HTTPS | ----
CSW 2.0.2 | OSGeo | pycsw 2.0 | Not able to access as HTTPS | ----
CSW 2.0.2 | ESRI | Geoportal server | https://gptogc.esri.com/geoportal/csw?request=GetCapabilit

[2017-11-17 07:36] keshav-nangare commented on #268
@lgoltz

Please provide the service URL to reproduce this issue.

[2017-11-17 07:49] lgoltz commented on #268
@keshav-nangare http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities can be used

[2017-11-17 10:32] keshav-nangare commented on #268
Thanks Lyn.

The message of some skipped tests are empty in new main HTML page, but some messages are present in TestDetails page.

I have observed both the result i.e. New HTML report as well as TestNG HTML report.

There are only few skipped test which is having the error message that test message are include in the TestDetail html page but missing in the main HTML page(New HTML report).

I have

[2017-11-17 10:32] keshav-nangare commented on #268
Fixed with this commit: 8752d5786c8153f3124d9a1b1c19a7ac0211f08f

[2017-11-20 06:35] keshav-nangare commented on #215
@dstenger

We can do changes as you suggested in comment i.e. 1,2 & 3.

[2017-11-20 07:49] dstenger commented on #215
Yes, I am in favour of doing those changes.

@bangph You are right, but this is more complex and eventually not easy to implement.
@keshav-nangare Can you do a short code review if improvement proposed by bangph can be implemented easily? If this is not the case, I propose to do the three originally described improvements.

[2017-11-20 17:14] dstenger commented on #81
TODO: Review this issue and add new ideas/ improvements to wiki page.

[2017-11-21 13:19] keshav-nangare commented on #215
I have proposed solution according to your comment i.e(1,2,3).

Now the test session are sorted by date.

![image](https://user-images.githubusercontent.com/14732650/33074554-9e15de0a-ceec-11e7-8139-9a4d00207fbe.png)

[2017-11-21 13:20] keshav-nangare commented on #215
Fixed with this commit: 1d4b6f729d5f7266d4aa6059ad76f081e8f34cf9

[2017-11-21 14:51] aaime opened #271 "No way to re-run a single test from a Java IDE"
The old CITE engine allowed to re-run a failing test at the tester command to check variations in the software being tested. The current engine UI does not seem to offer a similar ability.

I also could not find documentation on how to do so from TestNG code, assuming one has the source code available (the documentation only covers running the entire suite)

[2017-11-21 14:54] aaime opened #272 "Failing tests do not report performed requests"
A failing test does not provide, in the report, the request that has been performed against the server.

![selezione_021](https://user-images.githubusercontent.com/325433/33078866-420e16c6-ced4-11e7-82ce-b85ec293a10b.png)

[2017-11-22 08:29] dstenger commented on #271
Thank you for reporting. We will do further investigation.

[2017-11-22 08:30] dstenger commented on #272
Thank you for reporting. We will do further investigation.

[2017-11-22 09:58] dstenger commented on #271
@aaime
Can you please describe the isse more in detail?

Are you referencing the button "Execute this test again"?
E.g.:

![img_22112017_150213_0](https://user-images.githubusercontent.com/2989166/33120713-3f288bfe-cf73-11e7-8213-449f3fc8e88a.png)

This button is not integrated into the new UI. Nevertheless, you can still view the old report where this button is still existent.
TestNG test reports

[2017-11-22 10:12] dstenger commented on #214
I propose to check whether a protocol is given by URI. This means ...:// must exist.

The check should not be too restrict as it must be defined what types of URIs are supported by TEAM Engine first. E.g. is a file URI allowed (file://...)?

[2017-11-23 13:32] keshav-nangare commented on #272
The request URI is missing in above Report.

I have fixed this issue now the request URI will appear in the testDetail report.

![localhost 8080 teamengine reports ogctest s0150 result describeunknownfeaturetype78 html describeunknownfeaturetype78](https://user-images.githubusercontent.com/14732650/33174983-234f8ec4-d080-11e7-9ca3-1310290499d2.png)

[2017-11-23 13:33] keshav-nangare commented on #272
Fixed with this commit: 116c2f08668a4e49f0d866c02f090e93c6790a51

[2017-11-23 13:35] aaime commented on #272
Would be nice to have both the URI being posted to, and the body.
That said, the body is the non obvious part that cannot be figured out, but who knows, one might have an implementation that behaves in a different way depending on the URL being posted to.

[2017-11-24 09:34] #237 closed

[2017-11-24 09:57] dstenger commented on #237
## Test fix

* Start test environment with Docker (https://github.com/opengeospatial/teamengine-docker).
* Execute following request ("&" is not encoded): http://localhost:8081/teamengine/rest/suites/wfs20/1.26/run?wfs=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities
  * HTTP status code of response is ```500```.
  * Error message is ```Error

[2017-11-24 10:01] #209 closed

[2017-11-24 10:16] #266 closed

[2017-11-24 10:24] dstenger commented on #266
## Test fix

* Start test environment with Docker (https://github.com/opengeospatial/teamengine-docker).
* Execute test run with GML 3.2 reference implementation [1].
* All colours in detailed test report are displayed as expected.

[1] http://services.interactive-instruments.de/cite2015/simpledemo/cgi-bin/cities-postgresql/wfs?request=GetFeature&service=WFS&version=2.0.0&TYPENAMES=ci:City&COUNT=1

[2017-11-24 10:32] #268 closed

[2017-11-24 10:38] dstenger commented on #268
## Test fix

* Start test environment with Docker (https://github.com/opengeospatial/teamengine-docker).
* Execute test run with WFS 2.0 reference implementation.
* Skip messages are now printed in the test overview.

[2017-11-24 10:46] dstenger opened #273 "HTML report: Report has additional empty column if test is skipped"
New HTML report has additional empty column if test is skipped. This column is located on the right and thin as it is empty.

See following screenshot:
![grafik](https://user-images.githubusercontent.com/2989166/33207153-f5604188-d10c-11e7-9213-5d9463511984.png)

The additional empty column should be removed.

[2017-11-24 10:53] dstenger commented on #215
@keshav-nangare

Thank you for fixing this.
It appears that there are merge conflicts with the master branch.
Can you please resolve those?

[2017-11-24 11:03] dstenger commented on #45
@bermud
Are further actions required?
Otherwise, the issue can be closed.

[2017-11-24 11:11] keshav-nangare commented on #215
@dstenger

I have resolved conflicts of this branch. Now you can merge it into master.

[2017-11-24 11:24] #215 closed

[2017-11-24 11:31] dstenger commented on #215
## Test fix

* Start test environment with Docker (https://github.com/opengeospatial/teamengine-docker).
* Execute several test runs.
* All three new behaviours can be observed as expected.

[2017-11-27 09:32] keshav-nangare commented on #272
I have updated the testdetails page with URL.

![image](https://user-images.githubusercontent.com/14732650/33259615-73f0a272-d383-11e7-8707-0c8ba3e54afd.png)

[2017-11-27 09:33] keshav-nangare commented on #272
Fixed with this commit: e31c7f1dbfa3b9faaa6fd323dd9ab6ae0488b76e

[2017-11-27 11:11] keshav-nangare commented on #273
@dstenger

I am not able reproduce this issue on my local environment.

On which environment you have tested?

[2017-11-27 11:53] dstenger commented on #273
@keshav-nangare

The issue occurs on current master branch (5.1-SNAPSHOT).

It is already present in the screenshot posted by you in https://github.com/opengeospatial/teamengine/issues/268#issuecomment-345206544.

[2017-11-27 16:31] aaime commented on #271
I was actually reporting it for the new UI.
That said, it would also be nice if it could be possible to run a single test from a Java IDE (like with a normal test suite) instead of re-running the whole suite with a breakpoint

[2017-11-28 06:33] keshav-nangare commented on #273
Removed empty column from the HTML report.  da1c1b4

[2017-11-29 13:37] #263 closed

[2017-11-29 13:53] #273 closed

[2017-11-29 13:54] lgoltz commented on #273
Successful tested with local docker environment (ETS WFS 2.0).

[2017-11-29 14:16] lgoltz commented on #272
## Testing of the fix

* Build teamengine locally
*  Test environment with Docker started (https://github.com/opengeospatial/teamengine-docker)
   * with local TEAM Engine build (5.1-SNAPSHOT) and
   * ETS WFS 2.0
* Test run with [1]
* Details of failing test "invalid Geometry Operand" contains request and response

=> **Test was successful**

[1] http://cite.deegree.org/deegree-webservices-3.4-RC

[2017-11-29 14:16] #272 closed

[2017-11-30 09:19] dstenger opened #276 "Enhance impementation of SOAP request to be able to handle elements in CDATA"
Reported by https://github.com/opengeospatial/ets-wcs20/issues/24.

[2017-11-30 09:28] dstenger commented on #214
I propose to validate following pattern: ```[ANY_STRING]://[ANY_STRING]```

[2017-11-30 09:32] dstenger commented on #214
If validation is failing, error message appears saying: ```The URI of the tested resource is not valid (e.g. protocol is missing). Please recheck the URI of the passed resource.```

[2017-12-04 07:23] lgoltz opened #277 "Incomplete test result (new html report) with ETS NSG WMTS 1.0"
Tested on Beta http://cite.opengeospatial.org/te2/ with
 * TEAM Engine 5.1
 * ETS WMTS 1.0 NSG 0.1
 * SUT: http://ips.terrapixel.com/terrapixel/cubeserv.cgi?SERVICE=WMTS&REQUEST=GetCapabilities

The test result (new html report) is incomplete, it stops after the fourth conformance class ("NSG Test A.3 - Server Test Module; Service Metadata Content Test (Requirements 4,7)") and does not contain the

[2017-12-04 07:37] dstenger commented on #277
@keshav-nangare
Can you please analyse why the described behaviour is occurring?

[2017-12-04 07:53] lgoltz opened #278 "Detailed test messages with XML special characters are incomplete"
As reported with https://github.com/opengeospatial/ets-wmts10-nsg/issues/28 messages containing special XML characters like `<` or `>` are incomplete. For example:
`WMTS ServiceMetadata Capabilities docuemnt contains no <Keyword> Elements under the <Keywords>.` becomes
`WMTS ServiceMetadata Capabilities docuemnt contains no Elements under the .`

[2017-12-04 07:58] dstenger commented on #278
@keshav-nangare
Can you please do further investigations?

[2017-12-04 09:19] keshav-nangare commented on #277
Yes, I will investigate this issue.

[2017-12-04 11:51] dstenger commented on #278
If you use ```view-source:``` in Firefox, the bug can be identified:
[code]

The ```Layer```and ```Style``` elements are treated as HTML elements.

In general, there are several other syntax errors in the HTML. These are corrected by Firefox automatically.

[2017-12-04 13:12] dstenger opened #279 "site command of Maven not working"
Execution of ```mvn clean install site``` leads to an build error.

[2017-12-04 16:10] dstenger commented on #255
All test services were taken from: https://github.com/opengeospatial/cite/wiki/Unofficial-OGC-Reference-Implementations

[2017-12-04 19:52] bermud opened #280 "Improve report text for core conformance classes"
Related to this result:

[code]
Suggest to do the following:

- [ ] Rename the text **Basic Conformance Classes** to **Core Conformance Classes (Implementation passing these classes can be certified)**
- [ ] **Passed core (Can be certified): Yes**  should appear first after **Result:**

[2017-12-05 10:28] keshav-nangare commented on #277
Investigated this issue and found the problem in the xslt with xml special characters.

Fixed with this commit: e0b0ca10c0a662cec1cfc1a08afe712703f3c136

[2017-12-05 10:51] keshav-nangare commented on #278
Fix is included in #277.

[2017-12-05 12:17] keshav-nangare commented on #280
Updated the HTML report as per the suggestion.

![image](https://user-images.githubusercontent.com/14732650/33606411-652566cc-d9e3-11e7-9280-4462725eebc3.png)

[2017-12-05 12:18] keshav-nangare commented on #280
Fixed with this commit: b32ccc70226c72ba0753c7eb11875d64c3a8de3c