[2017-12-05 14:00] dstenger commented on #279
Was fixed with following commit: https://github.com/opengeospatial/teamengine/commit/63a81532176db1279184f06da5cc558be883d21a

Also, publishing of sites was fixed.

As this is a multi module project, the deployment of sites must be executed via:
[code]

[2017-12-06 07:03] keshav-nangare commented on #276
Updated the teamengine soap-builder and converted the text node to element node.

Fixed with this commit: 8517abe40a184df6ddc00917943a622985b5f6db

[2017-12-06 09:14] dstenger commented on #277
If you use ```view-source:``` in Firefox, the bug can be identified:
[code]

The ```Layer```and ```Style``` elements are treated as HTML elements.

In general, there are several other syntax errors in the HTML. These are corrected by Firefox automatically.

[2017-12-06 14:27] dstenger commented on #255
## Analyse results of table in https://github.com/opengeospatial/teamengine/issues/255#issuecomment-344920430

* Test environment
  * Used current master of Docker project: https://github.com/opengeospatial/teamengine-docker
  * Each test suite was started in an individual Docker Container.

* SOS 2.0
  * No SSL related error can be detected.
  * However, the DCP URLs use the HTTP protocol. Thus,

[2017-12-07 05:09] keshav-nangare commented on #255
I have tested on the Ubuntu Linux machine.

Once again I will check WMS 1.1.1 weather it is reproducing or not.

[2017-12-07 06:57] keshav-nangare commented on #214
@dstenger

Following is the solution for the URL validation:

We can validate the URL using HTML5 property. Need to update only form with the textbox input type to `url`.

But the HTML5 is supporting only for the latest browsers.

Following are the changes:

Old:  `<input name="text" size="96" type="url" value="" />`

New:  `<input name="uri" size="96" type="url" value="" required="true" />`

This

[2017-12-11 10:16] keshav-nangare commented on #255
@dstenger

I have tested on the Windows 8.1 environment so I getting the same error.

[Service-URL] https://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms111?service=WMS&request=GetCapabilities

[code]

[2017-12-13 09:23] dstenger commented on #214
There is no change in TEAM Engine itself necessary. So, this issue can be closed.

Solution proposed in previous comment will be implemented for WCS 2.0.2 in issue https://github.com/opengeospatial/ets-wcs20/issues/49.

[2017-12-13 09:23] #214 closed

[2017-12-13 09:31] dstenger commented on #255
@keshav-nangare Can you please document the used Java version?

[2017-12-14 10:25] dstenger opened #284 "Enhance TEAM Engine to evaluate if core conformance classes are configured"
**Current behaviour:**

The EARL/HTML report states the following:
[code]
This is also the case if no BasicConformanceClasses are configured. In this case, the information is wrong as it cannot be evaluated whether core is passed.

___

**Expected behaviour:**

If no BasicConformanceClasses are configured, the EARL/HTML report states the following:
[code]

___

Benefit of this enhancement: The new

[2017-12-14 10:26] keshav-nangare commented on #255
Details:

JAVA [Windows 8.1]:
[code]

Tomcat 7

[2017-12-14 10:29] dstenger commented on #284
@bermud What do you think of this idea? This speeds up the process of moving new TEAM Engine (v5+) to production very much as it is not possible any more that erroneous reports are generated.

@keshav-nangare Can you please estimate how complex this enhancement is and what time you need to implementat this?

[2017-12-18 11:27] dstenger commented on #279
Workflow was included in https://github.com/opengeospatial/cite/wiki/How-to-create-Releases-with-Maven and https://github.com/opengeospatial/cite/wiki/Releasing-Tests-to-the-OGC-Testing-Infrastructure.

[2017-12-18 11:27] #279 closed

[2017-12-20 08:16] lgoltz opened #285 "HTML 5.0 Report: provide XML snippet and highlight where the code fails"

[2017-12-20 08:17] lgoltz commented on #81
Open issue documented in #285. New ideas should be reported as new issue.

[2017-12-20 08:17] #81 closed

[2017-12-20 08:19] lgoltz opened #286 "HTML 5.0 Report: Add method and class of the failing test"
If  the ETS is implemented with TestNG the method name and class should be reported in the details of a test. In the old report also a link to the JavaDoc is available.

[2017-12-20 08:20] dstenger commented on #261
Problem: How does TEAM Engine identify the latest version of a test suite? Instead, an additional config folder could be added to TE_BASE containing the latest installation and version is ```latest```. Disadvantage of this approach: This version will also appear on overview page of Web Browser Interface.

[2017-12-20 08:43] lgoltz commented on #261
@dstenger Why do you think it is problem to identify the latest version of a test suite?

Is it required to support multiple versions of a ETS?

[2017-12-20 09:46] dstenger commented on #261
Then we need a complete specification of the version pattern. For example, following patterns are currently existing: 1.1.1; 1.1; r11, 1.1-rc, 1.1-beta1

The current architecture allows to support multiple versions of ETS. I don't think we should change this.
In my opinion, the "latest" path should be an additional path.

[2017-12-21 07:23] keshav-nangare commented on #286
@lgoltz  @dstenger

If we have to add the method name and class in details of the test then first we need to add it in earl-result.rdf then we can show in HTML report.

How we can represent the method and class in the EARL?

[2017-12-21 09:17] lgoltz commented on #286
@keshav-nangare Can you make a proposal how to enhance the EARL?

[2017-12-21 09:24] lgoltz commented on #285
@bermud Can you provide more details?

[2017-12-21 09:30] keshav-nangare commented on #286
Currently we have the one attribute in earl which is include the class path as well as method name, maybe we can easily extract the class name and method name from that

[code]

If it is fine then we can add class name and method name in to the html report

[2017-12-21 09:50] lgoltz commented on #286
@keshav-nangare Thats fine for me!

[2017-12-22 05:31] keshav-nangare commented on #286
Created the dummy template test details page including class and method name and link to javadoc.

![added_class_method_name](https://user-images.githubusercontent.com/14732650/34286494-fc28389e-e706-11e7-97d9-ba5497914772.jpg)

Please let me know if there is any changes.

[2017-12-22 05:31] keshav-nangare commented on #286
I will add new changes to test details page and will do further changes if required.

[2017-12-25 10:01] keshav-nangare commented on #286
Add method and class of failing test if the test-suite is based on the TestNG. But we can't recognize  whether the suite is based of CTL or TestNg test from the EARL report.
To Identify the test-suite we need to add the custom CITE earl property in earl.rdf result.

[2017-12-25 10:03] keshav-nangare opened #287 "Add cite:testSuiteType earl property to identify the test-suite is implemented using ctl or testng."
From #286.

Add method and class of failing test if the test-suite is based on the TestNG. But we can't recognize whether the suite is based of CTL or TestNg test from the EARL report.

To Identify the test-suite we need to add the custom CITE earl property in earl.rdf result.

[2017-12-25 10:06] keshav-nangare commented on #286
#287

[2017-12-25 11:30] keshav-nangare commented on #287
Fixed with this commit: f8723e785391c03d7e880d59348262566e996ba2 [PR #288]

[2017-12-25 13:28] keshav-nangare commented on #286
Added test and class into the test detail page of failing test if the ets is implemented with the TestNG.

Fixed with this commit: 7d7a2ba948d366c7e0baa63e032f991367627104 [PR: 289]

[2017-12-27 12:06] keshav-nangare commented on #284
@dstenger

I have updated the teamengine according to the suggestion, now the teamengine will evaluate if conformance classes are configure or not and based on that it will show correct result.

If the no basic conformance classes are configured then it will display the message as suggested in above [comment](https://github.com/opengeospatial/teamengine/issues/284#issue-282050432).

Fixed with thi

[2017-12-29 10:57] keshav-nangare commented on #265
Removed warning message by commenting unused variables from xsl.

Fixed with this commit: 651c1c868f371856dc69b2e10aa7160295089f0f  [ PR: #291].

[2017-12-31 18:38] cmheazel opened #292 "Fortify Issue - Weak XML Schema"
A Fortify scan against a December 28, 2017 download of the TeamEngine source tree has identified four high priority security issues with the XML schema used by TeamEngine.  Of these schema, only the ctl.xsd file is not a copy of an OGC or W3C standard schema.  We may be able to adjudicate these issues by referring to the industry standards.  But software mods to address these issues would be a mor

[2017-12-31 18:46] cmheazel opened #293 "Fortify Issue - XML External Entity Injection"
A Fortify scan against a December 28, 2017 download of the TeamEngine source tree has identified multiple XML External Entity Injection vulnerabilities.  Most of these vulnerabilities have been addressed through code modifications.  But the following modules still need to be addressed:
 - ClearTestPasswordContextListener.java line 77
 - CtlEarlReporter.java lines 95 and 507
 - CtlExecutor.java lin

[2017-12-31 19:02] cmheazel opened #294 "Fortify Issue: Path Manipulation"
A Fortify scan of the December 28, 2017 source tree has identified 80 Path Manipulation vulnerabilities.  A path manipulation vulnerability is a situation where a user may be able to use TeamEngine to access or modify files which they should not have access to.  One approach to dealing with this vulnerability is to introduce a "ValidPath" class for managing all file system paths.  I have written s

[2017-12-31 19:28] cmheazel opened #295 "Fortify Issue - Header Manipulation"
HTTPParser.java populates the HTTP content type header with an un-validated value.  Investigate whether the provided mime type value can be manipulated by an external user and if so, develop a validation approach (ex. regex validation) for this value.

This is considered a high priority vulnerability by Fortify.

[2018-01-03 03:58] cmheazel commented on #293
Code mods have been made.  Pull request has been issued.

[2018-01-03 04:01] cmheazel commented on #179
I have a shell script to remove the subject text.  Will create a branch and execute script.

[2018-01-03 14:37] cmheazel commented on #179
Source tree has been cleaned and a pull request issued.  This issue will be closed once the changes have been merged into the Master branch.

[2018-01-03 23:28] cmheazel opened #298 "Fortify Issue: Unreleased Resource"
This is a security vulnerability issue identified by the Fortify Scan tool where a resource is opened or locked and then not explicitly released.  38 files display this behavior.

[2018-01-08 00:11] cmheazel opened #300 "Fortify Issue: Null Dereference"
Investigate instances where Fortify has identified a null pointer as a potential security flaw.

[2018-01-09 18:07] vinnakota opened #301 "unable to execute WMS Client tests"
In the latest version of [TeamEngine](http://cite.opengeospatial.org/teamengine) WMS Client test is stuck at "Executing Tests". I tried Chrome and Edge browsers, same result in both.

Using an in-house server hosting TeamEngine and it sort of works here - lists all the tests that need to execute but does not show the test status (pass/fail)

[2018-01-09 21:19] cmheazel commented on #300
Code modified to fix all identified instances.  Pull request submitted.

[2018-01-09 21:24] cmheazel commented on #298
Code modifications have been made and a pull request issued

[2018-01-09 21:40] cmheazel opened #303 "Fortify Issue: Header Manipulation"
HTTPParser.java copies the Content-Type header from an inbound HTTP stream to an outbound HTTP steam without validating its contents.  This opens the door to a number of exploits including cache-poisoning, cross-site scripting, cross-user defacement, page hijacking, cookie manipulation and open redirect.  Planned solution is to use regular expressions to validate the mime type prior to copying.

[2018-01-09 21:42] cmheazel commented on #295
Close - duplicate issue

[2018-01-09 21:42] #295 closed

[2018-01-10 07:28] keshav-nangare opened #304 "Result view (tree) is missing of wms-client test"
For more details: https://github.com/opengeospatial/ets-wms-client13/issues/27

[2018-01-10 10:22] keshav-nangare commented on #304
Fixed the issue missing result tree in wms-client13 test.

![image](https://user-images.githubusercontent.com/14732650/34767224-92821362-f61d-11e7-8859-07c002d70144.png)

[2018-01-10 10:25] keshav-nangare commented on #304
Fixed with this commit: 84ca41a1b29265b1b8ce15b22b6f798fb1580b2c [PR: #305]

[2018-01-10 15:02] lgoltz commented on #301
@vinnakota Did you test on [production](http://cite.opengeospatial.org/teamengine)? I've just restarted the application container and seems to work now.

Can you explain the local failure a bit more in detail? Maybe it is the same as described in https://github.com/opengeospatial/ets-wms-client13/issues/24?

[2018-01-10 17:24] vinnakota commented on #301
@lgoltz yes, I tested this in production. I still run in to this issue, never gets past "Executing Tests" state:

![wms_client_test](https://user-images.githubusercontent.com/4108977/34785750-eeac9a54-f5e6-11e7-87a5-ace91fe935fd.png)

* On a in-house server hosting the same version as the production the test result never updates:
![wms_client_test_enterprise](https://user-images.githubusercontent.

[2018-01-11 07:07] lgoltz commented on #301
@vinnakota I've created a new issue in the WMS Client github tracker: https://github.com/opengeospatial/ets-wms-client13/issues/29

I'will close this issue as the problem with production is solved. The problem with the ETS should be  handled in the new issue.

[2018-01-11 09:35] #265 closed

[2018-01-11 09:50] #277 closed

[2018-01-11 09:50] lgoltz commented on #277
Successfully tested with local docker environment.

[2018-01-11 09:55] lgoltz commented on #278
Pull request #277 solves the problem . Successfully tested with locale docker environment.

[2018-01-11 09:55] #278 closed

[2018-01-11 10:17] #280 closed

[2018-01-11 10:58] lgoltz commented on #284
I've just tested the changes with the local docker environment
 *  ETS WMTS 1.0 NSG v0.1 (SUT:  http://ips.terrapixel.com/terrapixel/cubeserv.cgi?SERVICE=WMTS&REQUEST=GetCapabilities) and
 * ETS WFS 2.0 v1.28-SNAPSHOT (SUT: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities)

For both the conformance classes are configured. I expect a result lik

[2018-01-11 10:59] lgoltz commented on #284
The pull request has conflicts which must be resolved first.

[2018-01-11 14:23] #276 closed

[2018-01-11 14:24] lgoltz commented on #276
Successfully tested with local docker environment and requests encapsulated in CDATA and not encapsulated.

[2018-01-12 23:40] greatzzk opened #306 "unable to execute wcs 1.1.1 compliance test"
Sample 1.1.1 wcs on my server:
https://ogc.webgistesting.net/server/services/wcs111/ImageServer/WCSServer?request=GetCapabilities&service=WCS&version=1.1.1

When running it against team engine production harness, I get this:
![image](https://user-images.githubusercontent.com/11200872/34899581-ad4be078-f7ae-11e7-9e55-5c88e98c461b.png)

the very first failure is to test getcapabilities request, it r

[2018-01-15 05:48] lgoltz commented on #306
@greatzzk Please check your capabilities. The target namespace of the WCS 1.1.1 schema is http://www.opengis.net/wcs/1.1. That's why you have to set the default  namespace to this namespace,  not http://www.opengis.net/wcs/1.1.1 as in you capabilities.

That should be the reason why the URL as well as other detail cannot be parsed from the capabilities as you can see in the test details of `wcs:Ge

[2018-01-17 11:52] keshav-nangare commented on #284
@lgoltz

The conflicts of this branch are resolved. Can you please merge this PR?

[2018-01-17 11:57] lgoltz commented on #284
@keshav-nangare Thanks for your investigation. Can you also take a look into https://github.com/opengeospatial/teamengine/issues/284#issuecomment-356900372?

[2018-01-17 15:30] cmheazel opened #307 "Fortify Issue: Log Forging"
Log forging is a vulnerability where a user can write unvalidated content to the log.  This is a specific instance of the larger issue of user input validation.  Fixes to this issue may also address other issues such as Path Manipulation.

[2018-01-17 22:13] greatzzk commented on #306
@lgoltz , thanks for the reply.
We referred to doc: 07-067r2_Web_Coverage_Service_WCS_version_1.1.1.pdf when doing the development.
There is an getCapabilities operation example at page 20, section 8.4:
![image](https://user-images.githubusercontent.com/11200872/35069928-7d50f71a-fb90-11e7-90d2-62ecaa9499b9.png)
According to the picture above, it uses http://www.opengis.net/wcs/1.1.1 rather than h

[2018-01-17 23:41] cmheazel commented on #303
Further investigation suggests that the best solution to this issue is to include argument validation logic in HttpURLConnection for all set operations.  However, that class is part of the Java platform and outside of the scope of this source.

Recommendation to the CITE SC: investigate the degree of validation performed by the existing java.net.HttpURLConnection class and promote development of a

[2018-01-19 06:34] lgoltz commented on #306
@greatzzk I've moved this issue to the tracker of the ETS WCS 1.1: https://github.com/opengeospatial/ets-wcs11/issues/36

[2018-01-19 06:34] #306 closed

[2018-01-19 10:34] heidivanparys opened #308 "Status color of tests in left frame"
There seems to be an issue with the color of the squares when there are no failed tests (apart from some tests where status="FAIL" and is-config="true"), see screenshot below.

![image](https://user-images.githubusercontent.com/11427611/35146655-ee535efe-fd0b-11e7-896e-ac8052836581.png)

The test suite executed was the GML 3.2 (ISO 19136:2007) Conformance Test Suite, on TEAM Engine 4.10, with the

[2018-01-19 11:18] keshav-nangare commented on #308
This issue is related to #266 and Fixed in  Teamengine 5.1.

[2018-01-19 11:31] keshav-nangare commented on #308
This issue(%) is not fixed, so I will look into it.

[2018-01-19 17:01] heidivanparys opened #309 "Incorrect valid area of CRS http://www.opengis.net/def/crs/EPSG/0/25832"
There seems to be an issue with the area of use of http://www.opengis.net/def/crs/EPSG/0/25832

I get the following error when validating
[ProtectedSites_GetFeatureById_dk.ps.ce14f1fc-53a3-11e2-99a7-00155d01e765.txt](https://github.com/opengeospatial/teamengine/files/1647301/ProtectedSites_GetFeatureById_dk.ps.ce14f1fc-53a3-11e2-99a7-00155d01e765.txt) with Test Suite: GML 3.2 (ISO 19136:2007) Conf

[2018-01-22 09:24] keshav-nangare commented on #284
I have merged this branch[feature-issue#284] locally to master and tested with wfs20[1.28- SNAPSHOT] but it's not reproducible. Updated the text with correct indentation.

[2018-01-24 09:30] #304 closed

[2018-01-24 13:38] lgoltz commented on #255
I've tested WMS 1.1.1 (https://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms111?service=WMS&request=GetCapabilities) with local docker environment (ETS WMS 1.1 v1.16 and TEAM Engine 5.1) as well as with [production](http://cite.opengeospatial.org/teamengine). Tests are successful.

@keshav-nangare Can you try again with  [production](http://cite.opengeospatial.org/teamengine)?

[2018-01-24 14:26] dstenger commented on #255
@keshav-nangare What implementation of Java are you using? It seems that the trustStore of you Java installation is broken. Can you try to setup a newly installed, clean Java?

[2018-01-24 21:44] cmheazel commented on #187
Superseded by Issue 300

[2018-01-24 21:44] #187 closed

[2018-01-24 21:45] cmheazel commented on #183
Superseded by Issue 294

[2018-01-24 21:45] #183 closed

[2018-01-25 17:02] cmheazel opened #310 "Validate Run-time options"
RuntimeOptions.java does little to assure the validity of its' parameters. Yet the Team Engine code uses these parameters extensively and assumes their validity.  RuntimeOptions.java should be enhanced as follows:
1) All runtime options should be initialized with valid values
2) All set operations should protect against setting invalid values
3) All set operations should return a Boolean indicatin

[2018-01-29 07:23] keshav-nangare commented on #308
Fixed with this commit: d9bdf76e411bd98d376a195d2f4cd6acadc78d16. [PR: #311]

[2018-01-29 11:28] keshav-nangare commented on #255
@lgoltz

The test wms1.1 is working fine with the production.

@dstenger

OS: Windows 8.1
I'm using Oracle JAVA:
[code]

After updating to above latest version, still getting this error on my local machine.

[2018-01-31 09:42] dstenger commented on #255
@keshav-nangare

**Regarding you local system:**
In following file you can find all trusted certificates of you Java installation: ```$JAVA_HOME/jre/lib/security/cacerts```
On Linux following command can be executed to view all entries (please check for the corresponding command on Windows): ```keytool -list -keystore $JAVA_HOME/jre/lib/security/cacerts```
How many entries a present in the trustSt

[2018-01-31 09:53] keshav-nangare commented on #255
@dstenger

I checked the trusted certificates as you suggested and following are the entries:
[code]

Sure, I will repeat all tests on production.

[2018-01-31 12:07] heidivanparys opened #312 "SunCertPathBuilderException"
When testing [GetCapabilities.txt](https://github.com/opengeospatial/teamengine/files/1681596/GetCapabilities.txt) against the WFS 2.0 (ISO 19142:2010) Conformance Test Suite, the following exception occurs in the preconditions, causing all tests to fail/be skipped: `javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.cer

[2018-01-31 12:20] lgoltz commented on #312
@heidivanparys Thank you for reporting. This is one of the topic we are currently working on (s. #255).

Can you provide the capabilities URL of the service you tested? Furthermore it would be good to know if you tested locally on production or beta.

[2018-01-31 12:30] heidivanparys commented on #312
The capabilities URL is http://services.kortforsyningen.dk/ps_inspire_gml321?REQUEST=GetCapabilities&SERVICE=WFS

I tested on http://cite.opengeospatial.org/teamengine/

[2018-01-31 13:07] lgoltz commented on #312
I've tested with http://services.kortforsyningen.dk/ps_inspire_gml321?REQUEST=GetCapabilities&SERVICE=WFS but the test fails due to an unexpected CRS syntax (as described in https://github.com/opengeospatial/ets-wfs20/issues/96).

[2018-01-31 13:10] heidivanparys commented on #312
Yes that's true. I modified the Capabilities file to have a correct CRS syntax and tested with [that one](https://github.com/opengeospatial/teamengine/files/1681596/GetCapabilities.txt) (see the also first comment in this issue: ), so I could test while waiting for the service to be updated.

[2018-01-31 13:34] lgoltz commented on #312
Ok, sorry, I've read this over...

Now I'm able to reproduce the problem on [production](http://cite.opengeospatial.org/teamengine/) as well as [beta](http://cite.opengeospatial.org/te2/).
I've also tested in a local setup (docker environment) with the same versions as on production (ETS WFS 2.0 1.26 and TEAM Engine 4.10) and the failure does not occur. As the DescribeFeatureType request is secure

[2018-01-31 13:36] lgoltz commented on #255
The failure described in https://github.com/opengeospatial/teamengine/issues/255#issuecomment-350680643 is also reported in #312

[2018-01-31 14:59] heidivanparys commented on #312
There is user authentication on the service, see also https://kortforsyningen.dk/indhold/login-https-og-ssl, which explains errors when calling anything else then GetCapabilities.

[2018-02-01 08:03] keshav-nangare opened #313 "Teamengine: Implement "Forgot Password" functionality to recover or change user password."

[2018-02-01 10:43] keshav-nangare commented on #255
Following are the behaviour of the Reference-Implementations on Production environment:

Standard | Organization | HTTP End Point | HTTPS | Status
-- | -- | -- | -- | --
CSW 2.0.2 | Florence Research Association | GI-cat 12.0 | Not able to access as HTTPS | ----
CSW 2.0.2 | OSGeo | pycsw 2.0 | Not able to access as HTTPS | ----
CSW 2.0.2 | ESRI | Geoportal server | https://gptogc.esri.com/geoporta

[2018-02-08 06:32] lgoltz commented on #301
The problem  occurred again. No errors in the log file. Problem was solved with a tomcat restart.

[2018-02-09 15:57] dstenger commented on #255
## Analyse results

**SOS 2.0 | 52North | 52North**
No SSL error can be detected. As the DCP URLs use HTTP protocol, test are not executed against HTTPS URLs.
-> No need for further investigation.

**EO-WCS 1.0 | EOX IT Services GmbH | EOxServer**
Described error cannot be reproduced. Please specify the error report. No SSL related error can be detected. However, there are many test failures.

**W

[2018-02-16 11:34] keshav-nangare commented on #255
@dstenger

WFS 2.0.0 : https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities

We get the two error with wfs20 i.e 1] same as mentioned in the last comment and 2] Certificate error

`Caused by: javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to

[2018-02-22 13:03] #300 closed

[2018-02-22 13:23] #284 closed

[2018-02-22 14:20] dstenger commented on #284
**Test with Docker environment [1]**

* ETS WMTS 1.0 NSG (SUT: http://ips.terrapixel.com/terrapixel/cubeserv.cgi?SERVICE=WMTS&REQUEST=GetCapabilities) and
* ETS WFS 2.0 (SUT: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities)

Both tests returned the expected results (```Passed core (Can be certified): No``` and ```Passed core (Can be certified

[2018-02-22 14:29] #308 closed

[2018-02-22 14:50] dstenger commented on #308
**Test**

Test with Docker environment [1].

Test GML 3.2 [1] with TEAM Engine.

Navigation to old TestNG report.

All % fields contain a digit.

-> Test successful.

[1] https://github.com/opengeospatial/teamengine-docker
[2] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/gml321?service=WFS&request=GetFeature&Version=2.0.0&typenames=app:Autos

[2018-02-22 14:58] #287 closed

[2018-02-23 10:28] #286 closed

[2018-02-23 10:51] dstenger commented on #286
## Test

Start TEAM Engine via Docker environment [1].

Execute test run with ETS WFS 2.0 [2].

For example, when a test fails following is added to test description:
[code]

[1] https://github.com/opengeospatial/teamengine-docker
[2] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities

[2018-02-26 09:09] #298 closed

[2018-02-26 10:01] dstenger commented on #298
Pull request was reviewed and a smoke test was successful (with ets-wfs20).

[2018-02-26 10:02] dstenger commented on #293
@cmheazel
Unfortunately, we had to undo the merge of this pull request: #314
The code changes caused the new HTML report to not work any more.
Can you please review and create a new pull request if you find the cause? If you cannot find it, you can re-create the pull request and we take a look at it.

[2018-02-26 22:03] cmheazel commented on #168
For issue 292 we will replace the snnnn formatted session ids with UUID session ids.  We will also include enforcement of this convention.  The primary purpose of this change is to prevent folks from using session ids to create subversive file paths (we have to have some convention to validate against).  An additional advantage of UUIDs is that they are globally unique.

[2018-02-26 22:18] cmheazel commented on #238
re: "we should not work with sessions as this does not match RESTful principles."  This is a different use of the term session.  A TeamEngine session is (should be) a single resource which captures all of the information about a single test run.  For example, the path TE_BASE/users/<userid>/<UUID>/ would identify a resource which consists of all of the information associated with the <UUID> test r

[2018-02-26 22:20] cmheazel commented on #293
Thanks Dirk,

I’ll take a look, but it’s going on the back of the queue for now.

It looks like the other pull requests have merged.  Are there any others that need to be cleaned up?

Chuck

From: dstenger [mailto:notifications@github.com]
Sent: Monday, February 26, 2018 5:03 AM
To: opengeospatial/teamengine <teamengine@noreply.github.com>
Cc: Charles Heazel <CHeazel@wiscenterprises.com>; Mention

[2018-02-26 23:24] cmheazel opened #315 "Circular dependencies"
CtlEarlReporter.java imports com.occamlab.te.spi.vocabulary.  So the pom for teamengine-core has a dependency on teamengine-spi.  As a result, classes within teamengine-spi cannot use classes from teamengine-core since that would set up a circular dependency (spi is dependent on core which is dependent on spi).  As a mater of principle (and good coding practice) I would think that core classes sho

[2018-02-26 23:46] cmheazel commented on #294
Please review and comment on branch Fortify-Issue-307.  The changes in this branch have impacts throughout the code.  I would rather catch them earlier than latter.  Major changes are:
1) RuntimeOptions now validates arguments on all "set" operations (returning a boolean) and initializes all properties (no more null responses to a "get" operation).
2) RuntimeOptions properties are now private.  Th

[2018-02-27 08:24] dstenger commented on #293
Thanks. No, this is the only pull request which has to be cleaned up. All merge conflicts have already been solved by us.

[2018-02-27 13:07] cmheazel commented on #293
Glad to hear it.

I’ll get on this issue shortly.

Chuck

From: dstenger [mailto:notifications@github.com]
Sent: Tuesday, February 27, 2018 3:24 AM
To: opengeospatial/teamengine <teamengine@noreply.github.com>
Cc: Charles Heazel <CHeazel@wiscenterprises.com>; Mention <mention@noreply.github.com>
Subject: Re: [opengeospatial/teamengine] Fortify Issue - XML External Entity Injection (#293)

Thanks.

[2018-02-28 14:36] cmheazel commented on #310
The described changes have been applied to the Fortify-Issue-307 branch.  These changes have impact across the code base.  I believe I have addressed them all, but a fresh set of eyes would be useful.

See also issue 294.

[2018-03-01 10:09] lgoltz commented on #117
Some references about mvn and OSGi:
 * [The Maven Cookbook Chapter 1. Cooking with Maven and OSGi](https://books.sonatype.com/mcookbook/reference/osgi.html)
 * [Starting with OSGI with Maven and Spring, and understanding OSGI dependency problems](http://www.integratingstuff.com/2012/07/29/starting-with-osgi-with-maven-and-spring-and-understanding-osgi-dependency-problems/)

[2018-03-05 09:36] dstenger commented on #315
I agree, teamengine-spi can have a dependency to teamengine-core. But, teamengine-core should never have a dependency to teamengine-spi.

So, the code has to be refactored.

[2018-03-05 11:12] dstenger commented on #255
@keshav-nangare
Thank you for the input.

Indeed, this failure is related to SSL.
I created a new issue for that: https://github.com/opengeospatial/ets-wfs20/issues/99

So, in conclusion, this is the only SSL related error which will be dealt with in the newly created issue.
Thus, this issue can be closed.

[2018-03-05 11:12] #255 closed

[2018-03-06 16:28] cmheazel commented on #315
Created branch Fortify-Issue-315.
CtlEarlReporter.java (in core) imports terms from com.occamlab.te.spi.vocabulary.  The vocabulary package does not import any spi classes.  Therefore, this branch will move the vocabulary package from spi to core.  That will remove the core dependency on spi.

[2018-03-06 16:49] cmheazel opened #316 "OpenAPI"
Created the OpenAPI-Experiment branch.
One approach to compliance testing for WFS 3.0 is to drive the test using the OpenAPI description of the service.  This branch will be used to explore the use of TeamEngine to perform those tests.

[2018-03-08 09:56] dstenger opened #318 "Improve testing strategies for TEAM Engine and/or test suites"

[2018-03-08 09:57] dstenger opened #319 "Implement display of hierarchies in new HTML report of TEAM Engine"

[2018-03-13 07:14] lgoltz commented on #319
Proposal for a first draft:
 * In the new HTML report (based on CTL) the test on the first level shows the result of the group but does not display the complete hierarchy. A reference to the detailed test report could be helpful.

@keshav-nangare Are changes or enhancements in the EARL report required to display hierarchies?

[2018-03-13 12:17] dstenger commented on #312
@heidivanparys
I tested your provided resource [1] against TEAM Engine on production [2] and no SSL error occurs any more.
Did you update the SSL configuration on your server?
Can you please confirm if the reported bug is solved? If this is the case, the issue can be closed.

[1] https://github.com/opengeospatial/teamengine/files/1681596/GetCapabilities.txt
[2] http://cite.opengeospatial.org/teame

[2018-03-14 09:28] dstenger commented on #319
@keshav-nangare
Can you please check the steps required to display hierarchies?
Do we just have to adjust the XSLT transformation?

[2018-03-14 14:20] dstenger opened #320 "Improve error handling, logging and reporting regarding HTTPS"

[2018-03-14 14:35] bermud opened #321 "Add capability for frequent testing"
If want to allow testing of services (software instantiations) - we might need to add the capability to test the server in a frequent basis. It should be random. For example test in window of every 15-30 days.

[2018-03-14 16:49] cmheazel commented on #321
Isn't that GeoHealthCheck?

[2018-03-15 11:13] dstenger opened #322 "TEAM Engine code sprint at OSGeo Code Sprint in Bonn, Germany (2018-03-20)"
Hi all,

We would like to invite you to a TEAM Engine code sprint at OSGeo Code Sprint in Bonn, Germany on 20th of March 2018.

Everyone interested in TEAM Engine (from user to developer) is invited to participate. This will be a great opportunity for you to get involved and improve TEAM Engine and to get to know this tool better.

We plan to work on a selection of following topics:
- Improve test

[2018-03-15 11:41] lgoltz opened #323 "Provide documentation how to get information about if the test can get certified"
The information if a test can get certified should be automatically derived from the new report (EARL). E.g. a XPath is required how to get this information.

[2018-03-16 10:41] keshav-nangare commented on #319
Steps to display hierarchies:

1. Need to update the EARL document with the parent-child relation of the test.
2. Update XSLT transformation to convert it to HTML.
3. Need to think about how to represent the hierarchy of test in the HTML page.

[2018-03-20 11:37] dstenger commented on #318
# Testing strategies for TEAM Engine and test suites

Structure of tests:

## Testing of TEAM Engine

* **Unit tests**
  * Can be written in Java and executed by Maven.
    * **Status: Existing**: https://github.com/opengeospatial/teamengine/wiki/Tests-for-TEAM-Engine#unit-tests
* **Integration tests**
  * Can be written in Java and executed by Maven.
  * Possible solution for future: TEAM Engine

[2018-03-22 07:32] lgoltz commented on #319
This is already done in branch https://github.com/opengeospatial/teamengine/tree/hierarchiesInNewHtmlReport-319.

Besides the enhancements to display hierarchies, the class CtlEarlReporter was formatted and refactored. Furthermore some bugs was fixed:
 * Include  of http:Request as child of a TestResult (was child of the root element)
 * Output of the response (was empty)
 * Increasing of the numb

[2018-03-22 09:48] keshav-nangare commented on #320
@dstenger

Can you please provide the more details about this issue?

[2018-03-26 11:32] dstenger commented on #320
1. TEAM Engine should detect HTTPS related errors (e.g. in https://github.com/opengeospatial/ets-wfs20/issues/99 there is not hint to HTTPS).
1. Reporting of TEAM Engine should state that an error is HTTPS related.

Can you try to improve error handling an reporting for following issue?
https://github.com/opengeospatial/ets-wms13/issues/27

[2018-03-26 21:11] cmheazel commented on #294
This issue was briefed to the CITE Sub Committee membership at the March 2018 TC meetings.  The consensus was that it should be sufficient to run TeamEngine in a VM.  This leaves us with two actions:
1) Add a security issues section to the documentation including a discussion of path manipulation and how to counter it.
2) Complete the code modifications so that if plan A is not sufficient we will

[2018-03-28 12:41] lgoltz commented on #319
Added Unit Tests for CtlEarlReporter and fixed some more bugs.

[2018-03-29 09:02] lgoltz opened #326 "Change URLs used in EARL Report"
Currently the value "http://cite.opengeospatial.org/inheritedFailure" is used to mark an assertion as inheritedFailure.
The EARL vocabulary provides e.g.  "http://www.w3.org/ns/earl#passed" for passed tests. The values should be more consistent to improve the transformation from EARL to the new HTML report.

Proposal for the example: http://cite.opengeospatial.org/earl#inheritedFailure

[2018-03-29 11:03] lgoltz commented on #319
The xslt script transforming the EARL report to the new HTML report was adjusted to display the hierarchies (currently the test cases are indented on the main page, dependent on the level of the hierarchy depth).
UnitTest was added to test the transformation (therefore the code was moved from class TECore to a new class (EarlToHtmlTransformer).

As the generated EARL report seems to differ if the

[2018-03-29 11:04] lgoltz commented on #326
URL for InheritedFailure was already fixed: https://github.com/opengeospatial/teamengine/commit/149d8278f5d89fedd54a54ee7c586a9e7742bd96

[2018-03-29 11:37] lgoltz commented on #319
Simplified calculation of test (was counted by the TestCase/Assertions and did not work with test hierarchies):
https://github.com/opengeospatial/teamengine/commit/f47406913214af7342ce065a885787deee8232f3

[2018-03-29 12:13] lgoltz commented on #319
Fixed calculation of executed tests (included inherited tests): https://github.com/opengeospatial/teamengine/commit/d53f4b4d000ecee6d4daa214c6e628e861fdd9d3

[2018-03-29 12:18] lgoltz commented on #319
Implementation is finished so far. Currently tests without subtests (like data-preconditions in ETS WMS 1.3) contains no test results. How can we handle this?

The number of tests differs from the one  in the old report as the first (main:main) and second (data-independent, data-preconditions, basic and queryable) levels tests are not included in the new html report. Furthermore inherited failures

[2018-03-29 13:29] keshav-nangare commented on #326
@lgoltz

You are right!! The result status value should be consistent.

Instead of changing the value of all the properties we can just add text **`earl#`** to the NS_URI then it will reflect in each result.

Below is the line:

https://github.com/opengeospatial/teamengine/blob/149d8278f5d89fedd54a54ee7c586a9e7742bd96/teamengine-spi/src/main/java/com/occamlab/te/spi/vocabulary/CITE.java#L23

We ca

[2018-03-29 13:32] lgoltz commented on #326
@keshav-nangare I totally agree with you.
The changed line was only for a quick fix to handle also the inherited failures. And to break nothing else...

[2018-03-29 13:43] keshav-nangare commented on #326
Ohh. Ok.

We can change that test status value to keep consistency of result.

[2018-04-04 08:32] dstenger commented on #210
@keshav-nangare Can you please do further investigation?

[2018-04-04 09:53] dstenger commented on #312
@heidivanparys Are there any open questions left? Otherwise, we can close this issue.

[2018-04-04 10:02] dstenger commented on #319
@keshav-nangare Can you please review the implementation and provide feedback if you identify any improvements?

[2018-04-04 13:11] heidivanparys commented on #312
Hi, as far as know the SSL configuration has not been changed. The issue seems to be solved, I also tested again, so yes, the issue can be closed.

[2018-04-04 13:11] #312 closed

[2018-04-04 14:11] bermud commented on #45
This has been already implemented!

[2018-04-04 14:11] #45 closed

[2018-04-04 14:12] bermud commented on #216
Already implemented.

[2018-04-04 14:12] #216 closed

[2018-04-09 12:30] keshav-nangare commented on #320
Updated with this commit: e0519846f7e02b0e98dad79e6178f500e077824f.  [PR: #327]

[2018-04-10 14:13] lgoltz commented on #319
Should be fixed with https://github.com/lat-lon/teamengine/commit/aef2fa6efe2290bb3c9f718a919422018e9cbb95

 @keshav-nangare  Can you test again?

[2018-04-11 07:42] lgoltz commented on #322
## Summary

We discussed the test strategies for test suites (described in https://github.com/opengeospatial/teamengine/issues/318#issuecomment-374566241) and  enhanced the existing tests for  ETS WFS 2.0.

Furthermore we worked on issue https://github.com/opengeospatial/teamengine/issues/319 and enhanced the transformation from the CTL log to the EARL report by mapping undefined hierarchies. In a

[2018-04-11 11:52] keshav-nangare commented on #319
@lgoltz

The issue fixed and showing the result in detail HTML page.

But, the current working branch is failing with Maven Unit test:**`testGenerateEarlReport`**

[2018-04-11 12:30] lgoltz commented on #319
Should be fixed with https://github.com/opengeospatial/teamengine/commit/8fefc6c6cc6c42842fc566c3faf45520bd2744d1

[2018-04-11 12:50] lgoltz commented on #319
@dstenger Please review notes in https://github.com/opengeospatial/teamengine/issues/319#issuecomment-377217091 and create new tickets, if required.

[2018-04-16 09:06] dstenger opened #329 "New HTML report of CTL test suites: Tests without sub tests contain no test results"
Tests without sub tests (like data-preconditions in ETS WMS 1.3) contain no test results.

Extracted from: https://github.com/opengeospatial/teamengine/issues/319#issuecomment-377217091

[2018-04-16 09:06] dstenger commented on #329
My proposal: Test must be moved to third level of hierarchy.

[2018-04-16 09:08] dstenger opened #330 "New HTML report: Number of tests differs from the one in the old report"
The number of tests differs from the one in the old report as the first (main:main) and second (data-independent, data-preconditions, basic and queryable) levels tests are not included in the new html report.

Extracted from: https://github.com/opengeospatial/teamengine/issues/319#issuecomment-377217091

[2018-04-16 09:12] dstenger commented on #330
In my opinion this behaviour is fine and no further fix is needed as first two levels should not contain actual tests.

Documentation should be checked regarding this.

[2018-04-16 09:14] dstenger opened #331 "New HTML report of CTL test suites: Inherited failures are not marked but counted as usual failures"
Inherited failures are not marked but counted as usual failures.

Extracted from: https://github.com/opengeospatial/teamengine/issues/319#issuecomment-377217091

[2018-04-16 09:57] keshav-nangare commented on #319
@dstenger

I have tested the feature branch and worked successfully with CTL and TestNG test-suites.

Tested Environment:

OS: Windows 8.1
JAVA: 1.8
ETS: gml32 1.26 and wms13 1.23-SNAPSHOT

[2018-04-16 11:52] keshav-nangare commented on #326
I have updated the cite:namespace from "http://cite.opengeospatial.org/" ===>> "http://cite.opengeospatial.org/earl#".

The changes are successfully tested with the teamengine and ets.

Tested with:
- Teamengine: 5.3-SNAPSHOT
- ets-gml32 : 1.26-SNAPSHOT   ==> [Result](https://github.com/opengeospatial/teamengine/files/1915100/s0424.zip)

- ets-wms13 : 1.23-SNAPSHOT  ==> [Result](https://github.com

[2018-04-16 11:53] keshav-nangare commented on #326
@lgoltz

Please review the changes.

[2018-04-16 13:14] #319 closed

[2018-04-17 08:45] #322 closed

[2018-04-17 10:01] dstenger commented on #326
@keshav-nangare
You changed the namespace of prefix cite to "http://cite.opengeospatial.org/earl#".
This was not intended.

Instead, the value of earl:resource shall be changed to be more consistent. E.g. (this example is correct)
[code]
"http://cite.opengeospatial.org/inheritedFailure" was already changed to "http://cite.opengeospatial.org/earl#inheritedFailure" (first improvement).

Also, other

[2018-04-17 12:49] keshav-nangare commented on #326
Updated with this commit: 2dfc6ea4584dcd1fe2ac2fb44048e6b5708a7cd9 [PR: #332]

[2018-04-18 14:47] #326 closed

[2018-04-19 16:02] keshav-nangare opened #333 "Teamengine: The result of GetMapRequest is marked as failed in wms-client13"
cite:Terrain is not longer listed as layer to add, but after stopping the test, the parent ('Perform GetMap request for all the layers') is still marked as failed.

For more detail: https://github.com/opengeospatial/ets-wms-client13/issues/32

[2018-04-19 16:11] keshav-nangare commented on #333
Fixed with this commit: d9291d45ea65d4934350e8b585495c2ed562e628. [PR: #334]

[2018-04-23 09:19] dstenger opened #335 "Prevent dependencies of test suites to TEAM Engine"
Currently, all test suites using TestNG have a dependency to TEAM Engine jar which provides required interfaces (e.g. TestSuiteController). This can lead to dependency problems as all test suites have to be updated after a new TEAM Engine release. If this update is not done, single test suites might base on outdated versions of TEAM Engine while they are running in a newer version.

My proposal is

[2018-04-24 12:35] keshav-nangare commented on #210
@dstenger

I did some workaround and found the root cause. This issue is occurring due to the schema document of the SoapParser.
The SoapParser is using the schema documentation i.e. teamengine-resources/schema/soap12.xsd.

The response is validated with the soap12.xsd and we get the following error:

[code]

[2018-04-24 15:05] dstenger commented on #210
@keshav-nangare
Did you validate the response documented in https://github.com/opengeospatial/teamengine/issues/210#issuecomment-284987709?
Actually, the error cannot derive from SOAP schema and the response of the comment is valid.

As epicureanism already describes in the first comment, the error probably derives from SoapParser not being able to handle the inline namespace declaration.

In this

[2018-04-24 15:53] keshav-nangare commented on #210
Yes. I have validated the response and succeded but if we try to validate with the SoapParser schema then the ns prefix error is getting.

Here is the [SoapParserSchema](https://github.com/opengeospatial/teamengine/blob/master/teamengine-resources/src/main/resources/com/occamlab/te/schemas/xml.xsd)

[2018-05-03 15:39] dstenger opened #336 "Improve header of new HTML report: Test INPUT contains confusing informations"
E.g. following output is generated by GeoPackage 1.2 NSG test suite:

[code]

```ics``` term is confusing for users. Also, ```iut``` is not self explanatory and should be replaced by other term.

[2018-05-03 15:41] dstenger opened #337 "Improve header of new HTML report: Mark passed, failed and skipped conformance classes"
Header of list of conformance classes should be updated to:
```Core Conformance Classes (Pass = Green; Fail = Red; Skip = Grey):```

In the following list all conformance classes should be marked by a colour resulting from test result. Colour should be encoded in HTML:
Pass = Green
Fail = Red
Skip = Grey

Example for list (here GeoPackage 1.2 NSG test suite). Colours are not displayed here:

[code

[2018-05-03 15:42] dstenger opened #338 "Improve header of new HTML report: Improve structure of header"
```Core Conformance Classes (Pass = Green; Fail = Red; Skip = Grey):``` should be moved below last line of ```Result:```.

Rename ```Passed core (Can be certified):``` to ```Passed Core Conformance Classes (Implementations passing these classes can be certified):```.

There should be no empty lines in the report header.
E.g. Currently, there is an empty line between last core conformance class and

[2018-05-04 13:08] keshav-nangare commented on #338
Update with this commit: afc0611aa6afe4a0e5604d084cd4df730a2d8d57 [PR: #339]

[2018-05-08 07:49] keshav-nangare opened #340 "New HTML report: empty count of the failed and total test."
The count of `Fail: & Total Tests:` is not displaying in new HTML report.

Reason: The inherited failure result status is not present in TestNG based test so while transforming the earl result to HTML the inherited failure element is not found in the TestNG tests.

![image](https://user-images.githubusercontent.com/14732650/39744541-3efba10c-52c2-11e8-9ff1-161051ee72b7.png)

[2018-05-08 10:26] keshav-nangare commented on #340
Fixed with this commit: 1830223c2a7f5c5a0cf3a199be7adfaa2e20624a

[2018-05-09 10:32] keshav-nangare commented on #336
@dstenger

If we have multiple test inpts how we can handle it?

[code]

[2018-05-09 10:47] dstenger commented on #336
Can each sub-value be mapped individually? E.g. wms = Tested instance, ...

[2018-05-09 12:25] keshav-nangare commented on #336
Yes, we can iterate and map to sub-values from the list.
create list= [iut,wm,wfs-uri,....etc]

map the sub-values i.e. wms with list and if matches then replace with "Tested instance".

[2018-05-09 13:31] #333 closed

[2018-05-09 13:35] #338 closed

[2018-05-09 13:49] #340 closed

[2018-05-11 06:27] #337 closed

[2018-05-11 07:56] dstenger commented on #336
Yes, I agree to the proposed solution.

[2018-05-11 13:02] dstenger commented on #315
Branch has already been merged to master.

[2018-05-11 13:02] #315 closed

[2018-05-11 13:52] keshav-nangare commented on #336
@dstenger

I have updated the testinput terms in the new HTML report.
Following is the screenshot after the changes:

![image](https://user-images.githubusercontent.com/14732650/39927664-9f19b64c-5550-11e8-9fd8-b705153b4ad7.png)

[2018-05-14 08:04] dstenger commented on #336
@keshav-nangare

This looks good. Can you please create a pull request?

[2018-05-14 09:30] keshav-nangare commented on #336
Updated with this commit: e548163bf7f7c0c511659a0030e32431e04b9a4d [PR: #343]

[2018-05-14 09:55] dstenger commented on #336
@keshav-nangare

Enhancement is not working correctly. If any other title than ```iut,gml,wfs-uri,wmts,wfs,wms``` or ```ics``` is existing, no (empty) title is written to HTML output. WMTS test suite was used for testing.

[2018-05-14 10:06] dstenger commented on #336
Screenshot of the current behaviour:

![test-input-wmts](https://user-images.githubusercontent.com/2989166/39991262-397c5b34-576f-11e8-88b4-30e34944fd8e.png)

[2018-05-14 12:42] keshav-nangare commented on #336
Fixed with this commit: 3ea7228d72bf0ee0ed1cc5b6f47665c908a5123a

[2018-05-14 15:29] dstenger commented on #336
Testing was successful now.

[2018-05-14 15:29] #336 closed

[2018-05-18 11:40] keshav-nangare opened #344 "The wms-client13 test shows the one test failure in table even all the tests are passed."
This issue is originally reported in the https://github.com/opengeospatial/ets-wms-client13/issues/38.

There are some coverage files is present in the `teamengine-web/resources` module which is used by the ets-wms-client13. These file cotains the layer `cite:Terrain` i.e. the reson of this in correct count of failure test. By removing this layer then issue will resolve.

[2018-05-18 11:52] keshav-nangare commented on #344
Fixed with commit: 9e14c997f7086fd62c3dc4981d89aeed50b3c045 [PR: #345 ].

[2018-05-18 11:53] keshav-nangare commented on #344
@dstenger

Can you please verify this changes?

[2018-05-24 13:52] dstenger commented on #318
# Create SoapUI system tests for test suites

How to was created: https://github.com/opengeospatial/cite/wiki/How-to-create-and-run-system-tests-for-test-suites-with-SoapUI,-Maven-and-Jenkins

SoapUI system tests were created for ets-wfs20:
* https://github.com/opengeospatial/ets-wfs20/commit/6daa880be043db7dfd5625a1adca9a173f4f4e07
* https://github.com/opengeospatial/ets-wfs20/commit/4def7e40f4c5

[2018-05-25 10:02] Abouzeid commented on #196
@bangph  I am encountering the same problem of

"The username and/or password did not match. Please try again."
I tried with many users and correct password but it does not allow to login.

Could you please tell us how did you solve it?

[2018-05-25 10:05] bangph commented on #196
@Abouzeid
Please follow Luiz's suggestion to use https://github.com/opengeospatial/teamengine-builder
I don't recall this problem in detail as it was ~ 2 years ago.

[2018-05-25 10:09] Abouzeid commented on #196
Got it.
Thank you for your consideration.

[2018-05-25 13:50] dstenger commented on #318
# Create SoapUI system tests for TEAM Engine

SoapUI system tests were created for TEAM Engine:

* https://github.com/opengeospatial/teamengine/commit/d00bab238fd7e3d4531d87f45f41780cdab54d9b
* https://github.com/opengeospatial/teamengine/commit/5faa701861cd4a237a0427ba88f6f4c308c6fe8b

[2018-05-28 10:30] dstenger commented on #321
Yes, GeoHealthCheck is one option.
Also, those two issues cover this topic:
* https://github.com/opengeospatial/teamengine/issues/318
* https://github.com/opengeospatial/teamengine-integration-testing/issues/24

However, this issue should clarify what part/functionality of TEAM Engine shall be tested frequently:
* TEAM Engine REST interface
* TEAM Engine Web Browser Interface (then, different type

[2018-05-30 09:06] dstenger opened #346 "Refactor folder structure of Maven project"
Following can be improved:
* Remove/move obsolete folder and files (e.g. build/ and doc/).
* Parent-pom should not contain src folder plus modules but just modules.
* Check if directory structure of modules matches conventions.

Hints:
* https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html

[2018-05-30 10:42] dstenger commented on #346
**Remove/move obsolete folder and files (e.g. build/ and doc/).**

doc folder might be moved to other repository or integrated into site documentation.

build folder might be moved to other repository (e.g. teamengine-builder) or removed completely.

@bermud What are your thoughts about this?

**Parent-pom should not contain src folder plus modules but just modules.**

src folder is used for site

[2018-05-31 18:50] ajanett opened #347 "Config.xml required, not present, and not built"
Team Engine appears to require config.xml to be present, even when running in standalone mode with the te-install test.bat and specification of the specific test suite ctl file within $TE_BASE.
If config.xml is not present, a page full of java errors is the result. Also the stand alone operation of Team Engine does not build config.xml when it is missing.

Upon starting Team Engine under Tomcat, t

[2018-06-01 08:38] dstenger commented on #347
You are using Command Line Interface to execute TEAM Engine, right (teamengine-console)?

In this case, the config.xml has to be generated manually and there is no automatic mechanism. However, all test suites provide a snippet in scripts folder which can be copied to config.xml.

I recommend using the Web Browser Interface or REST API to execute the test suites. However, both of them base on the

[2018-06-18 07:47] keshav-nangare opened #348 "Teamengine failed to generate new HTML report if the testInputs are empty."
This issue originally reported in ets-wms-client13 here: https://github.com/opengeospatial/ets-wms-client13/issues/23

If the test-inputs is not passed then it should be set to empty and teamengine should generate the new HTML report.

[2018-06-18 12:10] keshav-nangare commented on #348
@dstenger

Can you please provide your thought on this?

[2018-06-26 10:54] dstenger opened #350 "New HTML report: Homogenize layout"
* Indentation should be the same for content of ``` Test INPUT:```, ```Result:``` and ```Core Conformance Classes (Pass = Green; Fail = Red; Skip = Grey):```.
* After ```Passed Core Conformance Classes (Implementations passing these classes can be certified):``` a space is missing.
* Replace ```Core Conformance Classes``` by ```Core conformance classes``` (2 times).
* Replace ```Number of conforma

[2018-06-27 13:49] keshav-nangare commented on #350
Fixed with this commit: 179211c938baf9b1ae1ea72a9092ad64f461a4cc. [PR: #351]

Fix Tested with the Chrome, FireFox, Safari browser.

![image](https://user-images.githubusercontent.com/14732650/41978155-d85e46e4-7a3e-11e8-9e24-ed9325cc121c.png)

[2018-06-28 14:39] dstenger commented on #348
Configuration of CCs must still be done.

[2018-06-28 14:41] dstenger commented on #348
Can be verified when https://github.com/opengeospatial/ets-wms-client13/issues/23 is done.

[2018-06-28 14:43] #344 closed

[2018-06-28 15:08] dstenger commented on #344
# Functional test

Started test suite with Docker and used QGIS 3.2 to execute all tests.

The result shows just passed tests.

[2018-07-11 08:38] dstenger commented on #331
Proposal shall be implemented.

[2018-07-11 08:45] dstenger commented on #329
There is no need to change anything in TEAM Engine itself.

[2018-07-11 08:45] #329 closed

[2018-07-25 14:02] keshav-nangare commented on #331
Updated the new HTML report and ignored the inheritedFailure test counting from the failure. Also changed the background color of the `INHERITEDFAILURE` test. We can see in screenshot the gray color represents the inherited failure tests.

![image](https://user-images.githubusercontent.com/14732650/43205548-3f964a92-9041-11e8-8346-491b520c3101.png)

[2018-07-31 13:50] dstenger commented on #331
I propose following changes:
* Mark inherited failures with bright red.
* If there are any inherited failures add following column to report (right below name of conformance class and to the right of "Fail" column).
  * ```Inherited fail:```
  * This new column contains count of all inherited failures.
  * Color of new column is also bright red.
  * Column shall just appear if there are any inheri

[2018-08-08 12:33] keshav-nangare commented on #331
Updated the new HTML report according to the proposal.

![inheritedfail_new_column](https://user-images.githubusercontent.com/14732650/43837134-396a7874-9b35-11e8-8033-e5e170fb30dd.png)
![newhtmlreport](https://user-images.githubusercontent.com/14732650/43837135-39d38544-9b35-11e8-8205-d2d810d02361.png)

@dstenger

Can you please review this changes?

[2018-08-28 09:53] keshavnangare opened #354 "Add ETS form validation"
Reference from: https://github.com/opengeospatial/ets-kml22/issues/11#issuecomment-416521111

[2018-08-28 09:55] keshav-nangare commented on #354
Fixed with this commit: 3b1de37e5433a86b52cece64676e660b7ba60d79

[2018-09-11 22:08] dgtombs opened #357 "WCS test is slow due to repeated schema loading"
Running the WCS test (and perhaps others) using TEAM Engine is slow because XMLValidatingParser repeatedly loads the same schemas. I am filing the bug against TEAM Engine instead of the WCS test suite because I don't think the latter could do anything about it.

I am trying to test a private WCS that offers quite a few coverages. I canceled this test after an hour of just verifying the first requi

[2018-09-12 05:52] lgoltz commented on #357
Thank you for reporting. As far as I see this issue is related to ets-wcs20 and not the teamengine. As far as I see the issue https://github.com/opengeospatial/ets-wcs20/issues/35 handles the same problem.
I think we can close this issue as duplicate.

[2018-09-12 13:08] dgtombs commented on #357
Ah, I see that is the same issue.

The proposed solution in opengeospatial/ets-wcs20#35 seems more like a workaround, though. I was thinking that XMLValidatingParser could be improved to cache the Schema object somehow.

[2018-09-12 15:25] dgtombs opened #358 "TEAM Engine source code has mixed line endings"
The TEAM Engine source code has multiple UNIX/Windows line ending issues:

* Some source files have LF endings in the repository (e.g., CtlEarlReporter.java) while most have CRLF.
* Some source files even have mixed line endings themselves (e.g., XMLValidatingParser.java).
* If Git's `core.autocrlf` is set to true (common on Windows), *.sh files check out with CRLF line endings, which breaks them.

[2018-09-12 18:41] dgtombs opened #359 "Root cause exception is not logged when XMLValidatingParser fails"
TEAM Engine v5.3.

If XMLValidatingParser.parse() parsing fails for some reason, the root cause exception is lost.

### Steps to reproduce:

1. Make TEAM Engine unable to look up a WCS-related schema for some reason. (If you switch your nameserver to rns1.earthlink.net, w3.org will not resolve--that is how I found this issue.)
2. Run the WCS test suite.

### Expected result:

`session_dir/error_lo

[2018-09-14 13:37] dgtombs commented on #357
FYI, I was able to prototype a schema caching solution that brought the http://ows.eox.at/cite/mapserver test execution time down to about 30 seconds!

Would you be interested in incorporating a caching solution like this? I could talk to my management about implementing it cleanly and contributing it.

[2018-09-18 17:49] ajanett commented on #335
Please also note that ets-common may be a factor and may be causing multiple versions of TEAM
Engine to be included in to the ETS test suites.
https://github.com/opengeospatial/ets-common/issues/2

[2018-09-18 21:36] dgtombs commented on #357
By the way, I found that [w3.org artificially delays requests for schemas](https://www.w3.org/Help/Webmaster#slowdtd). This probably "causes" much of the current slowness--but as they say, the fix is caching.

[2018-09-26 08:03] robinhoutmeyers opened #361 "The WMS client test on production does not detect requests"
Scenario:
- log in on http://cite.opengeospatial.org/teamengine/viewSessions.jsp and create a new session for the WMS client
- start the WMS client test
=> keeps endlessly saying "Executing tests... " without ever asking to start a client and providing a WMS URL

[2018-09-26 08:53] lgoltz commented on #361
@robinhoutmeyers This failure is already described in #301 and not solved by now.

Unfortunately I'm not able to restart the application container right now. I will do this as soon as possible and let you know.

[2018-09-26 20:09] lgoltz commented on #361
Application server restarted.

@robinhoutmeyers Can you test if the WMS client tests works and close this issue?

[2018-09-27 07:41] robinhoutmeyers commented on #361
The WMS client test now proceeds with the page that lists the WMS URL and requests to be executed, but none of my requests are recorded; it doesn't detect my GetCapabilities, GetMap and GetFeatureInfo requests, although I can access and visualize the data in my client.

[2018-10-01 05:08] lgoltz commented on #361
Same behaviour with QGIS on production.

@robinhoutmeyers Can you use the [beta environment](http://cite.opengeospatial.org/te2)  until thi is fixed?

[2018-10-02 08:07] robinhoutmeyers commented on #361
@lgoltz  OK - it now works but the test engine requires to execute a map request for a terrain layer, which is not present in the WMS capabilities. Probably a test issue?

[2018-10-02 08:33] lgoltz commented on #361
On production or beta?

This is already described in https://github.com/opengeospatial/ets-wms-client13/issues/32 and fixed in version 1.4 of the test suite (which is not deployed yet).

[2018-10-04 07:07] keshav-nangare opened #362 "Update resource accessing method of XMLValidationParser as URL instead of File"
From the comment: https://github.com/opengeospatial/ets-wcs20/issues/72#issuecomment-425001863

[2018-10-16 17:04] bermud opened #364 "Change login time interval"
When failing to provide a correct password, Im getting a message related to login time  interval which is not friendly.

![image](https://user-images.githubusercontent.com/3738898/47033824-c69d1f00-d143-11e8-8002-3aeecaeaf0b1.png)

[2018-10-17 08:41] dstenger commented on #364
@bermud I cannot reproduce this behaviour on beta environment. Can you please specify the steps which must be executed to reproduce this behaviour?

@keshav-nangare Can you please also check if you are able to reproduce this behaviour?

[2018-10-17 11:57] #362 closed

[2018-10-18 07:47] keshav-nangare opened #365 "Save images of interactive tests to session folder of user"
Reference from: https://github.com/opengeospatial/ets-wms13/issues/59

[2018-10-18 07:55] keshav-nangare commented on #365
Tested this changes with the ets-wms13 and able to save all images in users session/images/ directory with the corresponding test name. If one of the CTL forms have multiple images then we can see the test name followed by a number.
Here are the sample [images.zip](https://github.com/opengeospatial/teamengine/files/2490750/images.zip)

[2018-10-19 10:16] keshav-nangare commented on #364
@dstenger

This issue is related to the connectionTimeout error between the browser and tomcat. Whenever we are on login page and we stay ideal on that page for long time and after that even if we submit the correct username and password this error message will appear.
The reason is the tomcat expecting a response in a specified time interval[**connectionTimeout**] from the request, after that it

[2018-10-23 09:36] lgoltz opened #367 "Link to JavaDoc is broken in HTML report in a SNAPSHOT version"
Details in https://github.com/opengeospatial/ets-wfs30/issues/9#issuecomment-432173768

[2018-10-24 08:05] dstenger commented on #364
# Conclusion

Behaviour occurs when login page is open for a certain time and session is exceeded.
Thus, the error message is correct and has nothing to do with a correct or incorrect password.

Possible solution:
* Extend connection timeout (but, if this timeout is exceeded, error will occur again).
* Create better error page.

[2018-10-29 17:28] keshav-nangare commented on #364
I have added new error page and able to redirect if we get 408 status code. Fixed with PR #369 .

[2018-10-31 09:13] dstenger commented on #323
Just the basic conformance classes are required to get certified.

[2018-10-31 09:15] dstenger commented on #323
Skipped basic conformance classes are skipped during evaluation.

[2018-10-31 10:03] dstenger commented on #359
@keshav-nangare Can you please test/verify the pull request?

[2018-10-31 10:34] keshav-nangare commented on #323
@dstenger

We already have an attribute in new HTML report which shows the test can be certified or not.

Results for session s0305
Test Name: wfs20
Test version: 1.30
Time: 2018-10-16T17:11:33.876Z
[code]

@lgoltz

Is this issue related to other implementation?

[2018-10-31 14:03] dstenger opened #370 "Enhance mandatory informations when registering to TEAM Engine"
Additional fields:
* organization
* name
* email

[2018-11-06 09:43] lgoltz commented on #323
@keshav-nangare The XPath expression is required to get the information from the EARL report.

[2018-11-08 11:00] #348 closed

[2018-11-08 12:48] #367 closed

[2018-11-09 12:10] dstenger commented on #261
However, I agree that multiple versions of a test suite shall never be deployed in a single TEAM Engine. This can, for example, lead to dependency problems.

Thus, the version problem is just minor and is not an important part of solution.

@keshav-nangare Can you please remove the version parameter from REST paths?

[2018-11-15 14:38] LesleyBrownLiberty commented on #358
I was working with dgtombs and have fixes for another issue completed [357](https://github.com/opengeospatial/teamengine/issues/357).  However, those changes were on a branch including these changes with the assumption this pull request would be trivial.
Would you prefer I proceed with pull request for 357 (that includes this issue) or wait for this issues pull request be approved?

[2018-11-15 15:05] dstenger commented on #358
Thank you for your contribution.
However, there is no pull request for this issue. Maybe, you are referencing the pull request for issue https://github.com/opengeospatial/teamengine/issues/359 (please be aware that there is a merge conflict in this PR; so, please do a pull/merge of current master if possible)?

[2018-11-15 16:05] keshav-nangare commented on #208
There are two cases to reset the password:

1. When user forgot the password and he wants to generate a new password. [ Implemented ]

2. Change password, in this case, the user knows the password but the user wants to change/update the current password.

@dstenger
Do we require the second case?

[2018-11-15 19:23] LesleyBrownLiberty commented on #358
My mistake.  It appears issue [#359](https://github.com/opengeospatial/teamengine/issues/359) includes changes for this issue as well.  I will take the action to review 359 and update with the current master.

[2018-11-16 14:40] dstenger commented on #208
Second case should be less complex. So, we should implement this functionality.

How is first case implemented? Don't we need a mail server to send emails to users?

[2018-11-16 18:35] dstenger commented on #358
Thank you!

For us it is fine if you already create both pull requests.
Please add a note in pull request including code changes of the other pull request. By that, we know that the other pull request must be merged first.

[2018-11-21 12:32] keshav-nangare commented on #208
We need the following configuration of mail server:
1. Host
2. Port
2. Email id
3. Password

Implemented first cases in the following way:

1. Click on `Forgot password?` link.
2. It will Redirect to ResetPassword page. Need to submit a registered username.

![image](https://user-images.githubusercontent.com/14732650/48841168-a7368900-edb6-11e8-8dd2-1d460a43bef0.png)

3. After submitting the Usern

[2018-11-22 14:29] dstenger opened #373 "REST interface: Wrong media type is returned when using Firefox browser"
I am requesting
GET http://cite.opengeospatial.org/te2/rest/suites/wfs20/1.30/run?wfs=http://cite.deegree.org/deegree-webservices-3.4.0/services/wfs200?service=WFS%26request=GetCapabilities
with Firefox browser.
The Accept header is: `text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8`

Returned media type is EARL (RDF/XML) (Content-Type: `application/rdf+xml; qs=0.75;charset='utf-8'`

[2018-11-28 09:48] dstenger commented on #373
Code which determines media type: https://github.com/opengeospatial/teamengine/blob/6ff9b6abb3469911ff88b8d5b02a75d180874a54/teamengine-spi/src/main/java/com/occamlab/te/spi/executors/testng/TestNGExecutor.java#L157

This code does not consider the quality (`q`). Thus, because of `*/*;q=0.8` EARL is returned.

If Accept header is set to `text/html,application/xhtml+xml,application/xml;q=0.9`, appl

[2018-12-03 06:47] keshav-nangare commented on #208
@dstenger

I have one more suggestion, maybe we have to add one more form update user details which will help user to update the information.

This case applies to the existing user data that we have, if the user is registered in past and if he/she is not registered with the email then they are not able to reset his/her password.
Currently we don't have the way to update the registered user detail

[2018-12-03 14:40] dstenger commented on #323
@keshav-nangare
We need following statement:
* One should return true or false (equals `Passed Core Conformance Classes (Implementations passing these classes can be certified)`).
* Description how to execute it (including file).

[2018-12-06 12:26] keshavnangare opened #376 "Create new form UpdateUserDetails"
Reference from: https://github.com/opengeospatial/teamengine/issues/208#issuecomment-443605981

Create new form UpdateUserDetails which will help the existing user to update their details if some user are not registered with email. In old implementation, we have email filed as optional so maybe some user skipped this filed. Currently, TeamEngine doesn't have any functionality to update this detail

[2018-12-07 11:32] keshav-nangare commented on #323
Proposed solution:

Add new element into earl report which will provide the status whether the test can be certified or not. This element contains the value true or false.
[code]

Xpath Expression to access this value: `//cite:TestRun/cite:passedCoreConformanceClasses`

[2018-12-07 11:32] keshav-nangare commented on #323
Fixed with this commit: 99fc9c773635ddadab8f450e2fa9c630a46133b6

[2019-01-03 11:03] lgoltz opened #380 "Downloaded session contains full path"
Currently a session downloaded from the TEAM Engine Web GUI contains the full path of the server:

[code]

Expected is that the zip file starts at the directory containing the session:
[code]

[2019-01-03 11:11] #365 closed

[2019-01-03 14:47] lgoltz commented on #323
@keshav-nangare Please rename the element to `areCoreConformanceClassesPassed` (instead of `passedCoreConformanceClasses`)

[2019-01-14 13:51] lgoltz opened #381 "Ensure correct comparison of session dates"
After login a failure may occur with some user logins:
[code]

Reproducible with TEAM Engine version 5.3.

[2019-01-14 13:54] lgoltz commented on #381
Branch https://github.com/opengeospatial/teamengine/tree/dateComparison-381 based on tag 5.3 contains a fix.

[2019-01-14 18:24] keshav-nangare commented on #373
@dstenger

I did the new implementation for REST API and which will handle all scenario.

Following are the scenario's I have tested:

Accept-Header | Expected Result | Actual Result
-- | -- | --
Empty | RDF | XML
application/rdf+xml | RDF | RDF
application/xml | XML | XML
application/zip | ZIP | ZIP
application/rdf+xml & application/xml | RDF | RDF
application/xml & application/zip | XML | XML
ap

[2019-01-15 14:34] #381 closed

[2019-01-18 18:18] keshav-nangare commented on #380
Fixed with this PR: #384.

[2019-01-21 18:01] keshav-nangare opened #385 "Failed to load ets-wms-client13 ctl form"
Tested with teamengine current master and ets-wms-client13 and got the following error:

[code]

[2019-01-23 09:34] dstenger commented on #313
Duplicate of #208.

[2019-01-23 09:34] #313 closed

[2019-01-28 22:24] jill7072 opened #387 "Teamengine: error formatting WFS 2.0 test results"
I am running the team engine tests for WFS 2.0 and I'm finding that the test results are properly formatted for some of my URLs but I'm receiving an error for other URLs. This is reproducible on the 1.26 version as well as the beta site (1.30).
![image](https://user-images.githubusercontent.com/19600343/51870173-b03c5d00-2307-11e9-8161-bba03a5a64a5.png)

When I click to view the old test report I

[2019-01-29 00:16] greatzzk opened #388 ""rangesubset" parameter problem in WCS 1.1.1 test"
There are multiple getCoverage tests in the teamengine that are checking "rangesubset" parameter.

e.g. http://cite.opengeospatial.org/teamengine/viewTestLog.jsp?test=s0075/d1e366_1/d1e11296_1
user: wcstest

It is trying to make a such request:
http://34.228.64.160:6080/arcgis/services/BlueMarble/ImageServer/WCSServer?service=WCS&request=GetCoverage&version=1.1.1&identifier=1&BoundingBox=0,0,774,5

[2019-01-29 11:56] dstenger commented on #387
Thank you for reporting the issue.

The posted URL is not reachable. Thus, TEAM Engine cannot use it for testing.

If you use official TEAM Engine [1], the service must be reachable via the web.

Instead, if you want to test an internal service, you must set up TEAM Engine by yourself.
If you are familiar with Docker, you can use our Docker Image simplifying the set up process very much
https://hu

[2019-01-29 12:00] dstenger commented on #388
Thank you for reporting.
We will do further investigation.

[2019-01-31 12:58] keshav-nangare commented on #388
@greatzzk

The service is not available: http://34.228.64.160:6080/arcgis/services/BlueMarble/ImageServer/WCSServer?

Can you please provide test service?

[2019-02-01 00:15] greatzzk commented on #388
@keshav-nangare , sorry, my server was set to refuse connection with clients outside of the firewall right now. I can open the port for you at your ip address, can you send me your ip address to zzhou@esri.com?
The idea i wanted to point out is simpler than this, if team engine doesn't encode the square brackets as sender, my server show failure info for the request.
thanks for getting back to me.

[2019-02-01 17:20] keshav-nangare commented on #388
@greatzzk

Thanks. I did some work around in wcs test. Can you please test with this PR https://github.com/opengeospatial/ets-wcs11/pull/44?
Let me know if you still get this issue.

[2019-02-01 17:34] greatzzk commented on #388
@keshav-nangare
i will need some instructions how to deploy it locally on my machine. i have been always use the released one on http://cite.opengeospatial.org/teamengine/
is it just following the instruction on "building" section of readme.md?

[2019-02-02 00:00] jill7072 commented on #387
@dstenger you are right, sorry! The URL should be reachable now. I can still reproduce the issue.
https://ogccert.dev.geocloud.com:6443/arcgis/services/cite_wfs_200_T/MapServer/WFSServer?service=WFS&version=2.0.0&request=GetCapabilities

Thanks, I didn't realize there was another place for issues. Should I re-enter this issue in the ets-wfs20 queue?

[2019-02-02 05:51] keshav-nangare commented on #388
Here are the instructions to setup teamengine locally.

https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst#build-team-engine-as-web-application

[2019-02-04 08:05] dstenger commented on #387
Yes, I would be better if we discuss this in the WFS 2.0 issue tracker.
So, if it is no problem, please open this issue in that tracker as well. Then we can close this one as duplicate.

[2019-02-05 09:36] dstenger commented on #387
Duplicate of https://github.com/opengeospatial/ets-wfs20/issues/142.

[2019-02-05 09:36] #387 closed

[2019-02-06 09:30] dstenger commented on #101
@keshav-nangare
Can you please check if it is possible to improve error messages containing `Error in call to extension function`?

[2019-02-19 10:21] keshav-nangare commented on #151
@dstenger

Following are the changes to upgrade JAX-RS:

1. JAX-RS has the latest version 2.1.5
2. Jersey has the latest version 2.28
3. Updated the web.xml accordingly
4. Updated the pom dependencies.
5. Updated the assembly descriptor & packaging should be done according to new changes.
6. The above changes are working with the Tomcat 7.0.92

I have updated the teamengine with JAX-RS and Jersey

[2019-02-19 10:23] keshav-nangare commented on #151
Fixed with this PR #389

[2019-03-04 12:35] #358 closed

[2019-03-04 12:35] #359 closed

[2019-03-06 09:05] dstenger commented on #151
Caution: All test suites must be updated. Otherwise, they won't run on TEAM Engine.

[2019-03-18 16:11] keshav-nangare commented on #101
@dstenger

I have tried to update this message but we cannot update only specific message because it's generated by the `SaxonApiException` class. If we updated the message then we lose the root cause information and file path information.

[2019-03-18 16:40] keshav-nangare commented on #323
Fixed with this PR #390.

[2019-03-22 11:31] keshav-nangare commented on #101
Fixed with PR #391.

[2019-04-12 13:16] bermud opened #392 "Provide instructions about how to integrate tests with an IDE"
Review these instructions
https://github.com/opengeospatial/ets-wfs30/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc

and port to here:

https://github.com/opengeospatial/teamengine/blob/master/src/site/markdown/integration-ide.md

[2019-04-14 19:32] bermud opened #393 "Fill out the template for OSGEO graduation"
https://github.com/opengeospatial/teamengine/wiki/OSGEO-Graduation

[2019-04-14 21:17] bermud opened #394 "Replace OSGEO logo"
We should use this logo https://github.com/OSGeo/osgeo/tree/master/incubation/community

[2019-04-15 13:09] dstenger opened #395 "Move SoapUI tests to sub module"
System tests and integration tests shall be executed via sub module (e.g. teamengine-tests).

[2019-04-16 13:46] lgoltz commented on #380
Implementation looks fine. I've added the session folder in the zip archive.
@keshav-nangare  Can you recheck?

[2019-04-17 09:23] #101 closed

[2019-04-17 12:26] keshav-nangare commented on #380
Changes tested successfully with a local docker environment.

[2019-04-17 13:01] #380 closed

[2019-04-18 12:50] lgoltz commented on #261
I've updated the code that the version is requested from the TestSuiteController, this makes changes on the test suites (as described in https://github.com/opengeospatial/teamengine/issues/261#issuecomment-442463511) unneeded: https://github.com/opengeospatial/teamengine/commit/6bf75a61f959fb71322a008d958d6fa96395a593

[2019-04-18 12:56] lgoltz opened #397 "Enhance REST API by a technical response with information about the ets"
To enable external or other ets the integration of a test suite we should enhance the REST API by a more technical  view.

## Overview of all available test suites
 * http://cite.opengeospatial.org/te2/rest/suites/
 * with Content-Type `application/xml`
 * should return a well-formed and valid (schema must be created) xml document listing the available test suites

## Overview of all available tes

[2019-04-23 13:07] #323 closed

[2019-04-23 13:23] #364 closed

[2019-04-23 13:32] lgoltz commented on #151
@keshav-nangare: Can you check if or which test suites are affected?

[2019-04-23 14:48] #331 closed

[2019-04-23 14:57] lgoltz commented on #151
The following grep show as all affected test suites (at least the one I've checked out):

[code]

[2019-04-23 15:05] dstenger commented on #393
https://portal.opengeospatial.org/wiki/CITEsc/CITEscTE2OSGeo

[2019-04-23 15:06] dstenger commented on #393
Inform Luis as soon as finished.

[2019-04-23 16:29] keshav-nangare commented on #151
@lgoltz

I have tested these changes with ets-gml32 and added a fix for ets as well.
Here is the issue: https://github.com/opengeospatial/ets-gml32/issues/38

[2019-04-25 11:46] lgoltz opened #398 "Fix fallback of writting the end of the log by writting the conformanceClass element"
https://github.com/opengeospatial/ets-wcs20/issues/67#issuecomment-486638949

[2019-05-02 18:12] dstenger commented on #393
We do not fulfil several requirements so far.

[2019-05-02 18:21] dstenger commented on #393
We have to differentiate between
* developers of TEAM Engine itself and
* developers of test suites.

I guess, both cases must be considered.

@bermud We should discuss this during the next meeting.

[2019-05-06 13:57] dstenger commented on #393
TODO: Create an issue for all missing requirements.

[2019-05-13 13:56] #398 closed

[2019-05-15 10:07] dstenger commented on #261
@lgoltz Shouldn't we allow both patterns (with and without version) to ensure backwards compatibility?

[2019-05-15 10:11] dstenger commented on #261
Also, documentation must be updated.

[2019-05-15 10:21] #370 closed

[2019-05-16 05:55] lgoltz commented on #261
As backward compatibility is already broken if the version of the ets changes I think it is not necessary.
We should think about this if it should be possible to run the same ets in multiple versions in one TEAM Engine instance. But this is currently not possible.

[2019-05-16 08:55] dstenger commented on #261
I totally agree. Thus, it is not mandatory to keep the old behaviour.

Also, updated documentation.

[2019-05-16 09:12] dstenger commented on #261
Pull request was successfully tested with WFS 2.0 test suite.

[2019-05-16 09:14] #261 closed

[2019-05-20 11:40] dstenger commented on #393
Open topics (we should discuss them and decide if issue is required):
* Open decision making process
* The project maintains a list of all copyright holders identified in the Provenance Review Document.
* All code contributors have agreed to abide by the project’s license policy, and this agreement has been documented and archived.
* Including commented code, ideally published for developer use.
*

[2019-05-20 14:06] dstenger commented on #393
Issues are created in TEAM Engine issue tracker.

TEAM Engine itself shall become OSGEO project.

[2019-05-21 11:54] dstenger commented on #397
Idea: Introduce Swagger.

[2019-05-21 12:07] #373 closed

[2019-05-22 09:58] dstenger commented on #357
Fix was successfully tested with http://ows.eox.at/cite/mapserver?service=WCS&version=2.0.1&request=GetCapabilities (all CCs were selected).

[2019-05-22 09:59] #357 closed

[2019-05-22 10:00] #385 closed

[2019-05-23 09:51] dstenger commented on #395
Moved tests to sub module.

[2019-05-23 09:51] #395 closed

[2019-05-24 13:14] dstenger opened #400 "Update tests to use TEAM Engine 5.4"
Applies to integration and system tests.

SoapUI project must be updated as version was removed from URI to test suites of REST API (also see https://github.com/opengeospatial/teamengine/issues/261).
Please also update Maven configuration and set version of SoapUI Maven Plugin to 5.5.0.

See updated documentation: https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-So

[2019-05-24 13:42] dstenger commented on #400
Commit: https://github.com/opengeospatial/teamengine/commit/41dbfbb9dbed6258257790b6829f05976f4daf5c

[2019-05-24 14:30] #400 closed

[2019-05-28 13:32] dstenger opened #401 "Request mandatory informations from users already registered"
Currently, all mandatory informations are just requested from users who newly register (see #370).

Those informations shall also be requested from already registered users.

Please implement a dialogue being triggered when a user logs in who did not provide all mandatory informations, yet. The user must fill all mandatory fields to continue using TEAM Engine.

[2019-06-04 11:08] dstenger opened #402 "OSGEO graduation: Document and improve open decision making process"
Please also see #393.

[2019-06-04 11:08] dstenger opened #403 "OSGEO graduation: The project code, documentation and data has been adequately vetted to assure it is all properly licensed, and a copyright notice included"
Please also see #393.

[2019-06-04 11:08] dstenger opened #404 "OSGEO graduation: The project maintains a list of all copyright holders identified in the Provenance Review Document"
Please also see #393.

[2019-06-04 11:08] dstenger opened #405 "OSGEO graduation: All code contributors have agreed to abide by the project’s license policy, and this agreement has been documented and archived"
Please also see #393.

[2019-06-04 11:08] dstenger opened #406 "OSGeo Graduation: Document testing process"
Please also see #393.

[2019-06-04 11:15] dstenger commented on #403
@cmheazel Can you help with this requirement for OSGEO graduation [1]?

[1] https://github.com/opengeospatial/teamengine/wiki/OSGEO-Graduation

[2019-06-04 11:16] dstenger commented on #404
TODO: Ask OSGEO for details.

[2019-06-04 11:16] dstenger commented on #405
TODO: Create wiki page.

[2019-06-04 11:17] dstenger commented on #406
TODO: Create wiki pages.

[2019-06-04 11:22] dstenger opened #407 "OSGeo Graduation: Create documentation providing sufficient detail for an experience programmer to contribute patches or a new module in accordance with the project’s programming conventions"
Please also see #393.

[2019-06-04 11:23] dstenger commented on #407
Pull requests are the common way to contribute code to project.

TODO: Create wiki page.

[2019-06-04 11:26] dstenger commented on #393
Issues have been created.

[2019-06-06 14:37] dstenger commented on #393
TODO: Add issues to graduation.
TODO: Work on issues.

[2019-06-26 13:28] keshav-nangare commented on #401
Added dialog box to fill mandatory information and which will trigger when the user logs in to the application.

Fixed with this commit: 47524f7f05198b602d16ef2c92f1e4fc4b1ea4c8

[2019-07-08 13:32] dstenger commented on #393
TODO: Create wiki page how to solve those issues.

[2019-07-15 08:45] dstenger commented on #393
Report summarizing all open issues: https://github.com/opengeospatial/teamengine/labels/OSGEO-Graduation

[2019-07-15 13:20] dstenger commented on #393
Focus on #402 first.

[2019-07-15 13:21] bermud commented on #393
Have draft for 2019-07-15 for the decision process: https://github.com/opengeospatial/teamengine/issues/402.

[2019-07-15 13:22] bermud commented on #402
Ideas:
- CITE SC is the group that steers our decisions and roadmap.
- We should update at every TC

[2019-07-22 13:58] dstenger opened #409 "Move general CITE and test suite related documentation to cite wiki"
E.g. following pages shall be moved to CITE wiki [1]:
- http://opengeospatial.github.io/teamengine/testng-essentials.html
- http://opengeospatial.github.io/teamengine/testng-cookbook.html

[1] https://github.com/opengeospatial/cite/wiki

[2019-07-22 14:24] bermud commented on #402
Is CITE SC good to be the Steering Group by OSGeo?
-  Only OGC members can be part of the CITE SC
- CITE SC can make the dialogue open to everyone.

Ask OSGeo first.

[2019-07-29 14:17] bermud commented on #402
Dirk sent an email to Jody about the SC. Waiting.

[2019-07-31 06:28] #39 closed

[2019-07-31 07:59] lgoltz commented on #111
External tests suites can be included by the REST API.

[2019-07-31 07:59] #111 closed

[2019-08-05 13:32] dstenger commented on #409
Branch: https://github.com/opengeospatial/teamengine/tree/updateSiteDocumentation-409

[2019-08-05 17:25] dstenger commented on #409
Diff was done for following sites:

- http://opengeospatial.github.io/teamengine/testng-essentials.html
- http://opengeospatial.github.io/teamengine/testng-cookbook.html

Merged content of teamengine site documentation to cite wiki:

- https://github.com/opengeospatial/cite/wiki/Conformance-Testing-with-TestNG-Part-1/_compare/b25d9cc03638bafebe311d2aac85d99ec6692818...a53d6612ce5ae9ab4365586cd984a

[2019-10-16 08:43] dstenger commented on #394
Task: Detect where and if an OSGeo logo is used.

[2019-10-16 08:47] dstenger commented on #354
Please review the comment in the PR.

[2019-10-17 09:09] keshav-nangare commented on #354
Updated the PR with suggested changes.

[2019-10-21 14:25] cmheazel opened #411 "Request Timer - discussion"
WFS 3.0 does not require a timeout on a request.  How should a compliance test respond if a request takes an exceptionally long time to respond, or doesn't respond at all?  One option would be to provide a user configurable timer.  The timer would start whenever a request is issued.  It would be stopped when the response is received.  If the timer expires, then the service took too long to respond

[2019-10-24 18:49] greatzzk opened #412 "wcs 1.1.1 compliance test getcapabilities issue"
based on the log, the te2 is testing with url like:
![image](https://user-images.githubusercontent.com/11200872/67515707-10242200-f654-11e9-9abd-c2d51988db11.png)
this is not right. the "version" parameter should be changed to "acceptversions".
reason:
![image](https://user-images.githubusercontent.com/11200872/67515807-3ea1fd00-f654-11e9-81bb-4ed7883e5afb.png)

[2019-10-24 19:04] greatzzk commented on #388
@dstenger @keshav-nangare
sorry for the llllate reply. I verified this issue is fixed in te2 environment against our wcs server.
Thanks a lot

[2019-10-24 22:41] greatzzk opened #413 "wcs 1.1.1 compliance test getcoverage issue"
test:
Test wcs1-0-0:getcoverage_operations-getcoverage_request-grid_size-post-xml-2

failure info against my wcs server:
A sequence of more than one item is not allowed as the first argument of concat()

possible reason:
what our server returns:
headers:
![image](https://user-images.githubusercontent.com/11200872/67530399-d6fbaa00-f673-11e9-8d3b-0d5ee7f294ef.png)
body:
![image](https://user-images

[2019-10-25 07:37] dstenger commented on #412
Thank you for reporting. We will do further investigation.

I move this issue to ETS WCS 1.1 issue tracker as this question is related to WCS 1.1 test suite.

[2019-10-25 07:40] dstenger commented on #413
Thank you for reporting. We will do further investigation.

I move this issue to ETS WCS 1.0 issue tracker as this question is related to WCS 1.0 test suite.

[2019-11-01 10:22] keshavnangare opened #414 "Remove Java code failure semantics"
Reference from: https://github.com/opengeospatial/ets-wfs30/issues/76

Need to update XSLT file which is responsible to transform the earl report to HTML report.

[2019-11-07 10:22] keshav-nangare commented on #258
This issue is quite older as REST interface has been updated and removed the version parameter from the REST path.

[2019-11-07 14:48] dgjbge opened #416 "Unable to build behind corporate proxy"
This project does not build when run behind a corporate proxy because the core tests `validateWithMismatchedDTDList` and `parseWithSchemaListAndDifferentLocation` in `com.occamlab.te.parsers.XMLValidatingParserTest` make external HTTP calls (e.g. validateWithMismatchedDTDList make a request to schemas.opengis.net).

Would it be possible to either not make external HTTP requests (ie keep schemas lo

[2019-11-13 09:16] #258 closed

[2019-11-15 11:55] keshav-nangare commented on #392
Fixed with this commit: 0793f9a314cc09d03e6bf816fce8479f8e6f53d7

[2019-11-20 09:20] dstenger commented on #205
TODO: Create concept for workflow and discuss it again.

[2019-11-26 10:00] keshav-nangare commented on #205
Current workflow of teamengine as follows:
     1.  All the scripts are present in the TE_BASE/script directory.

[2019-11-26 10:28] keshav-nangare commented on #205
Current workflow of teamengine as follows:
1. All the scripts are present in the TE_BASE/script directory.
2. Each script has its own config.xml file and the teamengine will create the only on config.xml from all ETS config file in TE_BASE directory, then this file is used for further operations.
3. When we start the tomcat the teamengine app is transforming all the CTL script to an executable for

[2019-11-27 09:59] dstenger commented on #416
Thank you for reporting.

Does the build work behind a corporate proxy if you are skipping the tests (`-DskipTests`)?
I agree that the test resources shouldn't come from a remote location.

[2019-11-27 11:04] dgjbge commented on #416
Yes, skipping tests works

[2019-11-27 11:13] dstenger commented on #416
@keshav-nangare Can you please try to remove the external references in unit tests? Instead, the resources shall be added to the repository.

[2019-12-18 11:34] dstenger commented on #347
@ajanett Are there any open questions remaining? Otherwise, the issue can be closed.

[2019-12-20 09:30] lgoltz opened #418 "Tests cannot be started if TEAM Engine is available via HTTPS"
Setup:
* Reverse proxy is used (Apache2 HTTP server).
* Reverse proxy uses HTTP protocol (mod_proxy and mod_proxy_http) to connect with Tomcat.
* TLS is configured in Apache2 HTTP server.

Workflow:
* Access TEAM Engine via HTTPS.
* Login, select test suite and configure test run (e.g. ets-ogcapi-features).
* Select "start test run".
* Test run does not start. If network analysis is done, it can b

[2019-12-20 09:47] dstenger commented on #418
@keshav-nangare Can you please analyse the problem?

[2019-12-30 12:38] keshav-nangare opened #419 "Beta server is throwing: No space left on device"
Beta server: http://cite.opengeospatial.org/te2

Failed to execute the test with the following error:
`java.io.IOException: No space left on device`

Stacktrace:
[code]

[2020-01-02 12:02] dstenger commented on #419
The problem was fixed by releasing space on host server.

@keshav-nangare Can you please test and confirm if the problem is solved? Afterwards, this issue can be closed.

[2020-01-02 13:17] keshav-nangare commented on #419
@dstenger

Executed the test suite on the beta server successfully, the issue is not occurred. Closing this issue.

[2020-01-02 13:17] #419 closed

[2020-01-06 10:19] dstenger opened #420 "Add hint to legal terms when registering to TEAM Engine"
Hint shall appear on following page: http://cite.opengeospatial.org/te2/register.jsp

Hint shall be placed below registration fields (last field Organization).

Text for hint: "I agree to the terms of the OGC Privacy Policy at https://www.opengeospatial.org/ogc/policies/privacy"

Also, please add a check box which must be checked. Otherwise, registration cannot be completed.

[2020-01-07 12:02] dstenger commented on #316
@cmheazel This issue should be outdated as https://github.com/opengeospatial/ets-ogcapi-features10 exists? If you agree, please close the issue.

[2020-01-07 13:48] cmheazel commented on #316
Agreed.  Closing.

[2020-01-07 13:48] #316 closed

[2020-01-08 14:23] mantonovic opened #421 "SOS 1.0.0 stops immediately"
I'am trying to run tests for istSOS v2.3.3 (an OSGeo incubating project) a software implementing Sensor Observation Service version 1.0.0 (and 2.0.0 which have passed the teamengine tests).

But during the tests for SOS v1.0.0 It stops immediatly during the "sos:Main" tests. I've checked with the 52n reference implementation but the result is the same. It stops immediatly.

I've tried with the pro

[2020-02-12 10:08] dstenger commented on #418
@kstegemoller Maybe, you can help us here. Do you have any hints when setting up the reverse proxy with SSL targeting TEAM Engine?

[2020-02-13 03:19] jesily opened #423 "Official Website of Teamengine error!"
After logged into the teamengine page(https://cite.opengeospatial.org/teamengine/), get the error message:

HTTP Status 500 - javax.servlet.ServletException: org.xml.sax.SAXParseException; Premature end of file.

type Exception report

message javax.servlet.ServletException: org.xml.sax.SAXParseException; Premature end of file.
description The server encountered an internal error that prevented it

[2020-02-13 08:41] dstenger commented on #423
Thank you for reporting.

I am able to log in with my personal account.
Can you please re-check if the problem is still occurring as we had some maintenance work yesterday?

[2020-02-14 14:32] dstenger commented on #423
Following exception is thrown:
[code]

[2020-02-14 14:32] dstenger commented on #423
@keshav-nangare Can you please take a look at this problem?

[2020-02-17 20:55] kstegemoller commented on #418
@dstenger @lgoltz We use libapache2-mod-jk for production and beta.

Have you set both ProxyPass and ProxyPassReverse correctly?  Do you have it set for all required URL paths?

[2020-02-20 07:15] keshav-nangare commented on #205
An existing scenario of the TestNG test execution as follows:
1. Test execution via webapp:
      - Each TestNG test has its own CTL script with HTML form to accept user inputs.
      - After accepting the user inputs the CTL script itself calls the TestNGController's doTestRun() method for further test execution.
      - This execution is performed from the corresponding test-suite JAR.
2. Test e

[2020-02-25 07:50] keshav-nangare commented on #420
Added hint to legal terms in Teamengine.

[2020-02-26 09:18] dstenger commented on #205
Please also see https://github.com/opengeospatial/teamengine/wiki/Architectural-enhancements-(teamengine-v5).

[2020-03-09 09:28] dstenger commented on #423
In this case, session.xml is empty.
@keshav-nangare Can you please create a fix ignoring empty session files instead of throwing an exception.

[2020-03-09 13:37] keshav-nangare commented on #423
Fixed with #425 PR.

[2020-03-18 11:06] dstenger commented on #361
@robinhoutmeyers Are there still any open questions?

[2020-03-18 11:43] robinhoutmeyers commented on #361
Hi, not from my side; thank you for the follow-up!

Kind regards,
Robin

From: dstenger <notifications@github.com>
Sent: Wednesday, 18 March 2020 12:07
To: opengeospatial/teamengine <teamengine@noreply.github.com>
Cc: HOUTMEYERS Robin <robin.houtmeyers@hexagon.com>; Mention <mention@noreply.github.com>
Subject: Re: [opengeospatial/teamengine] The WMS client test on production does not detect reque

[2020-03-18 12:39] #361 closed

[2020-03-24 09:10] keshav-nangare commented on #271
This feature is only for the CTL based test not for the TestNG test.
Existing way of "Execute this test again" button in old test result as follows:

1. When we click on this button it passes the test mode=retest with path of the previous test run.
2. It will set the required parameter to run the selected test and will start the test execution.
3. After successful execution it will update the test

[2020-03-30 13:46] dstenger commented on #271
@keshav-nangare Can you please document your findings regarding running a single TestNG test via IDE?

[2020-03-30 18:27] keshav-nangare commented on #271
@dstenger

Following are the finding to run the single/selected tests using IDE:

1. Add new listener in test suite to filter the selected test case
2. We can provide either single or multiple test case names with comma-separated values.
3. Also, we need to define the new TestRunArgument(e.g. IUT, ICS) to accept the selected test to run.
4. We can add a new argument into test-run-props.xml file an

[2020-03-31 08:41] dstenger commented on #271
@keshav-nangare Can you please check if it is possible to create a new TestNGController and the testng.xml file must not be adjusted? Maybe, the new Controller can add the new Listener manually to the TestNG configuration?

[2020-03-31 19:01] keshav-nangare commented on #394
@dstenger

I can find some reference OSGEO logo in teamengine site document.
We can find the logo in site directory and sit.xml file as below:
https://github.com/opengeospatial/teamengine/blob/0793f9a314cc09d03e6bf816fce8479f8e6f53d7/src/site/site.xml#L25-L29
https://github.com/opengeospatial/teamengine/tree/master/src/site/resources/images

Also, we can see this logo in teamenigne github.io page:

[2020-04-01 08:42] jratike80 opened #426 "Documentation refers to Oracle 8 JDK that is not available"
It is not possible to get Java 8 SDK from Oracle any more and documentation in http://opengeospatial.github.io/teamengine/installation.html and https://github.com/opengeospatial/teamengine/blob/master/doc/en/index.rst#configure-java is outdated.
Documentation should point to other alternatives for getting JDK 8: Amazon Corretto, Azul Zulu, AdoptOpenJDK, Redhat OpenJDK.

I tried Corretto 8 JDK on W

[2020-04-06 13:14] dstenger commented on #426
Thank you for reporting.
We will discuss the recommendations for JDKs.

[2020-04-08 08:26] dstenger commented on #394
@keshav-nangare Can you please replace this file with the new logo?
https://github.com/OSGeo/osgeo/blob/master/incubation/community/OSGeo_community.png

[2020-04-09 15:51] keshav-nangare commented on #394
Fix with #427 PR.

[2020-04-29 07:05] keshav-nangare commented on #271
@dstenger

I have created the new TestNGCustomController for TestNG based test suite which can be used to run a single test or multiple tests with a comma-separated list. Also, I have added listener to filter the tests from the given list in test-run-props.xml file with key attribute `includeTestMethods` and it will execute only selected tests. I have tried this workaround with `ets-kml22` so I am

[2020-05-04 06:06] keshav-nangare commented on #271
@dstenger

I have created the separate test-run-props file for the single test executor. Created the new property file name with `single-test-run-props.xml` and changes are pushed into the same branch. https://github.com/opengeospatial/ets-kml22/tree/run_single_test

[2020-05-05 09:52] ghobona commented on #393
@tomkralidis  @kalxas

The CITE SC session during the Virtual OGC Member meeting on June 19th, 2020 at 1:00 AM - 2:30 AM EDT will discuss the process and timeline for OSGeo graduation.

http://ogcmeet.org/events/2006tc/

[2020-05-15 10:09] #416 closed

[2020-05-18 08:10] ghobona commented on #346
I agree to remove the 'build' folder.

We should keep the 'doc' folder in the teamengine repository because it provides a useful step-by-step guide for new users and developers of TEAM Engine.

[2020-05-18 15:48] dstenger commented on #346
However, the content of the 'doc' folder seems to be a duplicate to other documentation (e.g. in 'src/site' folder): https://opengeospatial.github.io/teamengine/installation.html
I think the content of those documents shall be merged or at least put to a central location.

[2020-06-02 11:24] robinhoutmeyers opened #429 "WMS client test mismatch between available layers and layers to be tested"
The WMS client 1.3 test asks to request a numbers of WMS layers, but three of them do not appear in the capabilities of the WMS server:
- cite:Autos
- cite:BuildingCenters
- cite:Terrain

[2020-06-02 11:41] robinhoutmeyers opened #430 "Unexpected GetFeatureInfo location used by the WMS server 1.3.0 test"
During WMS server 1.3.0 compliance testing of http://demo.luciad.com:8080/ComplianceLightspeedOGC2020/wms, I encountered 2 failures related to the handling of GetFeatureInfo requests; this happened with the tests "feature_count_default" and "feature_count_1". While investigating these failures, I noticed the following:
- both tests seem to include a GetFeatureInfo location (50,50) that does not al

[2020-06-15 06:49] ghobona commented on #66
@dstenger Yes, let's disable anonymous test execution via REST API please. Users should be authenticated first, before running a test, even when using the REST API.

[2020-06-15 06:53] ghobona commented on #397
Ideally, this should return JSON with Content Type `application/json`.

[2020-06-19 17:38] jodygarnett commented on #407
A CONTRIBUTING.md file is the usual GitHub convention to communicate how to contribute a patch, this has the advantage of being shown to potential contributors when they make a pull request.

This is a good place to document or link to your expectations on matters such:

- as code formatting
- any documentation or quality assurance expectations
- communicate that the work being contributed will be

[2020-06-19 17:43] jodygarnett commented on #402
OSGeo is asking that projects *have a decision making process at all*, and wishing to check that the process is open to new contributors joining the project and eventually taking on a leadership role.

*Please just link to how decisions are made now*

The only way any project has had trouble here is when it is run by a single company (you must be an employee to make a decision) or the [Benevolent

[2020-06-19 17:52] jodygarnett opened #432 "OSGeo Graduation: Code of conduct"
An additional requirement has been added to the checklist since the team engine first started. The OSGeo  has been very focused on diversity and wishing to ensure that open source projects provide a safe space for collaboration.

As such we ask projects adopt a code-of-conduct, which is a trend being seen industry wide. Indeed many projects have adopted a shared code of conduct (in true open sourc

[2020-06-19 18:04] jodygarnett commented on #405
There are a large range of options here, we really want to make sure that the folks contributing to the projects realize they granting you permission to distribute the shared work using an open source license.

*The classic example is an employee working for a municipality quickly offering you a fix or a correction to your documentation, and not noticing that their employer owns the work of their

[2020-06-23 08:53] dstenger commented on #66
@keshav-nangare
Can you please prototype an implementation (seperate branch) containing a proposed solution?
Please use basic auth as authentication mechanism.

[2020-06-23 09:05] ghobona commented on #397
Agreed with @dstenger on 2020-06-23 that content negotiation should be through the HTTP Accepted header.

Format options:

* JSON
* HTML
* XML

[2020-06-29 14:18] keshav-nangare commented on #397
Please find the below responses for the `Available Test Suites` REST API with content negotiation and the client can get a response based on the request header.
  1. **Accept : application/xhtml+xml**
Response:
[code]
2. **Accept : application/xml**
Response:
[code]
3. **Accept : application/json**
Response:
[code]

@dstenger @ghobona Please let me know your thoughts on this format of responses.

[2020-06-29 15:01] ghobona commented on #397
@keshav-nangare

I suggest the following:

[code]

The values would be consistent with those presented on the TEAM Engine homepage.

![Screenshot 2020-06-29 at 15 55 32](https://user-images.githubusercontent.com/18121038/86021629-31c67c00-ba21-11ea-808e-a2cba01a201f.png)

[2020-06-30 18:15] keshav-nangare commented on #397
@ghobona

Thanks for inputs!

This table is prepared by using of config.xml file which contains all information. While invoking the REST API we are not using the config.xml file so we don't have the scope of config.xml file.
But we can get this information in a different way. I have investigated the REST API execution so we have the info test suite `title`, `Revision` but don't have the `status` f

[2020-06-30 20:13] ghobona commented on #397
@keshav-nangare Ok, you can leave out `status`. Thanks.

[2020-07-01 08:33] dstenger commented on #397
**Decision during meeting on July 1st 2020**

**Provided information:**

`status` is removed and `etsCode` is added.

Thus, following elements will be present in XML and JSON encoding:
* title
* version
* endpoint
* etsCode

**Information about single test suite:**

XML file is created which is used to generate all three encodings of the information site about a single test suite.
The old mechanis

[2020-07-01 12:58] keshav-nangare commented on #66
@dstenger @ghobona

Following are my findings:
- Current authenticate mechanism
  Web app - FORM-based

- Implementing a BASIC authentication mechanism for Web app + REST API
  1. Our existing Realm-based authentication mechanism used to validate the user's credentials.
  1. The browser will cache the credentials and it can be cleared after the browser gets restarted.
  2. The `LogOut` mechanism w

[2020-07-08 08:14] ghobona commented on #397
@keshav-nangare showed @ghobona the demo on 2020-07-08

[2020-07-08 08:39] ghobona commented on #66
Related to https://github.com/opengeospatial/teamengine/issues/397

[2020-07-08 14:22] keshav-nangare commented on #397
Fixed with #434 PR.

[2020-07-08 14:23] keshav-nangare commented on #66
Fixed with #433 PR.

[2020-07-31 12:06] #409 closed

[2020-08-10 08:12] dstenger opened #435 "'Test INPUT' in HTML report displays wrong information"
This occurs with following test suites (Beta and Production):
* WCS 2.0
* Sensor ML 1.0

A wrong service is referenced in the report.

@keshav-nangare Can you please try to reproduce this behavior and propose a solution how to solve it?
Can you also check if this behavior occurs with other test suites as well?

[2020-08-20 16:15] keshav-nangare commented on #435
@dstenger

I have debugged the issue and found the problem with the static `userInputs` variable which was persisting its value. So I have removed the static keyword which will initialize `userInputs` variable with null value for each TECore object. Please find the changes in #436 PR.

[2020-08-25 09:05] ghobona commented on #402
@bradh OGC allows individuals to join as well

Please see https://www.ogc.org/ogc/join

[2020-09-25 06:21] keshav-nangare commented on #135
@dstenger @ghobona

Following are my findings:

1. The referred issue in the first comment is occurring due to the undeclared `VendorSpecificCapabilities` element in the [DTD](http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd). I think the response may contain `VendorSpecificCapabilities` element either zero or one time according to DTD but the declaration of that element is missing. So

[2020-11-09 09:19] keshav-nangare opened #440 "Cleanup dependencies"
When running `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`, I get following warnings:
[code]
All used undeclared compile dependencies shall be declared in Maven pom file.
All unused declared dependencies shall be removed from Maven pom file.

[2020-11-11 19:36] robblis opened #441 "AM Theme Direct WFS GetProperty Request Fails with Generated Request"
We're running a Direct WFS Test against the AM theme.

It fails with the following:
OGC TEAM Engine reported a failed test: Node has unexpected [local name] value. expected [ValueCollection] but found [ExceptionReport]

The following is the request that was generated.

service=WFS&version=2.0.0&request=GetPropertyValue&count=100&typenames=ns67:ManagementRestrictionOrRegulationZone&namespaces=xmlns

[2020-11-16 16:56] robblis opened #442 "AD Theme Direct WFS 2.0 Test - No Temporal values found"
To the OGC Community,

The following is the error:

OGC TEAM Engine reported a failed test: No temporal values found in results: property is "http://inspire.ec.europa.eu/schemas/ad/4.0 [inspire.ec.europa.eu]":beginLifespanVersion. expected [false] but found [true]

This is the decoded request that the validator sends

http://agsinspire1.esri.com/arcgis/rest/services/ADTest/MapServer/exts/InspireFe

[2020-11-17 09:34] ghobona commented on #406
2020-11-17

@ghobona @dstenger reviewed the testing documentation and verified that there was sufficient documentation of the testing process.

[2020-11-17 09:34] #406 closed

[2020-11-17 09:42] ghobona commented on #432
2020-11-17

@ghobona and @dstenger reviewed the Codes of Conduct and agreed to base the TEAM Engine code of conduct on the OGC's one https://www.ogc.org/ogc/policies/conduct

[2020-11-17 10:04] ghobona commented on #402
2020-11-17 OSGeo Sprint

@ghobona and @dstenger discussed this issue and agreed to propose an approach for the CITE SC to reserve a portion of its quarterly meetings to TEAM Engine. The proposal would be for TEAM Engine discussions to be open to the general public. Voting on TEAM Engine (not the test suites) would be open to the general public. The results of each meeting would be documented in th

[2020-11-17 10:36] dstenger commented on #432
Code of conduct file was added to the project: https://github.com/opengeospatial/teamengine/commit/64f46174eed26d8bc77fbd98aec4282bc06c9da5

GitHub community checklist recognizes the code of conduct: https://github.com/opengeospatial/teamengine/community

[2020-11-17 10:51] #432 closed

[2020-11-17 13:36] jodygarnett commented on #402
Once again I am only asking you link to the process that is in place :)

[2020-11-17 22:15] jodygarnett commented on #404
I was able to use my text editor to search for java files beginning with `package` (so all the files without a header), this showed 83 files:

[code]

[2020-11-17 23:26] ghobona commented on #407
2020-11-17 OSGeo Sprint

The page describing how to contribute to the project has been created at https://github.com/opengeospatial/teamengine/blob/master/CONTRIBUTING.md

[2020-11-17 23:26] #407 closed

[2020-11-17 23:55] robblis opened #443 "WFS20 Test - Using wrong URL for Post Calls"
As we've been running some tests for our INSPIRE themes, we noticed that some of the Post calls are not using the Post URL that is contained in the GetCapabilities XML.

Example:

Method: | POST
-- | --
URL: | http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service
Body: | ?1234<wfs:GetFeature xmlns:wfs="http://www.opengis.net/wfs/2.0" count="10" servi

[2020-11-18 00:53] robblis opened #444 "WFS20 ComparisonOperatorTests Request Contains Invalid Parameter"
To OGC Team,

The following test failed:

property Is Greater Than_match Any

Class Name:ComparisonOperatorTests
Method Name:propertyIsGreaterThan_matchAny29
Path:org/opengis/cite/iso19142/basic/filter/ComparisonOperatorTests

Error:
java.lang.AssertionError: Unexpected HTTP status code. expected <br>[200] but found <br>[400]

This occurred from an invalid REST Request that was generated by the Va

[2020-11-19 21:13] robblis opened #445 "WFS 2.0 - Using incorrect URL for Post request"
We're testing our HY theme using the WFS 2.0 test.

We are getting errors in the following test.
Class Name:PropertyIsLikeOperatorTests
Method Name:propertyIsNotLike303030
Path:org/opengis/cite/iso19142/basic/filter/PropertyIsLikeOperatorTests

Error:
java.lang.NullPointerException

The following is the URL used for the GetFeature test
http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapSer

[2020-11-20 11:06] dstenger commented on #444
@robblis We transferred this issue to the ets-wfs20 issue tracker as it relates to the WFS 2.0 test suite.

[2020-11-20 11:11] dstenger commented on #445
@robblis We transferred this issue to the ets-wfs20 issue tracker as it relates to the WFS 2.0 test suite.

[2020-11-20 11:24] dstenger commented on #442
@robblis We transferred this issue to the ets-wfs20 issue tracker as it relates to the WFS 2.0 test suite.

[2020-11-20 11:30] dstenger commented on #441
Thank you for reporting.

@robblis We transferred this issue to the ets-wfs20 issue tracker as it relates to the WFS 2.0 test suite.

[2020-11-20 11:42] keshav-nangare commented on #440
I have added used undeclared dependencies and removed unused declared dependencies except for the following dependencies.
1. teamengine-core
    1. `org.opengis.cite.teamengine:teamengine-resources` removal of this dependency causes failure of JUnit tests.
    2. `xml-resolver:xml-resolver` removal of this dependency causes problem in test suite execution via webapp.
2. teamengine-spi
    1. `com.

[2020-12-01 16:39] carlospzurita opened #447 "TestSuite version on API"
As part of the ETF testing framework, that we are using in the INSPIRE Reference Validator, a dependency on the TEAM engine WFS 2.0 TestSuite is used on its own Download Service ExecutableTestSuite. This dependency is managed using the endpoint https://cite.opengeospatial.org/teamengine/rest/suites, and the ETS is assigned the version of the current TestSuite.

We were previously able to obtain th

[2020-12-02 13:56] dstenger commented on #447
The easiest way to get the version number of the test suites is to check following site: https://cite.opengeospatial.org/teamengine/

However, we could think of providing the version numbers of the test suites via the REST interface itself. Would that help you?

CC @ghobona

[2020-12-03 11:19] carlospzurita commented on #447
We are aware of the versioning present in the landing page on https://cite.opengeospatial.org/teamengine/, and we have used it to temporarily set it as a static value on the ETF. However, it would very useful is this could be obtained directly from the REST API, to set it automatically.

[2020-12-04 17:30] dstenger commented on #447
I agree that it could be useful to provide this information directly via the REST API.

We will discuss this in the CITE TEAM.

[2020-12-08 08:00] keshav-nangare commented on #447
@dstenger

I think we have covered this in the issue https://github.com/opengeospatial/teamengine/issues/397#issuecomment-652276858. The PR for the above issue will be used to get the `Available test suites` information in the XML/JSON format which contains information about the version of the test suite.

[2020-12-08 12:50] ghobona commented on #447
@dstenger Can we add PR https://github.com/opengeospatial/teamengine/pull/434 , which fixes Issue https://github.com/opengeospatial/teamengine/issues/397#issuecomment-652276858 , to the Team Engine 5.5 milestone?

[2020-12-08 15:02] dstenger commented on #447
Sure, #397 was added to 5.5 milestone. This will be the next release of TEAM Engine.

[2020-12-08 16:54] dstenger commented on #447
@carlospzurita Does the solution of #397 cover your requirements? If that is the case, I propose to close this issue.

[2020-12-16 15:19] carlospzurita commented on #447
Dear @dstenger

Thank you for your response. I think that this change can be useful for us, we can retrieve the TestSuite info when setting up the validator.

This PR can close this issue.

[2021-01-06 09:46] dstenger commented on #447
We will update TEAM Engine on Production in summer 2021.

[2021-01-13 09:15] ghobona commented on #447
2021-01-13 discussion

We are planning to add this to a v5.4.1 release of TEAM Engine on Beta. This will likely be in Q1 of 2021.

[2021-01-20 11:11] ghobona commented on #210
MeasureType is defined in [basicTypes.xsd](http://schemas.opengis.net/gml/3.2.1/basicTypes.xsd).

The SOAP Envelope [example](https://raw.githubusercontent.com/opengeospatial/ets-sos20/master/src/main/resources/sos-soap-response-demo.xml) imports [gml.xsd](http://schemas.opengis.net/gml/3.2.1/gml.xsd). However, `gml.xsd` does **not** include `basicTypes.xsd`. That is what is causing the [error](ht

[2021-01-21 18:17] ghobona commented on #208
@keshav-nangare What is the status of this feature?

One of our members (@jerstlouis) was asking about it today.

[2021-01-21 22:57] jerstlouis opened #448 "Null Pointer Exceptions 500 Server Errors"
We can encounter Null Pointer server errors by accessing:

https://cite.opengeospatial.org/te2/test.jsp

while logged in:

[code]

and also by accessing:

https://cite.opengeospatial.org/te2/viewOldSessionLog.jsp

[code]

While this is potentially not something the user should be doing, that can easily happen when browsing around the tests with previous/next or history pages, and the server should

[2021-01-21 22:59] jerstlouis opened #449 "Re-executing session test sometimes does not update results"
A few times, while trying to re-execute the tests (instead of deleting and re-creating new session), the results don't seem to get updated (the test seems to takes time to execute, but the timestamp and results appear to be from a previous run).

[2021-01-21 23:00] jerstlouis opened #450 "The test Entry Point / Sign In page is very confusing"
From the look of the page at https://cite.opengeospatial.org/te2/ with the smiling guy and the many blocks of text, and then the list of different standards for which you might think you can access different tests for each, it is very difficult to realize that this is actually the entry point/login page, and notice the "Sign in" button at the very bottom of the page.

[2021-01-22 10:46] dstenger commented on #208
A pull request has been created which has to be tested and merged (status: to verify).
So, this feature can be part of the next TEAM Engine release.

[2021-01-27 09:51] dstenger commented on #210
@keshav-nangare Please replace http://schemas.opengis.net/gml/3.2.1/gml.xsd with http://schemas.opengis.net/gml/3.2.1/basicTypes.xsd in the test file and check if it passes the test suite, then.

[2021-01-27 10:26] ghobona opened #451 "Report visibility issue"
Report visibility issue.

[2021-01-27 13:54] ghobona commented on #159
@dstenger This issue was addressed by moving to HTTPS/TLS.

The issue can be closed.

[2021-01-27 18:43] dstenger commented on #448
Thank you for reporting.

@keshav-nangare Can you please analyze the reported behavior?

[2021-01-27 18:45] dstenger commented on #449
Thank you for reporting.

@keshav-nangare Can you please analyze the reported behavior?

[2021-01-27 18:47] dstenger commented on #450
Thank you for the input.

We will discuss this in the OGC CITE team.

[2021-01-27 19:48] elasticlabs commented on #418
Hi, I experience the same issue with NGinx reverse proxy.

Here's my configuration file :
[code]

[2021-01-27 20:11] elasticlabs commented on #418
Adding this line in `server` blaock helps, but the `test.jsp` inner frame with test execution cannot find the server, seeking the backend IP or name as configured in the `proxy_pass` directive.

[code]

[2021-01-27 20:37] elasticlabs commented on #418
OK I think it should be quickly fixed for NGinx.

Here's a working example.
The `` header is mandatory in the server block.

[code]

[2021-01-28 08:08] ghobona commented on #426
Fixed by https://github.com/opengeospatial/teamengine/pull/452

[2021-01-28 09:56] ghobona commented on #450
@dstenger @keshav-nangare Let's move the sign-in block to the top in the next Beta release.

[2021-01-28 10:08] #159 closed

[2021-01-28 11:21] ghobona commented on #180
The infrastructure does not support upload and testing of terabytes of data. If the purpose is for certification, then we recommend testing a smaller CDB archive.

[2021-01-28 11:21] #180 closed

[2021-01-28 15:18] jerstlouis commented on #450
@ghobona and suggestion to make it bigger, and put that big "Sign In" next to some text along the lines of "Team Engine Online Testing" (for all tests).

[2021-01-29 06:34] keshav-nangare commented on #451
Fixed with #453 PR.

[2021-02-01 09:20] ghobona commented on #321
2021-02-01 team meeting

Frequent testing of software instances is out of scope of the Compliance Program at the moment. However, it could be an area for future offerings/services. It would therefore be useful to review   [GeoHealthCheck](https://github.com/geopython/GeoHealthCheck) and the related [teamengine-monitor](https://github.com/opengeospatial/teamengine-monitor).

@dstenger Demonstrated

[2021-02-03 08:03] keshav-nangare commented on #449
I have added code to delete to result and testng directory for re-execution of the session. Please find the changes in #454 PR.

[2021-02-03 08:16] keshav-nangare commented on #448
I have added the condition to check the request parameter is null or empty if it is true redirect it to the viewSession path. Please find the changes in #455 PR.

[2021-02-03 20:40] #435 closed

[2021-02-03 20:46] #451 closed

[2021-02-04 11:39] keshav-nangare commented on #210
I implemented the JUnit test for SoapParser and tried with the above comment variations but it is still failing with the same validation error mentioned in the [comment](https://github.com/opengeospatial/teamengine/issues/210#issuecomment-383913929).

[2021-02-05 14:09] heidivanparys opened #580 "Support for API keys via query"
The test suite does not seem to take into account that the API may have implemented security by means of an API key via a query.

E.g. the Oceanographic Observation API by the Danish Meteorological Institute:

- landing page: https://dmigw.govcloud.dk/v2/oceanObs/
- service description: https://confluence.govcloud.dk/pages/viewpage.action?pageId=41716220
- see https://confluence.govcloud.dk/pages/

[2021-02-12 16:41] #397 closed

[2021-02-12 16:41] #447 closed

[2021-02-18 10:25] ghobona commented on #450
2021-02-18 meeting

Agreed that on the viewSessions page we would remove 'sign-in' and 'create an account' from the upper-right when 'Log-in' is on the middle-left of the page.

Also agreed to make the font size of  'sign-in' and 'create an account' bigger.

Also agreed to add a line to the Registration page saying "All fields are required".

[2021-02-18 15:22] jerstlouis commented on #450
@ghobona To clarify, my original concern was not about the View Sessions page, which only has the Login menu, but the https://cite.opengeospatial.org/te2/ page, which is confusing to the user because the top of the page looks like a big ad, and a big table of tests follows, and at the very bottom a tiny Sign in button brings you to the View Sessions page.

[2021-02-18 19:00] ghobona commented on #450
@jerstlouis Yes, the `/te2` page has already been modified. We saw a demo of that earlier today. The modification led to the additional viewSessions issue. Hence the reference to viewSessions.

We'll let you know when the fix has been uploaded to the Beta TEAM Engine..

[2021-02-22 09:34] dstenger opened #457 "Restrict access to TestNG reports"

[2021-02-24 13:06] keshav-nangare commented on #450
Moved the `Sign in` and `Create an account` buttons to the top right corner. See the below screenshot:

![image](https://user-images.githubusercontent.com/14732650/109004030-30437580-76ce-11eb-953d-04edf8c671cc.png)

Please find the changes in the #458 PR.

[2021-02-25 09:29] ghobona commented on #321
Having reviewed GeoHealthCheck and the related teamengine-monitor, they are of scope of current priorities.

This issue is therefore closed.

[2021-02-25 09:29] #321 closed

[2021-02-25 10:36] ghobona commented on #135
The ETS appears to be correctly following the DTD.

The absence of the `VendorSpecificCapabilities` declaration needs to be addressed by the SWG.

There is a related issue in the [Standards Tracker Change Request System](http://ogc.standardstracker.org/show_request.cgi?id=423).

This ETS issue is therefore closed.

[2021-02-25 10:36] #135 closed

[2021-02-25 16:01] dstenger commented on #32
I noticed that the Saxon Artifact has id `org.opengis.cite.saxon:saxon9:9.0.0.8`.
Why does the group id contain cite? Where is the source code located?
Maybe, it is exactly same artifact downloadable here? https://sourceforge.net/projects/saxon/files/Saxon-B/9.0.0.8/

[2021-03-01 12:07] keshav-nangare commented on #457
Fixed with #459 PR.

[2021-03-02 09:56] keshavnangare opened #460 "Teamengine new HTML report is generating the details html pages multiple time"
While checking the results of the sessions, new HTML report generation happens each time though it already exists.

[2021-03-02 10:41] keshav-nangare commented on #460
Fixed with #461 PR.

[2021-03-11 16:06] dstenger opened #462 "Overview page of REST suites cannot be retrieved via text/html"
HTTP status code 406 is returned if following request is sent:
* GET https://cite.opengeospatial.org/te2/rest/suites
  * Accept: text/html

It is expected that the HTML view is returned instead.

[2021-03-11 16:19] dstenger commented on #462
Please also check if same applies to overview site of a single test suite.

[2021-03-15 10:21] dstenger commented on #462
I just found out that the (X)HTML view can be retrieved with header `Accept: application/xhtml+xml`.

Thus, this behavior is fine for now.

@keshav-nangare
Can you please update the SoapUI test `REST interface available` by adding `Accept: application/xhtml+xml` to request headers for following test suites (please create an individual PR for each test suite)?
* ets-cat30
* ets-gml32
* ets-sos20
*

[2021-03-19 12:18] keshav-nangare commented on #462
I have added `Accept: application/xhtml+xml` to request headers and raised PR for the following test suites:

1. ets-cat30    https://github.com/opengeospatial/ets-cat30/pull/51
2. ets-gml32    https://github.com/opengeospatial/ets-gml32/pull/63
3. ets-sos20    https://github.com/opengeospatial/ets-sos20/pull/43
4. ets-wcs20    https://github.com/opengeospatial/ets-wcs20/pull/104
5. ets-wfs20    h

[2021-03-19 12:46] dstenger commented on #462
Thank you!

TEAM Engine itself does also contain a SoapUI project. Can you please add the changes there, too?

[2021-03-19 14:14] keshav-nangare commented on #462
@dstenger

I have added changes to teamengine. Please find the changes in https://github.com/opengeospatial/teamengine/pull/463 PR.

[2021-03-24 09:39] dstenger commented on #462
@keshav-nangare
Can you please check all other test suites and update Docker TEAM Engine version to 5.4.1 and adjust the SoapUI test according to this issue?

[2021-03-30 08:21] keshav-nangare commented on #462
I have added a header in the SoapUI test for `ets-wfs10`. Please find the changes in https://github.com/opengeospatial/ets-wfs10/pull/31 PR.

[2021-03-30 09:50] keshav-nangare commented on #462
I have updated the following test suites with the Docker TEAM Engine version to 5.4.1:

1. ets-cat30 https://github.com/opengeospatial/ets-cat30/pull/52
2. ets-cat20-dgiwg10 https://github.com/opengeospatial/ets-cat20-dgiwg10/pull/60
3. ets-gmljpx20 https://github.com/opengeospatial/ets-gmljpx20/pull/43
4. ets-geotiff11 https://github.com/opengeospatial/ets-geotiff11/pull/37
5. ets-gml32 https://g

[2021-04-01 10:26] keshavnangare opened #465 "Fail to generate report because of invalid character"
Reference: https://github.com/opengeospatial/ets-wcs10/issues/54#issue-813846027

As per the screenshot, the report generation failed because of an invalid character present in the file.

[2021-04-01 10:42] keshav-nangare commented on #465
If the exception is thrown while transforming like "An invalid XML char", then each line from that file will be read and send to stripped the invalid characters. If the line contains invalid characters and `<content>` element, the text in `<content>` element is placed within `<![CDATA]]>` block. Finally, it will return as a string by removing `</log>` from it and the file will be rewritten with a

[2021-04-07 11:51] keshav-nangare commented on #210
I have added the JUnit test for SoapParser. Please find the changes in #467 PR.

[2021-04-07 12:16] keshav-nangare commented on #32
I have added changes for upgrading Saxon to Saxon-HE. Please find the changes in #468 PR.

[2021-04-20 07:12] carlospzurita opened #469 "Incorrect response on beta instance TestSuites list"
During integration of the beta instance on https://cite.opengeospatial.org/te2 we have detected there is an error on the response from the service. The request to rest/suites return an incorrect endpoint for the ETS.

`<testSuite><title>OGC Web Coverage Service 1.1.1 - Executable Test Suite</title><version>1.15</version><endpoint>https://cite.opengeospatial.org/te2/rest/suiteswcs11/</endpoint><ets

[2021-04-21 08:09] JohannaOtt opened #470 "NullPointerExceptions for several WFS tests"
When validating this [WFS](https://geodienste.komm.one/ows/services/org.506.78427a5b-2f82-4311-ba7d-74eb7b8c10f4_wfs/org.506.e21f771b-0d06-4dbc-b246-60aa8d12ed52?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) with the WFS test class, I get multiple NullPointerExpections, e.g. for Temporal Filter
![grafik](https://user-images.githubusercontent.com/34163838/115518966-0d29e200-a289-11eb-9902-3140

[2021-04-21 09:54] dstenger commented on #470
Thank you for reporting.

As this issue is related to the WFS 2.0 test suite, I transferred it to the corresponding issue tracker.

[2021-04-21 17:49] #440 closed

[2021-04-23 10:56] carlospzurita commented on #469
We see that the issue is also present in the request to https://cite.opengeospatial.org/teamengine/rest/suites

`<testSuite><title>Conformance Test Suite - OGC Web Map Service 1.3.0</title><version>1.25</version><endpoint>https://cite.opengeospatial.org/teamengine/rest/suiteswms13/</endpoint><etscode>wms13</etscode></testSuite>`

[2021-04-23 19:33] dstenger commented on #469
Thank you for reporting.

Can you please summarize what request you submitted?
I suppose it was GET https://cite.opengeospatial.org/te2/rest/suites
with one of those headers:
* Accept: application/xhtml+xml
* Accept: application/xml
* Accept: application/json

When just requesting with a web browser there seems to be a random behavior (XHTML or XML) are returned.
I also agree that the XML site gen

[2021-04-28 15:42] carlospzurita commented on #469
This response can be obtained using directly cURL the headers are set automatically to the following
[code]
The issue was originally encountered on the INSPIRE validator, which performs the request as to the service as XML.

[2021-04-28 19:55] dstenger commented on #469
Thank you. So, in this case the server decides which mime-type to return.
It seems that there is a random behavior here as it returns XML or JSON.
However, I would not consider this as a bug.

So, the bug described in this issue is that there is a wrong value for endpoint in XML and JSON mime-type (/ is missing).

Do you agree with that?

[2021-04-29 10:46] carlospzurita commented on #469
Thank you for reviewing this. I agree that there is no bug on the behaviour of the service for the `Accept` header, but there is an incorrect value on the XML and JSON mime-type responses related to the endpoint of the TestSuite.

[2021-05-04 10:39] #394 closed

[2021-05-10 08:58] ghobona commented on #205
Overtaken By Events.

[2021-05-10 08:58] #205 closed

[2021-05-17 19:43] ghobona commented on #166
Overtaken by events.

[2021-05-17 19:43] #166 closed

[2021-05-17 19:43] ghobona commented on #165
Overtaken by events

[2021-05-17 19:43] #165 closed

[2021-05-24 11:22] ghobona commented on #207
Closing the issue because the OWS Security Client ETS will provide the necessary insight.

[2021-05-24 11:22] #207 closed

[2021-05-26 09:51] #318 closed

[2021-06-02 17:24] dstenger commented on #469
Fix and pull request were created: https://github.com/opengeospatial/teamengine/pull/475

[2021-06-14 10:49] lgoltz commented on #469
BVranch: https://github.com/opengeospatial/teamengine/commit/75e0cfa7f1af0cd91d39f4dafe6278cc57a8eb85

[2021-07-01 10:09] hwbllmnn opened #476 "HTTPParser doesn't follow 302 redirect"
**Describe the bug**

When the `HTTPParser` is used and the requested resource delivers a HTTP 302 redirect, it will not follow the redirect but deliver an empty body.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any test with an URL which delivers a HTTP 302 redirect

**Expected behavior**

I would expect the `HTTPParser` to follow the `Location` header and deliver the response body

[2021-07-02 10:01] dstenger commented on #476
Thank you for reporting.

[2021-08-12 13:17] g-weber commented on #476
Dear all, have you made any progress on this issue in the meantime?

[2021-09-01 07:32] carlospzurita commented on #469
We tested the situation on this issue and we see that the URI is still appearing with an error on the TEAM engine response. Do you have any news on this?

Also, we noticed that the default response format has been changed from XML to JSON. Do you intend on keeping it this way? Are there any other updates planned for the service response?

Thank you and kind regards

[2021-09-01 19:00] dstenger commented on #476
Following service can be used to reproduce the behavior: http://geoportal.bafg.de/arcgis1/rest/services/INSPIRE/Catchment/MapServer/exts/InspireView/service?VERSION=1.3.0&SERVICE=WMS&REQUEST=Getcapabilities

I assume that this error will only occur with CTL tests as TestNG tests use their own parsers.

[2021-09-01 21:49] hwbllmnn commented on #476
True. As I wrote, I traced it to the  `HTTPParser` class which is only used from CTL AFAIK.

[2021-09-06 08:06] dstenger commented on #469
Unfortunately, this fix has not been released yet and we are planning the next release for Q4.

No, we did not change the default format. Can you explain more in detail where the default format changed (e.g. what requests)? Which default format would you prefer?

[2021-09-06 08:09] dstenger commented on #476
We are planning to resolve this issue in Q4.

[2021-09-06 08:25] carlospzurita commented on #469
A week ago we have detected that the request to https://cite.opengeospatial.org/teamengine/rest/suites, without an `Accept` header set, was returning a JSON encoded response instead of XML. We now see that the response is again XML.

Is the response format fixed by default? We would be fine either with JSON or XML, but it would be good to have a default behaviour, given that right now we are not i

[2021-09-07 10:03] dstenger commented on #469
No, there have not been any changes on TEAM Engine in the last week(s). Thus, the server responds with a random behavior here (which is acceptable from a technical point of view).

Why don't you pass an `Accept` header making sure that the correct Content Type is returned for your use case?
So far, we have not defined a default behavior. It that is important for you, please create a new issue for

[2021-09-22 16:03] ghobona opened #479 "Speed up folder/file access by placing users in a directory of the first character of their username"
Raised by @kstegemoller

[2021-09-23 15:14] namrata-12345 commented on #294
Hey can you pleases  help me on the path Manipulation issue  how to fix this issue..?

[2021-09-23 15:15] namrata-12345 commented on #294
Can you please  help me how can i fix the path manipulation  issue?

[2021-10-05 08:54] jyrkka opened #480 "Empty Earl-report"
Earl report shows zero count for all test result types ('testsPassed', 'testFailed' etc.) in report when running tests in ubuntu.

Root cause for the problem is the if-statement in here:
https://github.com/opengeospatial/teamengine/blob/a3a52cec199907df50223601ff52ddb19cbc26a9/teamengine-core/src/main/java/com/occamlab/te/CtlEarlReporter.java#L612

The temporary directory name is 'tmp' instead of

[2021-10-05 12:00] jyrkka commented on #480
Just figured out a workaround. Overriding "java.io.tmpdir" system property with a directory containing "temp" solves the problem also.

[2021-10-05 18:36] dstenger commented on #480
Thank you for reporting.
We will check if the referenced code can be improved.

[2021-11-09 16:07] ghobona opened #483 "Replace previous OGC logo with the new OGC logo"
**Is your feature request related to a problem? Please describe.**

The OGC has a new logo, so TEAM Engine should be updated with the new logo.

https://ogcapi.ogc.org/img/OGC_Logo__Blue_Horizontal.svg

**Describe the solution you'd like**

Replace previous OGC logo with the new OGC logo

[2021-11-15 09:46] ghobona commented on #483
Landing Page

- [ ] top-left logo
- [ ] Compliance Badge

All other pages

- [ ] top-left logo

[2021-11-15 09:49] dstenger commented on #483
There might be changes necessary in this repo https://github.com/opengeospatial/teamengine-site as well.

[2021-11-15 14:01] ghobona commented on #483
The deployed instances obtain their site content from `TE_BASE/resources/site`.

So the logos of the deployed instances have been changed there for both Production and Beta.

The next step is to change the logos at https://github.com/opengeospatial/teamengine-site.

[2021-11-15 14:04] ghobona commented on #483
For reference, the new logos are attached.

<img width="85" alt="logo2021" src="https://user-images.githubusercontent.com/18121038/141794886-d744da69-8566-4ab3-af33-a93cc4f2f2f0.png">

![certification-logo2021](https://user-images.githubusercontent.com/18121038/141794929-22e7ac63-c517-4a95-898c-f85a3edf06ef.gif)

[2021-11-15 14:12] ghobona commented on #483
Created a Pull Request to update the **teamengine-site** repo https://github.com/opengeospatial/teamengine-site/pull/2

[2021-11-15 14:27] ghobona commented on #483
@kstegemoller Please update the logos on the deployed dockerized instances.

[2021-11-15 17:45] ghobona commented on #483
Created another Pull Request, this time to update the **teamengine** repo https://github.com/opengeospatial/teamengine/pull/484

[2021-11-16 18:19] jerstlouis opened #485 "500 Server Error accessing session after executing test"
**Describe the bug**
Getting a 500 server error after executing an OGC API - Features test

https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0004

**To Reproduce**
Executed _OGC API - Features_ tests for https://maps.ecere.com/ogcapi in a new session

**Expected behavior**
Seeing the session log rather than a 500 error

**Additional context**
HTTP Status 500 - javax.servlet.ServletE

[2021-11-16 18:45] jerstlouis opened #486 "Download log Files broken?"
**Describe the bug**
Download log Files results in a blank page now

**To Reproduce**
Try to Download log Files from a completed OGC API - Features test
e.g. https://cite.opengeospatial.org/teamengine/downloadLog?session=s0001 in this case

**Expected behavior**
Downloading the log files.

[2021-11-16 18:50] dstenger commented on #485
Thank you for reporting.
I am able to reproduce the error.
We will do further analysis.

[2021-11-16 18:55] dstenger commented on #486
Thank you for reporting.
I am able to reproduce your problem.
We will do further analysis.

[2021-12-17 12:17] bpross-52n opened #487 "NullPointerException when running from command line"
**Describe the bug**
When running test suites (e.g. ets-wfs02) from the command line and adding `<entry key="acceptMediaType">application/zip</entry>` to the test-run-props.xml to generate HTML reports, a NullPointerException happens in the HTMLReporter class. This happens because it is tried to copy resources from a jar file to the file system, see [here](https://github.com/opengeospatial/teameng

[2022-01-10 09:19] dstenger opened #488 "Replace old with new logo"
Old logo is found here: https://github.com/opengeospatial/teamengine/blob/master/teamengine-web/src/main/webapp/site/logo.png

Complete repo should be scanned if old logo is also used somewhere else.

[2022-01-20 09:57] dstenger commented on #485
@jerstlouis Can you please check if the problem is still occurring? It might have been related to problems with the environment back then which are solved by now.

[2022-01-20 09:58] dstenger commented on #486
@jerstlouis Can you please check if the problem is still occurring? It might have been related to problems with the environment back then which are solved by now.

[2022-01-20 10:22] #426 closed

[2022-01-20 10:29] dstenger commented on #66
TODO: Update documentation.

[2022-01-20 18:18] jerstlouis commented on #485
@dstenger I still get that error right after clicking that first link in this issue once I'm logged in:

https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0004

[2022-01-20 18:19] jerstlouis commented on #486
@dstenger This issue is still happening.

Clicking https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0004 after being logged in returns a blank file.

[2022-01-21 10:36] dstenger commented on #485
@jerstlouis Thank you for reporting back. Is this error occurring with all your sessions? Did you also try out other test suites than OGC API Features tests?
Can you please try to re-run the test and check if the error is gone then?

[2022-01-21 11:02] jerstlouis commented on #485
@dstenger It does not happen with all sessions. It happens with https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0004 and https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0005.

https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0007 has a different error:

and https://cite.opengeospatial.org/te2/viewSessionLog.jsp?session=s0008 yet another:

Iit seems to

[2022-01-21 11:16] jerstlouis commented on #486
@dstenger Sorry I corrected the link in my last comment, I meant the original link in the issue still returns a blank file.
I do get this problem with all sessions (e.g. https://cite.opengeospatial.org/teamengine/downloadLog?session=s0006) even though that session does work. I don't know if such URLs are still valid now?

However I was now able to Click the "Download log Files" for my session 6 fr

[2022-01-26 14:11] dstenger opened #491 "Add TEAM Engine documentation to TEAM Engine landing page"
Currently, the landing page is available here: https://cite.opengeospatial.org/teamengine/
And the documentation here: https://opengeospatial.github.io/teamengine/
Shall be similar to the documentation of the test suites: https://cite.opengeospatial.org/teamengine/about/wfs/2.0.0/site/

So, the documentation shall be provided via the TEAM Engine webapp.

[2022-01-27 09:56] ghobona commented on #485
@jerstlouis I agree with catching the Exception so that the message presented to the client can be more useful. I would also like to avoid the system returning file paths (e.g. `/srv/local/teamengine-te2/TE_BASE/….`)

Regarding the status codes, the examples on your post were most likely because of an Internal Server. Remember that we have been carrying out infrastructure updates this past month.

[2022-02-10 09:02] #469 closed

[2022-02-10 09:13] #460 closed

[2022-02-10 09:16] #450 closed

[2022-02-10 09:17] #457 closed

[2022-02-10 09:20] #423 closed

[2022-02-10 09:41] #392 closed

[2022-02-10 09:52] dstenger commented on #310
Working branch: https://github.com/opengeospatial/teamengine/tree/Fortify-Issue-307

[2022-02-10 10:43] dstenger opened #493 "HTML report contains obsolete <br>"
In some cases, the HTML report contains obsolete <br> strings.

For example, when executing the WFS 2.0 test suite with http://cite.deegree.org/deegree-webservices-3.4.16/services/wfs200?service=WFS&request=GetCapabilities, following lines are returned in the HTML report:

`invalid Geometry Operand | java.lang.AssertionError: Unexpected HTTP status code. expected <br>[400] but found <br>[200]`

`d

[2022-02-15 08:06] ghobona commented on #486
@dstenger I was able to replicate the 500 error issue on te2. Attempting to access the **viewOldSessionLog** page returns an HTTP 500 error. This happens on all my sessions too. See the attached screenshot for the error message.

![Screenshot 2022-02-15 at 08 02 35](https://user-images.githubusercontent.com/18121038/154018734-996beea4-6df9-409a-bdb5-f82ab880d684.png)

[2022-02-15 08:32] ghobona commented on #485
Today I confirmed that new session logs can be retrieved after executing the test.

This GitHub Issue will be closed on 2022-02-21.

[2022-02-17 09:08] #465 closed

[2022-02-17 09:10] #448 closed

[2022-02-17 09:11] #449 closed

[2022-02-17 09:49] #414 closed

[2022-02-17 18:25] #487 closed

[2022-02-21 09:14] ghobona opened #498 "Delete Session leads to DocumentBuilderFactoryImpl not found"
**Describe the bug**
Clicking on Delete Session leads to org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found

**To Reproduce**
Steps to reproduce the behavior:
1. Run a session
2. Click the Delete Session button
3. The org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found Exception appears

**Expected behavior**
No exception error should result from attempting to Delete a session

**

[2022-02-21 09:34] ghobona commented on #486
@jerstlouis Today (2022-02-21) we confirmed that the **Download Log Files** mechanism works. May we close this GitHub issue?

The **viewOldSessionLog** problems will be reported as separate issues.

[2022-02-21 10:22] jerstlouis commented on #486
Thank you @ghobona and @dstenger . Closing the issue.

[2022-02-21 10:22] #486 closed

[2022-02-21 17:16] dstenger opened #499 "Attempting to access the viewOldSessionLog page returns an HTTP 500 error"
**Describe the bug**
Attempting to access the viewOldSessionLog page returns an HTTP 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://cite.ogc.org/te2/
2. Start test run with any test suite
3. In the test report click on view old sessions
4. Error described above is occurring.

**Expected behavior**
Old session log shall be displayed.

**Additional context**
Please als

[2022-02-21 17:26] dstenger opened #500 "viewOldSessionLog page returns 500 NullPointerException when not logged in"
**Describe the bug**
https://cite.opengeospatial.org/te2/viewOldSessionLog.jsp?session=s0006 returns a 500 when not logged in instead of a 401 or 404 as it should:

    HTTP Status 500 - java.lang.NullPointerException

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cite.opengeospatial.org/te2/viewOldSessionLog.jsp?session=s0006 without being logged in.
2. Error described above

[2022-02-21 17:28] dstenger commented on #486
I created two new issues as announced by @ghobona:
* viewOldSessionLog problem reported in https://github.com/opengeospatial/teamengine/issues/486#issuecomment-1039974992: https://github.com/opengeospatial/teamengine/issues/499
* Problem with HTTP status code reported in https://github.com/opengeospatial/teamengine/issues/486#issuecomment-1018414834: https://github.com/opengeospatial/teamengine/is

[2022-02-21 20:50] ghobona opened #501 "Replace HTTP links with HTTPS on HTML, JSP and JavaScript pages"
**Describe the bug**

Some links from the User Interface are to HTTP addresses. Modern browsers such as the latest Chrome version block any request from a page on HTTPS to a link on HTTP.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into https://cite.ogc.org/te2
2. Create a test session (e.g. for OGC API - Features) then attempt run the test
3. Nothing happens.
4. Check the Console (D

[2022-02-22 09:17] dstenger commented on #501
Should be a duplicate of #418.
HTTP should not replaced by HTTPS but TEAM Engine should re-use the used protocol so that it can run via HTTPS and HTTP.

[2022-02-22 09:45] dstenger opened #502 "StackTrace is displayed in web browser when session is broken"
**Describe the bug**
StackTrace is displayed in web browser when session is broken.
Please see https://github.com/opengeospatial/teamengine/issues/485#issuecomment-1018404260 for details.

**To Reproduce**
Steps to reproduce the behavior:
1. Create broken sessions.
2. Try to view broken sessions with TEAM Engine.
3. See errors as reported above.

**Expected behavior**
No StackTrace shall be displa

[2022-02-22 09:45] dstenger commented on #485
We created a new issue for the errors reported in https://github.com/opengeospatial/teamengine/issues/485#issuecomment-1018404260: https://github.com/opengeospatial/teamengine/issues/502

[2022-02-24 09:20] #354 closed

[2022-02-24 09:30] #420 closed

[2022-02-24 09:36] dstenger commented on #498
Problem might be related to the update of xercesImpl-2.12.0.jar to xercesImpl-2.12.2.jar.

[2022-02-24 09:39] dstenger commented on #500
Problem might be related to the update of xercesImpl-2.12.0.jar to xercesImpl-2.12.2.jar.

[2022-02-24 09:50] dstenger commented on #418
Might be related to #501.

[2022-02-24 10:06] ghobona commented on #168
This issue has been overtaken by events.

[2022-02-24 10:06] #168 closed

[2022-02-24 10:08] ghobona commented on #238
This issue has been overtaken by events.

[2022-02-24 10:08] #238 closed

[2022-02-24 17:49] dstenger opened #503 "Enhance developer documentation to contain functions implemented in test.jsp"
In a first step, developer documentation might be cleaned up.

Documentation for all functions defined in https://github.com/opengeospatial/teamengine/blob/master/teamengine-web/src/main/webapp/test.jsp shall be created in https://github.com/opengeospatial/teamengine/tree/master/src/site.

This also includes the new function introduced by pull request https://github.com/opengeospatial/teamengine/p

[2022-02-24 17:59] dstenger opened #504 "Remove all OGC related content from teamengine source code"
Background: Other parties than the OGC use the software TEAM Engine as well. Thus, OGC related content should not be found in the source code meaning that, for example, the default web interface does not contain any OGC related links etc.

The content shall be migrated to a different repository instead (e.g. https://github.com/opengeospatial/teamengine-site, https://github.com/opengeospatial/teame

[2022-03-01 20:35] dstenger commented on #498
The error is still occurring on http://cite.ogc.org/te2/ when validating https://maps.ecere.com/ogcapi with OGC API Features test suite.
`HTTP Status 500 - javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found`

[2022-03-01 20:36] dstenger commented on #499
The error is still occurring on http://cite.ogc.org/te2/ when validating https://maps.ecere.com/ogcapi with OGC API Features test suite.
`HTTP Status 500 - javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found`

[2022-03-01 20:37] dstenger commented on #498
The error is still occurring on http://cite.ogc.org/te2/ when validating https://maps.ecere.com/ogcapi with OGC API Features test suite.
`HTTP Status 500 - javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found`

[2022-03-02 09:22] heidivanparys commented on #499
I just want to confirm that I also received this error in the beta engine.

I assume what is meant in the steps to reproduce, step 3, is click on "See the detailed old test report", instead of click on "view old sessions". The page behind is called viewOldSessionLog.jsp.

The root error:

[code]

[2022-03-02 15:17] bangph opened #505 "Current TeamEngine is very lagging and not usable"
I've tried in both Firefox and Chrome browsers.

When it goes to this URL https://cite.opengeospatial.org/teamengine/test.jsp
it opens an empty pop up windows and I've tried multiple times to click on "OK" button, but it doesn't run any tests like years ago when I just had to click one time only on the button.

Please see the image:
![image](https://user-images.githubusercontent.com/6914451/156390

[2022-03-02 15:25] bangph commented on #505
@dstenger  Please check this as I couldn't perform the test on TeamEngine https://cite.opengeospatial.org/teamengine/test.jsp

[2022-03-02 15:37] bangph commented on #505
@dstenger  thanks for quick reply. I tested Beta on Firefox, it works fast. However, OGC WCS 2.0.1 test core has java exception. Please see full log at https://pastebin.com/nqK8BYL7

[2022-03-02 16:01] dstenger commented on #505
Thanks for reporting back.
Can you please describe the error more in detail?
Is the StackTrace printed in the test result or is it displayed instead of a test result?

[2022-03-02 16:07] bangph commented on #505
@dstenger After the session finished quickly, it has this repport
![image](https://user-images.githubusercontent.com/6914451/156400366-c4cf7329-042b-40ee-af55-e92c171bc1fb.png)

then, I clicked on **See the [detailed old test report](http://cite.ogc.org/te2/viewOldSessionLog.jsp?session=s0107).**. It opens a new tab on Firefox with the stack trace.

[2022-03-02 18:20] dstenger commented on #505
Thank you for the detailed feedback.
The problem seems to be connected to the one documented in https://github.com/opengeospatial/teamengine/issues/499.

This problem, however, just occurs on Beta (te2).
Can you please re-check if a test run on Production is possible? I am able to view the detailed old test report there when using the service provided by you. I used Firefox 97.0.1 (64-Bit) for tes

[2022-03-02 19:16] bangph commented on #505
@dstenger I tested again on the official CITE test with Firefox 97.0.1 (64 bit), this time, it runs fast.

The log error is not useful though for me to understand why and what caused it failed.

`
Log for test s0137

Test wcs2:main type Mandatory default result Passed (s0137)

Assertion: Prune query parameters if present.

Request d13242e33_1:
   Method: get
   URL: http://conformance.rasdaman.com

[2022-03-03 11:26] #505 closed

[2022-03-03 11:29] bangph opened #506 "Run OGC WCS 2.0.1 core standard take hours"
I used http://cite.opengeospatial.org/teamengine/test.jsp on Chrome to run just WCS 2.0.1 core standard and it took ~3 hours and still it haven't finished yet.

Now it is running at this test

`
 Testing wcs2:get-kvp-core-req33 type Mandatory in Test Mode with defaultResult Pass
`

@dstenger do you have any idea for speeding it up? I recall, a few years ago, it could finish in like < 1 hour.

[2022-03-03 13:05] bangph commented on #506
After 2 hours when I opened the ticket, and it is still stuck at:

`
 Testing wcs2:get-kvp-core-req33 type Mandatory in Test Mode with defaultResult Pass (s0140/d13242e65_1/d13242e193_1/d14560e260_1/d18331e350_1)...

                  Assertion: req33: Send otherwise valid GetKVP GetCoverage requests with matching and with violating slicing positions to server under test. Check if appropriate resu

[2022-03-03 15:12] bangph commented on #506
It really hangs up and cannot finish after 6 hours.

![image](https://user-images.githubusercontent.com/6914451/156593065-3f78deb7-df4e-4aac-ae6f-9274ab36e0f6.png)

[2022-03-04 07:02] ghobona commented on #506
@bangph Thank you for reporting the issue. We are looking into it.

[2022-03-11 12:44] #46 closed

[2022-03-11 12:47] ghobona commented on #117
This issue duplicates one in cite-private.

[2022-03-11 12:47] #117 closed

[2022-03-14 11:36] dstenger commented on #499
Locally (with https://hub.docker.com/r/ogccite/teamengine-beta), I was not able to reproduce the error.
However, the problem is reproducible on Beta environment.

[2022-03-15 17:10] bangph commented on #506
@dstenger I only used WCS core (the biggest and slowest test for WCS 2.0.1). Years ago this took only ~30 minutes.

![image](https://user-images.githubusercontent.com/6914451/158433112-5577d6f0-de11-4c25-a292-207e2d1215e8.png)

[2022-03-16 09:27] bpross-52n commented on #480
@jyrkka I am trying to reproduce the behavior. Could you tell me how you tested, so I can try out a possible fix? Thanks!

[2022-03-16 10:38] jyrkka commented on #480
I was running tests using those "all-in-one"-jars. For example "java -jar ets-wms13-1.3-aio.jar test-run-props.xml"

Content of the props.xml is following:
[code]

With the above command, tests are run but the resulting report is empty.
But when running tests for example with command  "java -Djava.io.tmpdir=/tmp/temp_123454 -jar ets-wms13-1.3-aio.jar test-run-props.xml", report generated just fine

[2022-03-17 12:40] ghobona commented on #501
Requested a discussion with the OGC Infrastructure Office.

[2022-03-17 12:46] ghobona commented on #418
Requested a discussion with the OGC Infrastructure Office.

[2022-03-18 07:31] bpross-52n opened #510 "Build fails"
**Describe the bug**
TECoreTest.testNestedFailure() falis during build

**To Reproduce**
Steps to reproduce the behavior:
1. Build master branch
2. See error

**Expected behavior**
Build is successful

**Additional context**
Seems to be caused by https://github.com/opengeospatial/teamengine/pull/474

[2022-03-21 09:59] ghobona opened #511 "Update to Java 17"
There is a need to create a branch for version 6.0

- [x] Create branch called `6.0`
- [x] Enable compilation with Java 17 LTS - @dstenger starts working on this, report back end of April
- [x] Update plugins which are required to be updated for Java 17
- [x] Update libraries which are required to be updated for Java 17
- [ ] Update Unit Tests
- [ ] Update documentation
- [ ] Check `mvn clean inst

[2022-03-24 09:12] #66 closed

[2022-03-24 09:27] dstenger commented on #491
CITE status meeting 2022-03-24:

* Link to https://opengeospatial.github.io/teamengine/ shall be added to https://github.com/opengeospatial/teamengine-site so that a user can access the documentation from the landing page.
* Following sentence shall be added:
  * The source of the engine and the tests are available at [GitHub](https://github.com/opengeospatial/teamengine). **The documentation of t

[2022-03-24 13:07] dstenger commented on #498
Also, I am not able to reproduce it on Beta anymore (workflow as described in https://github.com/opengeospatial/teamengine/issues/498#issuecomment-1055837266).

[2022-03-24 14:31] dstenger commented on #499
I cannot reproduce this error on http://cite.ogc.org/te2/ anymore.

[2022-03-25 15:06] #480 closed

[2022-03-28 08:56] dstenger commented on #498
This issues seems to be fixed by the recent Beta update.

[2022-03-28 08:56] dstenger commented on #499
@heidivanparys Can you please check if the error is still occurring?

[2022-03-28 09:08] heidivanparys commented on #499
I checked and I did not get the error this time.

[2022-03-28 14:02] dstenger commented on #499
Thank you for the feedback.
Thus, we can close the issue for now.

[2022-03-28 14:02] #499 closed

[2022-04-01 14:58] dstenger commented on #418
Further observation is that when logging in from TEAM Engine landing page accessed via HTTPS (e.g. https://cite.ogc.org/teamengine/), the site displayed after logging in is requested via HTTP.
This behavior is probably related to the problem described in this issue.

[2022-04-01 18:01] dstenger commented on #493
Please see my comment in the pull request: https://github.com/opengeospatial/teamengine/pull/508#pullrequestreview-929261161

[2022-04-01 18:11] #500 closed

[2022-04-01 18:32] #502 closed

[2022-04-05 13:56] bangph commented on #506
@dstenger any updates on that after 1 month? Thanks

[2022-04-05 14:57] dstenger commented on #506
Unfortunately, I cannot reproduce your problem as the provided test service leads to an empty test result. Is this expected?

I don't think that there have been any updates to the test suite (see http://cite.ogc.org/teamengine/about/wcs/2.0.1/site/relnotes.html) making the performance worse or adding additional tests in the last years.
Of course, there might have been changes on the server providi

[2022-04-05 14:58] dstenger commented on #506
Also, I migrated this issue to https://github.com/opengeospatial/ets-wcs20/issues as it is related to the test suite/ infrastructure running the test suite.

[2022-04-07 05:41] bpross-52n commented on #491
Done for the beta site: https://github.com/opengeospatial/teamengine-site/commit/0d6e18ef1a1d2cda79b49a8fd9782bf6e719c361

[2022-04-07 08:51] dstenger commented on #501
Problem is now also occurring with Firefox (99.0 (64-Bit)).

[2022-04-14 11:08] #491 closed

[2022-04-14 11:14] dstenger commented on #307
@bpross-52n Can you please check if this issue is solved by https://github.com/opengeospatial/teamengine/pull/515?

[2022-04-14 11:16] dstenger commented on #294
@bpross-52n Can you please check if this issue is solved by https://github.com/opengeospatial/teamengine/pull/515?

[2022-04-14 11:36] dstenger commented on #418
@bpross-52n Can you please document your proposed solution in this issue?

[2022-04-14 11:54] #346 closed

[2022-04-21 06:26] JohannaOtt opened #517 "Cannot reach validator (production)"
**Describe the bug**
The page http://cite.opengeospatial.org/teamengine/ is not loading for me and eventually failing with a Bad Gateway. The same already happened yesterday but I thoght it might only be a shorttime. As it still won't load today, I am reporting this issue now.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to reach http://cite.opengeospatial.org/teamengine/

**Expected

[2022-04-21 07:43] ghobona commented on #517
@JohannaOtt I have just tried it at 08:40 UTC+1 and it appears to be working. Please try it again.

[2022-04-21 07:44] JohannaOtt commented on #517
Yes, I can confirm that it is working now.

[2022-04-21 12:14] ghobona commented on #517
Reopening this issue because the server appears to down again.

We are looking into it and we'll reboot the server by 09:30am EDT today.

[2022-04-21 12:31] hwbllmnn commented on #510
You're right, my 'fix' apparently only fixed our failing use case. In #518 I added a similar test case you linked to and fixed the issue hopefully once and for all.

[2022-04-21 13:43] ghobona commented on #517
The Production validator is working again.

There appears to be a server that is causing the validator to crash. We will update the validator to handle the issue without crashing.

In the meantime, we have set up a daily automated reboot for around 08:00am EDT.

We will keep this Issue open until the crashing has been fixed.

[2022-04-22 07:01] bpross-52n commented on #418
The proposed solution is to use the x-forwarded-proto header. This needs to be set by the proxy/load balancer in front of the teamengine. If the header is present, the value of the header is used, otherwise http.

[2022-04-22 07:10] bpross-52n commented on #307
Even though the branch for #515 has this issue number in it, the pull request only fortifies against path manipulation. So log forging is **not** prevented by #515.

[2022-04-22 08:13] ghobona commented on #418
@kstegemoller We now have a solution for this, based on the x-forwarded-proto header.  @bpross-52n will contact you about arranging a telecon to discuss configuration of the server.

[2022-04-22 08:35] elasticlabs commented on #418
Hi everyone,

AFAIK and tested, those fixes won't be enough to properly serve all required assets and make TEAMengine behave properly.

Here's a field proven used method used with my students : [Nginx proxy config block](https://github.com/elasticlabs/teamengine-compose/blob/main/proxy/te-revproxy.conf#L58-L70)
**# Required in the `server {} block` to fix unproper HTTPS handling within TEAMEngine

[2022-04-28 07:37] bpross-52n commented on #294
Yes, this is solved by #515.

[2022-05-03 13:34] dahermansson opened #520 "Wrong namespace (nts) on request parameter in filter for wfs 2.0"
When we use the service at [https://cite.opengeospatial.org/teamengine/rest/suites/wfs20/](https://cite.opengeospatial.org/teamengine/rest/suites/wfs20/) with the Inspire Validator we get faild tests on a bunch of tests which looks like the reason to fail is a request with a filter thats not correct. The namespace on the field in the filter is set to "tns" like in [tns:Identifier](https://geo-insp

[2022-05-03 14:32] dstenger commented on #520
Thank you for reporting.
As this behavior is related to the WFS 2.0 test suite, I moved the issue to the ets-wfs20 issue tracker.

[2022-05-09 13:10] #294 closed

[2022-05-09 13:48] ghobona opened #521 "Update landing page with information for v5.5"
Some of the items to update include:

- [x] Photo on landing page
- [x] Text under Community Tool

[2022-05-09 15:23] dstenger opened #522 "Unit test TEPathTest fails"
**Describe the bug**
Current master of TEAM Engine cannot be built as unit test TEPathTest is failing:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check out source code.
2. Execute `mvn clean install`.

**Expected behavior**
Build shall finish successfully.

[2022-05-10 18:17] #493 closed

[2022-05-10 18:52] dstenger opened #523 "Session id is not displayed correctly"
**Describe the bug**
When current status of master branch is deployed, the session ids are not displayed correctly.
Please see screenshot at the bottom of this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup master branch of TEAM Engine.
2. Execute test session.
3. View session list (e.g. http://localhost:8081/teamengine/viewSessions.jsp).

**Expected behavior**
Session id shall

[2022-05-12 12:44] bpross-52n commented on #522
With the new path validation in place, two additional environment variables will have to be set:
TE_BASE=can be an empty directory
TE_BUILD=root of the Teamengine Java project
Otherwise, certain resources cannot be accessed by the tests. I will add documentation for this in the installation.html, if that is ok.

[2022-05-12 13:03] bpross-52n commented on #523
This was introduced within the code fortification effort by Chuck. I can revert the changes. Let me know if I should do it.

[2022-05-20 08:28] #418 closed

[2022-05-25 08:17] dstenger opened #524 "Revert pull request #519"
PR to be reverted: https://github.com/opengeospatial/teamengine/pull/519

Background: It seems that the problem is already solved by just setting the X_FORWARDED_PROTO header and without the code changes made by the referenced PR.

@bpross-52n Can you please check if the behavior is correct when just setting the X_FORWARDED_PROTO header (without #519)?

[2022-05-31 19:24] #523 closed

[2022-06-07 19:03] #522 closed

[2022-06-07 19:11] #524 closed

[2022-06-07 19:20] dstenger opened #528 "Unit tests TECoreTest.testNestedFailure and TECoreTest.testNestedWarning fail"
**Describe the bug**
Unit tests TECoreTest.testNestedFailure and TECoreTest.testNestedWarning fail when building the project with Maven.

**To Reproduce**
Steps to reproduce the behavior:
1. Build project with Maven

**Expected behavior**
All unit tests shall be passed successfully.

**Additional context**
Might be related to https://github.com/opengeospatial/teamengine/pull/525.

[2022-06-10 14:53] dstenger opened #530 "When user is logged in to TEAM Engine and returns to langing page, there is no button to start further test runs"
**Is your feature request related to a problem? Please describe.**
When user is logged in to TEAM Engine and returns to langing page, there is no button to start further test runs or to view old sessions.
Instead, the user has to logout and login again to execute further sessions/ view old sessions.
This behavior was detected on current master branch.

**Describe the solution you'd like**
There sh

[2022-06-10 19:29] dstenger opened #531 "TestNG test suites are instable with current master branch"
**Describe the bug**
When a TestNG test suite (e.g. ets-ogcapi-features10) is put into the same tomcat as the deps artifact of ets-kml22 (https://search.maven.org/remotecontent?filepath=org/opengis/cite/ets-kml22/1.14/ets-kml22-1.14-deps.zip), the execution of the TestNG test suite fails with error:

[code]

This error did not occur with TEAM Engine v5.4.1.

**To Reproduce**
Steps to reproduce the

[2022-06-10 19:41] dstenger opened #532 "Executing ets-wms-client13 test suite with master branch leads to unexpected password request"
**Describe the bug**
Executing ets-wms-client13 test suite with master branch (5.5-SNAPSHOT) leads to unexpected password request:
When starting the test run, the web browser asks for the password again (in a pop up).
This is probably a side effect of the security check implemented for the REST interface.

This error did not occur with TEAM Engine v5.4.1.

**To Reproduce**
Steps to reproduce the b

[2022-06-10 19:50] dstenger opened #533 "REST interface cannot be used with CTL test suites"
**Describe the bug**
With the current master branch it is not possible to use the REST interface with CTL test suites.

Following error occurs when requesting http://localhost:8081/te2/rest/suites/ (this site should just list all test suites):

[code]

This error did not exist in TEAM Engine v5.4.1.

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/opengeospatial/teamengine-

[2022-06-23 08:06] bpross-52n commented on #531
The reason for this is the slf4j-log4j12-1.7.6.jar library.

[2022-06-24 17:39] #532 closed

[2022-06-24 18:13] dstenger commented on #531
I can confirm that removing dependency slf4j-log4j12-1.7.6.jar solves the problem described in this issue.
Also ets-kml22 is still working.

Issue was created in ets-kml22 repository: https://github.com/opengeospatial/ets-kml22/issues/30

[2022-06-24 18:15] dstenger commented on #531
@bpross-52n Could you please provide some more details why this library is breaking TEAM Engine?
Afterwards, the issue can be closed.

[2022-06-28 06:37] Rhynchocephale opened #535 "Installation fails"
I am trying to install Team Engine on a Linux Mint. The `mvn install` instruction gives the following result:

[2022-06-28 08:35] ghobona commented on #535
TEAM Engine is designed to run on Java 8 and Tomcat 7.

Could you please confirm which versions of Java and Tomcat you are running?

[2022-06-28 08:36] ghobona commented on #535
Installation instructions are at http://opengeospatial.github.io/teamengine/installation.html

[2022-06-28 11:26] Rhynchocephale commented on #535
It was indeed the Java version. I assumed it was 8 or higher instead of just 8. Build succeeded, thank you.

[2022-06-28 11:26] #535 closed

[2022-06-30 08:15] bpross-52n commented on #531
With Teamengine 5.5-SNAPSHOT, there is a ClassNotFoundException: org.apache.log4j.Level. With Teamengine 5.4.1 another library is present: slf4j-jdk14-1.7.21.jar. This contains an implementation of the org.apache.log4j.Level.

[2022-06-30 08:16] #531 closed

[2022-06-30 09:15] dstenger commented on #271
@aaime
IntelliJ IDEA has the capability to run single tests with the TestNG plugin. You can start the tests via testng.xml and afterwards it is possible to run single tests individually.

However, most TestNG test suites use complex dependency structures between the tests. So, most tests will not work individually as the preconditions are not fulfilled.

This is the reason why we do not consider i

[2022-06-30 09:17] dstenger commented on #271
So, if there are not objections, I propose to close this issue.

[2022-06-30 09:32] #530 closed

[2022-06-30 09:32] #533 closed

[2022-07-04 08:26] #483 closed

[2022-07-04 08:32] dstenger commented on #488
https://github.com/opengeospatial/teamengine/blob/master/src/site/resources/images/ogc-logo-149x75.png must be replaced.

[2022-07-05 18:26] #498 closed

[2022-07-06 09:27] #488 closed

[2022-07-06 09:59] dstenger opened #541 "REST API: Test run with Accept application/zip returns 404"
**Describe the bug**
This bug was detected on current master branch and is not present in TEAM Engine v5.4.1.

When starting a test run with Accept header application/zip via TEAM Engine REST interface, HTTP status code 404 and an empty response body are returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Start any TestNG based test suite with current master branch of TEAM Engine.
2. E

[2022-07-06 09:59] dstenger opened #542 "REST API: Test runs with CTL based test suites return 500"
**Describe the bug**
This bug was detected on current master branch and is not present in TEAM Engine v5.4.1.

When starting a test run with a CTL based test suite via TEAM Engine REST interface, HTTP status code 500 and following response body are returned:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start any CTL based test suite with current master branch of TEAM Engine.
2. Exe

[2022-07-07 08:16] dstenger commented on #501
Was solved by configuring following in proxy: https://github.com/opengeospatial/teamengine/commit/eb01f3de9b3fc1bb0ddf3cb57e81dbd4b4c65e57

[2022-07-07 08:16] #501 closed

[2022-07-07 08:20] ghobona commented on #521
Fixed by https://github.com/opengeospatial/teamengine-site/pull/5

[2022-07-07 08:20] #521 closed

[2022-07-07 08:48] #542 closed

[2022-07-07 08:48] #541 closed

[2022-07-08 09:08] dstenger opened #544 "TEAM Engine cannot be started without setting java property javax.xml.parsers.DocumentBuilderFactory"
**Describe the bug**
TEAM Engine v5.5 cannot be started without setting java property `-Djavax.xml.parsers.DocumentBuilderFactory=com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start TEAM Engine without setting `-Djavax.xml.parsers.DocumentBuilderFactory=com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl` i

[2022-07-11 16:29] dstenger opened #545 "View Sessions button appears at unexpected position"
**Describe the bug**
This behavior was detected on Beta environment (https://cite.ogc.org/te2/).

The "View Sessions" button appears when logging in to TEAM Engine and accessing the landing page again.
Currently, the button is displayed in the middle right below the header which is an unexpected position.

**To Reproduce**
Steps to reproduce the behavior:
1. Login on https://cite.ogc.org/te2/.
2.

[2022-07-20 11:13] dstenger opened #548 "REST API: Test run against CTL based test suite does not return test result"
**Describe the bug**
When running a CTL based test suite via REST interface and setting HTTP header `Accept: application/rdf+xml`, the returned response contains elements `testsSkipped`, `testsPassed` and `testsWarning` filled with `0`. Thus, the report does not provide the test result.

However, when monitoring the log file, it seems that the tests were executed.

At the bottom, I added an exampl

[2022-07-28 08:16] #544 closed

[2022-08-08 08:13] dstenger commented on #517
@JohannaOtt The root cause of the crash was fixed and we disabled the restart.
If you detect any further problem, please inform us.

[2022-08-08 08:13] #517 closed

[2022-08-11 09:58] #545 closed

[2022-08-11 11:08] #548 closed

[2022-08-12 15:31] dstenger opened #553 "WFS 1.0 and WCS 2.0 test suites fail with IllegalStateException: Already connected"
**Describe the bug**
When WFS 1.0 and WCS 2.0 test suites are executed, several tests fail with following error message:
[code]

This failure is not expected and seems to be connected to TEAM Engine v5.5 as it does not occur with TEAM Engine v5.4.1.

The bug was detected with TEAM Engine v5.5.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://cite.ogc.org/te2/.
2. Validate https

[2022-08-12 16:38] dstenger commented on #553
@bpross-52n Can you please take a look at this bug?

[2022-08-25 08:19] bpross-52n opened #555 "Wrong URL in HTML reports for test using POST requests"
**Describe the bug**
See also [ETS WFS 2.0 Issue 233](https://github.com/opengeospatial/ets-wfs20/issues/233).
For failing POST requests the service URL passed when starting the test suite is used for the detailed report, instead of the URL used for the actual test.
For failing GET requests, the correct URL is shown in the report.

**To Reproduce**
Steps to reproduce the behavior:
See [ETS WFS 2.0

[2022-08-25 13:33] #553 closed

[2022-09-14 19:00] manxon opened #556 "TEAM Engine Tomcat 10.1 update"
Good day,

I just wanted to know if there are plan for updating teamengine to use a more recent versión of Tomcat server. I tested the teamengine.war for Tomcat 10 but it throws some exceptions regarding the te_base resources inclusion in the context.xml and for some filters.

Has someone given it a try?

Thank you

Julian

[2022-09-14 19:22] ghobona commented on #556
@manxon Yes, indeed. The current plan is for TEAM Engine 6.0 to support a more recent version of Tomcat and Java. We are currently experimenting but focused work on developing TEAM Engine 6.0 will start in Q3 of 2023.

[2022-09-14 19:30] manxon commented on #556
Thank you @ghobona I'll give it a try and you know =)

[2022-09-29 09:22] dstenger opened #558 "Some test suites display java.lang.AssertionError in HTML report"
**Describe the bug**
Some test suites, for example ets-ogcapi-processes10 and ets-wfs20, display java.lang.AssertionError in the HTML report after running the test suite via Web Browser Interface.

This bug was detected on Beta environment which currently uses TEAM Engine 5.5.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://cite.ogc.org/te2/.
2. Execute ets-ogcapi-processes10

[2022-10-27 08:50] dstenger opened #559 "Enhance EARL/HTML report to be generated when iut is not reachable"
**Is your feature request related to a problem? Please describe.**
The problem is described in https://github.com/opengeospatial/ets-wfs20/issues/225.

**Describe the solution you'd like**
Even if the iut is not reachable, an EARL/HTML report shall be generated containing a user friendly error message.

[2022-11-03 10:26] dstenger opened #560 "Create best practice documentation for failures caused by nested CTL tests"
**Is your feature request related to a problem? Please describe.**
Problem is described in https://github.com/opengeospatial/ets-wcs20/issues/113.

**Describe the solution you'd like**
Unit tests shall reflect the problem described in https://github.com/opengeospatial/ets-wcs20/issues/113.
Optionally, a new issue for a fix is created.

[2022-11-24 09:08] dstenger opened #561 "Implement consideration of config.xml on classpath"
This is especially important when a *aio.jar of a test suite is used. Then, the config.xml is taken from classpath and must not be referenced externally.

Also see https://github.com/opengeospatial/ets-wfs20/issues/230.